<style>
    .profile-avatar-container {position:relative;width:100px;margin:0 auto;}
    .profile-avatar-container .profile-user-img {width:100px;height:100px;}
    .profile-avatar-container .profile-avatar-text {display:none;}
    .profile-avatar-container:hover .profile-avatar-text {display:block;position:absolute;height:100px;width:100px;background:#444;opacity:.6;color:#fff;top:0;left:0;line-height:100px;text-align:center;}
    .profile-avatar-container button {position:absolute;top:0;left:0;width:100px;height:100px;opacity:0;}
</style>
<style type="text/css">
    .sm-st {background:#fff;padding:20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-bottom:20px;-webkit-box-shadow:0 1px 0px rgba(0,0,0,0.05);box-shadow:0 1px 0px rgba(0,0,0,0.05);}
    .sm-st-icon {width:60px;height:60px;display:inline-block;line-height:60px;text-align:center;font-size:30px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;float:left;margin-right:10px;color:#1a8551;}
    .sm-st-info {font-size:16px;padding-top:2px;text-align: center;}
    .sm-st-info span {display:block;font-size:24px;color:#1a8551;font-weight:600;}
    .sm-st .jine {color:#1a8551;font-size:18px;}
    .stat-elem {background-color:#fff;padding:18px;border-radius:40px;}
    .stat-info {text-align:center;background-color:#fff;border-radius:5px;margin-top:-5px;padding:8px;-webkit-box-shadow:0 1px 0px rgba(0,0,0,0.05);box-shadow:0 1px 0px rgba(0,0,0,0.05);font-style:italic;text-align:center;}
    .stat-icon {text-align:center;margin-bottom:5px;}
    .stats .stat-icon {color:#28bb9c;display:inline-block;font-size:26px;text-align:center;vertical-align:middle;width:50px;float:left;}
    .stat {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;margin-right:10px;}
    .stat .value {font-size:20px;line-height:24px;overflow:hidden;text-overflow:ellipsis;font-weight:500;}
    .stat .name {overflow:hidden;text-overflow:ellipsis;}
    .stat.lg .value {font-size:26px;line-height:28px;}
    .stat.lg .name {font-size:16px;}
    .stat-col .progress {height:2px;}
    .stat-col .progress-bar {line-height:2px;height:2px;}
    .item {padding:30px 0;}
</style>
<div class="row">
        <div class="col-sm-1 col-xs-1"> </div>
        <div class="col-sm-2 col-xs-6">
            <div class="sm-st clearfix">
                <div class="sm-st-info">
                    <span>{$coupon.today_count|default='0'}</span>
                    今日次數                            
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6">
            <div class="sm-st clearfix">
                <div class="sm-st-info">
                    <span>{$coupon.coupon_count|default='0'}</span>
                    總使用次數                           
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6">
            <div class="sm-st clearfix">
                <div class="sm-st-info">
                    <span>{$coupon.coupon_num|default='0'}</span>
                    剩餘數量                           
                </div>
            </div>
        </div>
    </div>
<div class="row animated fadeInRight">
   
    <div class="col-md-12">
        <div class="panel panel-default panel-intro panel-nav">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-list"></i> 訂單清單</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div class="widget-body no-padding">
                            <div id="toolbar" class="toolbar">
                                {:build_toolbar('refresh')}
                            </div>
                            <table id="table" class="table table-striped table-bordered table-hover" width="100%">

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
