<style type="text/css">
    .form-group label{padding: 5px;font-weight: 500;color: #000;}

    .danxuan .fa-circle{color: #eee;}
    .danxuan.on .fa-circle{display: inline-block;color: #18bc9b;}
</style>

<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="" style="min-height: 450px;">
    <input type="hidden" name="coupon_id" value="{$row.coupon_id}">
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">優惠名稱</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="coupon_name" name="row[coupon_name]" value="{$row.coupon_name}" data-rule="required;data1" />
        </div>
    </div>
    <div class="form-group has-success">
        <label for="c-logintime" class="control-label col-xs-12 col-sm-2">有效期</label>
        <div class="col-xs-12 col-sm-8" style="position: relative;">
            <input id="c-logintime" class="form-control datetimepicker " data-date-format="YYYY-MM-DD" data-use-current="true" name="row[coupon_start_time]" type="text" value="{$row.coupon_start_time}" style="width: 40%">
            至
            <input id="c-logintime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[coupon_end_time]" type="text" value="{$row.coupon_end_time}" style="width: 40%">
        </div>
    </div>
    
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">數量</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control NumText" id="coupon_num" name="row[coupon_num]" value="{$row.coupon_num}" data-rule="required;data2" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">會員類別</label>
        <div class="col-xs-12 col-sm-8">
            {foreach name="level" item="vo" key="k"}
                {foreach name="row['user_level']" item="vov"}
                        <?php
                            if($k == $vov){
                                $checked[$k] = 'checked';
                            }
                        ?>
                {/foreach}
                <label><input type="checkbox" name="row[user_level][]" value="{$k}" {$checked[$k]|default=''}>{$vo}</label>
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" name="row[no_product_categoryids]" value="{$row.no_product_categoryids}"/>
        <label class="control-label col-xs-12 col-sm-2">不可用分類</label>
        <div class="col-xs-12 col-sm-8">
            <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><small>{:__('Check all')}</small></label></span>
            <span class="text-muted"><input type="checkbox" name="" id="expandall" /> <label for="expandall"><small>{:__('Expand all')}</small></label></span>

            <div id="treeview"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="no_specials" class="control-label col-xs-12 col-sm-2">特價不可用</label>
            <div class="col-xs-12 col-sm-8">
                {:build_radios('row[no_specials]', ['0'=>'否', '1'=>'是'],$row.no_specials)}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="coupon_sn" class="control-label col-xs-12 col-sm-2">優惠码</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="coupon_sn" name="row[coupon_sn]" value="{$row.coupon_sn}" data-rule="required;coupon_sn" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="coupon_term-1" class="control-label col-xs-12 col-sm-3 discount">
                <input id="coupon_term-1" type="radio" value="1" name="row[coupon_term]" {if condition="$row['coupon_term'] eq 1"}checked="checked"{/if}>
                现金券</label>
            <div class="col-xs-12 col-sm-5">
                <input type="text" class="form-control NumDecText" id="coupon_cash" name="row[coupon_cash]" value="{$row.coupon_cash}" data-rule=";data5" />
            </div>
            <div class="col-xs-12 col-sm-2">
                元
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-sm-12">
            <label for="coupon_term-2" class="control-label col-xs-12 col-sm-3 discount">
                <input id="coupon_term-2" type="radio" value="2" name="row[coupon_term]" {if condition="$row['coupon_term'] eq 2"}checked="checked"{/if}>
                折&nbsp;&nbsp;&nbsp;&nbsp;扣</label>
            <div class="col-xs-12 col-sm-5">
                <input type="text" class="form-control NumText" id="coupon_discount" name="row[coupon_discount]" value="{$row.coupon_discount}" data-rule=";data6" />
            </div>
            <div class="col-xs-12 col-sm-2">
                %
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="min_money" class="control-label col-xs-12 col-sm-2">最低消費</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control NumDecText" id="min_money" name="row[min_money]" value="{$row.min_money}" data-rule="required;min_money" />
        </div>
    </div>

    <div class="form-group">
        <label for="coupon_content" class="control-label col-xs-12 col-sm-2">優惠說明</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="slide_url" name="row[coupon_content]" value="{$row.coupon_content}" data-rule="required;coupon_content" />
        </div>
    </div>
   
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">關閉</button>
        </div>
    </div>
</form> 