{include file="layout/public_head" /}
	<style>
		.mui-card .mui-control-content {padding: 10px;}
		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom: 2px solid #FFAA00;color: #FFAA00;}
		.mui-btn-success{border: 1px solid #7ac141;background-color: #7ac141;padding: 5px}
		.mui-segmented-control.mui-segmented-control-inverted{display: -webkit-box;overflow-x: scroll;}
	</style>
	<body style="background:#fff">
		{include file="common/header" /}
		<div class="mui-content" style="background: #fff;">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff">
					<a class="mui-control-item mui-active" href="#item1">全部</a>                          
					<a class="mui-control-item" href="#item2">赫曼</a>
					<a class="mui-control-item" href="#item3">調理寶</a>
					<a class="mui-control-item" href="#item3">護雅</a>
					<a class="mui-control-item" href="#item3">藍鵲</a>
					<a class="mui-control-item" href="#item3">片芯及其他</a>
					<a class="mui-control-item" href="#item3">片芯及其他</a>
					<a class="mui-control-item" href="#item3">片芯及其他</a>
				</div>
			</div>
			<div class="row" style="padding: 20px;padding-bottom: 2px;border-bottom: 1px solid #eee;">
			    <div class="product-top-item col-md-6">
			          <a href="" class="active">銷量</a>
			          <a href="">價格</a>
			          <a href="">評論</a>
			          <a href="">新品</a>
			    </div>
			    <div class="product-top-right col-md-6">
			          <a href="javascript: void(0);"><i class="fa fa-th-large" aria-hidden="true"></i></a>
			    </div>
			</div>
			<!--下拉刷新容器-->
			<div id="pullrefresh" class="mui-scroll-wrapper product_list2" style="top: 145px;"> 
				<div class="mui-scroll">
					<!--数据列表-->
					<ul class="mui-table-view mui-table-view-chevron mui-row">
						
					</ul>
				</div>
			</div>
		</div>

		{include file="common/script" /}
		<script>
			mui('.mui-scroll-wrapper').scroll();

			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			 
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					var table = document.body.querySelector('.mui-table-view');
					var cells = document.body.querySelectorAll('.mui-table-view-cell');
					for (var i = cells.length, len = i + 5; i < len; i++) {
						var li = document.createElement('li');
						li.className = 'swiper-slide mui-col-sm-12 mui-col-xs-12 list2';
						li.innerHTML = '  <div class="mui-pull-left mui-col-xs-4"><a class="news"></a><img src="img/f2_1.jpg" class="img_left" /></div><div class="mui-pull-right mui-col-xs-8" ><p class="p2">Beurer EM41 德國電子Beurer EM41 德國電子Beurer EM41 德國電子Beurer EM41 德國...</p><div style="line-height: 35px;"><p class="mui-pull-left"><span class="color_ro">$</span><span class="color_ro font18">388</span>  <span class="price">$688</span></p><button type="button" class="mui-btn mui-btn-success mui-pull-right">加入購物車</button></div></div>';
						table.appendChild(li);
					}
				}, 1500);
			}
			
			if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);
				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		</script>

	</body>

</html>