{include file="layout/public_head" /}
<style>
		.mui-segmented-control.mui-segmented-control-inverted{display: -webkit-box;overflow-x: scroll;}
		.mui-segmented-control .mui-control-item {padding: 0 10px;}
</style>
	<body style="background:#fff">

	<form action="{:url('product/search')}" method="get">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<input type="search" name="keyword"  class="search-input" placeholder="物理治療" value="{$keyword|default=''}"/>
			<a type="submit" class="mui-action-menu mui-pull-right index-hd-right search-btn"></a>
		</header>
	</form>
		<div class="mui-content" style="background:#fff">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff">
					<a class="mui-control-item mui-active" href="#item1">全部</a>
					{foreach name="getchild" item="vo"}
					<a class="mui-control-item {$input['categoryid']==$vo['id']?'mui-active':''}" data-catid="{}" href="{:url('product/index',array('categoryid'=>$vo['id']))}">{$vo.name}</a>
					{/foreach}
				</div>
			</div>
			<div class="search_page">
				<div id="item1" class="mui-control-content mui-active">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							 <div style="padding: 10px 20px;">
							 	<span>搜索歷史</span> <a class="mui-pull-right search-ico-qingchu" href="{:url('product/delkeyword')}"></a>
							 </div>

							 <div class="search-list">
								 {foreach name="keyword_list" item="vo"}
							 			<a>{$vo.keyword}</a>
								 {/foreach}
							 </div>
						</div>
					</div>
				</div>
				<div id="item1" class="mui-control-content">
					 
				</div>
				<div id="item1" class="mui-control-content">
					
				</div>
			</div>
			  	
		</div>
		<script>
			$('.search-btn').click(function(){
				$('form').submit();
			});
		</script>


		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>


	</body>

</html>