{include file="layout/public_head" /}
<style>
		.mui-segmented-control.mui-segmented-control-inverted{display: -webkit-box;overflow-x: scroll;}
		.mui-segmented-control .mui-control-item {padding: 0 10px;}
</style>
	<body style="background:#fff">

	<form action="{:url('product/search')}" method="get">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<input type="search" name="keyword"  class="search-input" placeholder="物理治療" value="{$keyword|default=''}" required oninvalid="setCustomValidity('請輸入關鍵字！')" oninput="setCustomValidity('')"/>
			<span type="submit" class="mui-action-menu mui-pull-right index-hd-right search-btn"></span>
		</header>
	</form>
		<div class="mui-content" style="background:#fff">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff">
					<a class="mui-control-item mui-active" href="#item1">全部</a>
					{foreach name="getchild" item="vo"}
					<a class="mui-control-item {$input['categoryid']==$vo['id']?'mui-active':''}" data-catid="{}" href="{:url('product/index',array('categoryid'=>$vo['id']))}">{$vo.name}</a>
					{/foreach}
				</div>
			</div>

			{if condition="$keyword"}
				<div>
					<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff">
						<a class="mui-control-item mui-active" href="#item1">全部</a>
						<a class="mui-control-item" href="#item2">赫曼</a>
						<a class="mui-control-item" href="#item3">調理寶</a>
						<a class="mui-control-item" href="#item3">護雅</a>
						<a class="mui-control-item" href="#item3">藍鵲</a>
						<a class="mui-control-item" href="#item3">片芯及其他</a>
					</div>
				</div>
				<div class="search_page">
					<div class="product_list">
						<ul class="swiper-wrapper mui-row">

							{foreach name="product_list" item="vo"}
							<li class="swiper-slide mui-col-sm-6 mui-col-xs-6 list">
								<a class="news"></a>

								<a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
									{if condition="$vo['cover']"}
									<img src="__PUBLIC__/{$vo.cover}"/>
									{else/}
									<img src="__TMPL_PUBLIC__/img/default.jpg">
									{/if}
									<p class="p2">{$vo.product_name}</p>
								</a>
								<p><span class="color_ro">$</span><span class="color_ro font18">{:product_price($vo['product_id'])}</span>  <span class="price">${$vo.price}</span></p>
							</li>
							{/foreach}

						</ul>
					</div>

					<div class="Info_list">
						<div style="padding: 10px;border-bottom: 10px solid #efefef;">相關資訊</div>
						<ul class="mui-table-view">
							{foreach name="new_list" item="vo"}
								<li class="mui-table-view-cell">
									<img src="{:fa_get_image_url($vo['smeta'])}"  class="img_left">
									<div class="d1">
										<h5>{$vo.post_title}</h5>
										<p>{$vo.post_excerpt}</p>
									</div>
								</li>
							{/foreach}
						</ul>
					</div>
				</div>
			{else/}
				<div class="search_page">
					<div class="mui-scroll">
						<div style="padding: 10px 20px;">
							<span>搜索歷史</span> <a class="mui-pull-right search-ico-qingchu" href="{:url('product/delkeyword')}"></a>
						</div>
						<div class="search-list">
							{foreach name="keyword_list" item="vo"}
							{if condition="!empty($vo['keyword'])"}
								<a href="{:url('product/search',array('keyword'=>$vo['keyword']))}">{$vo.keyword}</a>
							{/if}
							{/foreach}
						</div>
					</div>
				</div>
			{/if}
		</div>

		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		{include file="common/script" /}
		<script>
			$('.search-btn').click(function(){
				$('form').submit();
			});
		</script>
		<script>
			mui('.mui-scroll-wrapper').scroll();
		</script>
	</body>

</html>