<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input{width:100%;}
        .edit-form tr th:first-child,.edit-form tr td:first-child{
            width:20%;
        }
        .edit-form tr th:last-child,.edit-form tr td:last-child{
            display: none;
        }
    }
    .title{padding: 20px;font-weight: bold;clear: both}
    .form-group2 .col-sm-12{margin-top: 10px;}
    .meta_title{line-height: 143px;text-align:  center;border: 1px solid #eee;border-top: 0;border-left: 0;}
</style>
<a href="javascript:window.location.reload();" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>

<div style="clear: both"></div><br>
<div class="panel panel-default panel-intro col-sm-6" >
    <div class="panel-body">
        <div class="tab-pane active">
            <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.config/meta_edit')}" >
                <div class="form-group">
                    <div class="col-md-12 col-lg-4" style="margin-bottom: 10px;">
                        <label for="rule" class="control-label col-xs-12 col-sm-5">運費：</label>
                        <div class="col-xs-12 col-sm-6 ">
                            <input type="text" class="form-control NumText" id="rule" name="row[freight][freight]" value="{$config_data.freight.freight}">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4" style="margin-bottom: 10px;">
                        <label for="rule" class="control-label col-xs-12 col-sm-5">免運費金額：</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control NumText" id="rule" name="row[freight][no_freight]" value="{$config_data.freight.no_freight}">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4" style="margin-bottom: 10px;">
                        <label for="rule" class="control-label col-xs-12 col-sm-5 ">偏遠地區服務費：</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control NumText" id="rule" name="row[freight][remote_area]" value="{$config_data.freight.remote_area}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 ">
                        <label for="rule" class="control-label col-xs-12 col-md-5 col-lg-2">免服务费地区：</label>
                        <div class="col-xs-12  col-md-7 col-lg-7" style="padding-top: 7px;">
                            {:implode(' ',$region)}   <a href="javascript:;" id="fastadmin">修改</a>
                        </div>
                    </div>
                </div>
                <div  class="form-group" style="opacity: 0;margin: 0;">
                    <div class="col-sm-12" style="margin-bottom: 10px;">
                        <label for="rule" class="control-label col-xs-0 col-sm-4">sdasdas</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control NumText" id="rule" />
                        </div>
                        <div class="col-xs-12 col-sm-2">=分</div>
                    </div>
                    <div class="col-sm-12" style="margin-bottom: 10px;">
                        <label for="rule" class="control-label col-xs-0 col-sm-4">sdasdas</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control NumText" id="rule" />
                        </div>
                        <div class="col-xs-12 col-sm-2">=分</div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-4">
                        <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="panel panel-default panel-intro col-sm-6" >
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active">
                <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.config/meta_edit')}">
                    <div  class="form-group">
                        <div class="col-md-12 col-lg-6"  style="margin-bottom: 10px;">
                            <label for="rule" class="control-label col-xs-12 col-sm-4">积分获取：</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control NumText" id="rule" name="row[integral][obtain]" value="{$config_data.integral.obtain}" />
                            </div>
                            <div class="col-xs-12 col-sm-2">=1分</div>
                        </div>
                        <div class="col-md-12 col-lg-6"  style="margin-bottom: 10px;">
                            <label for="rule" class="control-label col-xs-12 col-sm-4">积分使用：</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control NumText" id="rule" name="row[integral][use]" value="{$config_data.integral.use}" />
                            </div>
                            <div class="col-xs-12 col-sm-2">=$1</div>
                        </div>
                    </div>
                    <div class="title" style="padding-top: 0;">会员升级</div>
                    <?php $level = array('level1'=>'普通会员','level2'=>'白金会员','level3'=>'金牌会员','level4'=>'商业会员',);?>
                    <div  class="form-group">
                        {foreach $config_data.user_upgrade as $index=>$item}
                        <div class="col-md-12 col-lg-6" style="margin-bottom: 10px;">
                            <label for="rule" class="control-label col-xs-12 col-sm-4">{$level[$index]}：</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control NumText" id="rule" name="row[user_upgrade][{$index}]" value="{$item}" data-rule="required;data4"/>
                            </div>
                            <div class="col-xs-12 col-sm-2">=分</div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="title">Meta 管理</div>
<div class="panel panel-default panel-intro col-sm-12" >

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active">
                <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.config/meta_edit')}">
                    <div class="col-lg-2  col-md-2 meta_title">
                        主页
                    </div>
                    <div  class="form-group form-group2 col-lg-10 col-md-10" style="border-bottom:  1px solid #eee;padding-bottom:  20px;margin: 0;">
                        <?php $ch = array('title'=>'标题','keywords'=>'关键字','description'=>'描述');?>
                        {foreach $config_data.index_seo as $index=>$item}
                        <div class="col-sm-12">
                            <label for="rule" class="control-label col-xs-2 col-md-2">{$ch[$index]}</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" id="rule" name="row[index_seo][{$index}]" value="{$item}" />
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="col-lg-2  col-md-2 meta_title">
                        产品列表
                    </div>
                    <div  class="form-group form-group2 col-lg-10 col-md-10" style="border-bottom:  1px solid #eee;padding-bottom:  20px;margin: 0;">
                        {foreach $config_data.product_seo as $index=>$item}
                        <div class="col-sm-12">
                            <label for="rule" class="control-label col-xs-2 col-md-2">{$ch[$index]}</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" id="rule" name="row[product_seo][{$index}]" value="{$item}" />
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="col-lg-2 col-md-2  meta_title" style="line-height: 130px;text-align:  center;">
                        社区服务资讯
                    </div>
                    <div  class="form-group form-group2  col-lg-10 col-md-10" style="border-bottom:  1px solid #eee;padding-bottom:7px;margin: 0;">

                        {foreach $config_data.news_seo as $index=>$item}
                        <div class="col-sm-12">
                            <label for="rule" class="control-label col-xs-2 col-md-2">{$ch[$index]}</label>
                            <div class="col-xs-12 col-sm-6">
                                <input type="text" class="form-control" id="rule" name="row[news_seo][{$index}]" value="{$item}" />
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


