{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
  <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">
 
 
 
   <div class="row top_banner"><img src="__TMPL_PUBLIC__/img/info_top_banner.jpg" class="col-md-12" /></div>
    <div class="container bgcolor_white">
        <ol class="breadcrumb" style="padding:  20px;background-color: #fff;border-bottom: 1px solid #eee;">
            <li><a href="{:url('index/index')}">主頁</a></li>
            <li><a href="{:url('home/news/index')}">社區服務資訊</a></li>
            <li class="active">{$data.post_title}</li>
        </ol>
        <div class="info_detail"> 
              <div>
                 <h3>{$data.post_title}</h3>
                 <p>发布时间：{$data.post_date}</p>
                  <div class="content">
                    {$data.post_content}
                  </div>

                  <div class="nextfa"> 
                  
                    <if condition="!empty($prev)">
                        <a href="{:url('home/news/article',array('id'=>$prev['id']))}" class="">上一篇：{$prev.post_title}</a>
                    </if> 
                    <if condition="!empty($next)"> 
                        <a href="{:url('home/news/article',array('id'=>$next['id']))}" class="">下一篇：{$next.post_title}</a>
                    </if> 


                    <div class="clearfix"></div> 
                  </div>
              </div>
        </div>
        
    </div> 
 

  {include file="common/footer"/} 
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    

  </body>

</html>