{include file="layout/public_head" /}
<!--头部 str-->
   {include file="common/header"/} 
<!--头部 end-->
{include file="common/nav"/}
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y">
    <div class="row top_banner"><img src="__TMPL_PUBLIC__/img/info_top_banner.jpg" class="col-md-12" /></div>
     <div class="container info_list bgcolor_white" >
             
        <div class="row">
            <div class="col-sm-2 left-list" style="padding:0">
                    <div class="left-title">
                        <h3>社區</h3>
                        <span>Community</span>
                    </div>
                    <div class="left-ist">
                        <a href="" class="on">活動資訊</a> 
                        <a href="">專  訪</a> 
                    </div>
        
            </div>

            <div class="col-sm-10 right-list">
         
                <ol class="breadcrumb" style="padding:  20px;background-color: #fff;border-bottom: 1px solid #eee;">
                    <li><a href="#">首頁</a></li>
                    <li class="active"><a href="#">社區服務資訊</a></li>
                </ol>
                <ul>
                   
                   {foreach name="list" item="vo"}
                    <?php 
                    ?>
                        <li class="row">
                            <div class="col-sm-3 d1">
                                <img src="{:fa_get_image_url($vo['smeta'])}" />
                            </div>
                            <div class="col-sm-7 d2">
                                <h4><a href="{:url('home/news/article',array('id'=>$vo['id']))}">{$vo.post_title}</a></h4>
                                <p>
                                    {$vo.post_excerpt}
                                </p>
                            </div>
                            <div class="col-sm-2 d3">
                                <p>{:date('m-d',strtotime($vo['post_date']))}<br><i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                            </div>
                        </li>
                    {/foreach}
                   
                   <!--
                    原html模版
                    <li class="row">
                        <div class="col-sm-3 d1">
                            <img src="__TMPL_PUBLIC__/img/info_list_img1.jpg" />
                        </div>
                        <div class="col-sm-7 d2">
                            <h4>母親節KTO展銷</h4>
                            <p>
                                活動日期：7月11日-7月21日<br/>
                                活動時間：11:00 —— 20:00<br/>
                                活動地址：新界將軍澳長寧路2號TKO Gateway 東翼地下堂
                            </p>
                        </div>
                        <div class="col-sm-2 d3">
                            <p>10-19<br><i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </li>-->


                </ul>
                <div class="pagination ya2">
                    <ul > 
                        <li><a href="#">上一頁</a> </li>
                        <li class="active current"><span class="current">1</span> </li>
                        <li><a href="#"> 2</a> </li>
                        <li><a href="#"> 3</a> </li>
                        <li><a href="#"> 4</a> </li>
                        <li><a href="#"> 5</a> </li>
                        <li><a href="#"> 6</a> </li>
                        <li><a href="#"> ...</a> </li>
                        <li><a href="#"> 234</a> </li>
                        <li><a href="#">下一頁</a> </li>
                        <li><a href="#">尾页</a> </li> 
                    </ul> 
                </div>
                 
            </div>


        </div>
    </div>
    {include file="common/footer"/} 
    <script type="text/javascript">

    </script> 
    
    </body>
</html>