{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
  <style type="text/css">
      .product li {border-top:0;}
      .rating{
          width:240px;
          height:48px;
      }
      .rating-item{
          float: left;
          width:20px;
          height:20px;
          background:url(__TMPL_PUBLIC__/img/icon.png) no-repeat ;
          background-size:20px ;
          cursor: pointer;
          margin-right: 5px;
      }
  </style>>
  <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;"> 
    <div class="container">
  		<div class="alzx-crumbs alzx-crumbs-f1"> 
  			<div class="alzx-con" style="border:  0;margin: 0;"> 
  				<a class="crumbs-01" href="{:url('index/index')}">主頁</a>
                {foreach name="getparents" item="vo"}
                    {if condition="$vo['id'] neq 14"}
                        <em>&gt;</em>
                        <a href="{:url('product/index',array('categoryid'=>$vo['id']))}"><span class="crumbs-02">{$vo.name}</span></a>
                    {/if}
                {/foreach}
  			</div>
  		</div>
	
      <div class="product_detail bgcolor_white">

          <div class="row hd">
            <div class="col-md-6" style="">
                    <div class="imgdet wrap">
                      <div class="imglist">
                        <ul>
                        {foreach name="img_url" item="vo"}
                          <li class="{$key=="0"?'active':''}"><img src="__PUBLIC__/{$vo}" alt=""></li>
                        {/foreach}
                        </ul>
                      </div>
                      <div class="imgpart">
                        <div class="pic">
                          <img src="__PUBLIC__/{$goods.cover}" alt="">
                          <div class="magnify"></div>
                        </div>
                        <div class="bigpic">
                          <img src="__PUBLIC__/{$goods.cover}" alt="">
                      </div>

                      </div>
                    </div>
                    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
                    <script src="__TMPL_PUBLIC__/js/imgdet.js"></script>
            </div>
            <div class="col-md-6">
                <div class="title_detail">
                  <h4>{$goods.product_name}</h4>
                  <p>{$goods.summary}</p>
                </div>
                <div class="row price">
                    <div class="col-md-6" style="">
                        港幣：<span>$<i>{:product_price($goods['product_id'])}</i></span>
                    </div>

                    <div class="col-md-6" style="">
                        人民幣約：$xxxx元
                    </div>
                </div>
                <div class="row spec">
                    <div class="col-md-6" style="">
                       商品編號：{$goods.freight_num}
                    </div>
                    <div class="col-md-6" style="">
                        商品品牌：{$goods.brand}
                    </div>
                    <div class="col-md-6" style="">
                        郵寄重量：{$goods.weight_ioc}克（g）
                    </div>
                    <div class="col-md-6" style="">
                        可售庫存：{$goods.stock}件
                    </div>
                </div>
            <form action="{:URL('cart/order_ok')}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return cartform()" id="cart-form">

                <div class="row number">
                  <div class="col-md-12" style="">
                     数量：
                    <input id="min" name="" type="button" value="-" class="reduce" />  
                    <input id="text_box" name="goods_num" type="text" value="1" style="width:60px;text-align: center"/>
                    <input id="add" name="" type="button" value="+" class="add" />
                  </div>
                </div>
                <div class="row" style="padding:10px 0 ">
                   <div class="col-md-5 col-xs-6" style="">
                        <button type="submit" class="btn btn-default btn-default-edit" style="margin-bottom: 1em">快速購買</button>
                    </div>
                     <div class="col-md-5 col-xs-6" style="">
                        <button type="button" class="btn btn-warning btn-warning-edit" id="adds"><img src="__TMPL_PUBLIC__/img/invest_detail_addshop.png" style="width:  20px;margin-right:  10px;">加入購物車</button>
                    </div> 
                </div>
                <input type="hidden" name="goods_id" value="{$goods.product_id}">
                </form>
              <div></div>
            </div>
          </div>
          <div> 
              <div  class="xg-title">
                  相關產品
              </div>
              <div class="product"> 

                    <ul class="row" style="border-top: 1px solid #e5e5e5;margin: 0;">
                        {foreach name="goods_list" item="vo"}
                        {if condition="$key lt 5"}
                            <li class="col-md-2 col-xs-3">
                                <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
                                {if condition="$vo['cover']"}
                                    <img src="__PUBLIC__/{$vo.cover}">
                                {else/}
                                 <img src="__TMPL_PUBLIC__/img/default.jpg">
                                {/if}
                                </a>
                                <div class="d2">
                                    <p class="nowrap"><a href="{:url('product/detail',array('id'=>$vo['product_id']))}">{$vo.product_name}</a></p>
                                      {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                      {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                      {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                    <div>
                                        <span style="font-size: 20px;"><i>￥</i>{:product_price($vo['product_id'])}</span>
                                        <a class="adds" data-productid="{$vo.product_id}">+</a>
                                    </div>
                                </div>
                            </li>
                        {/if}
                        {/foreach}
                    </ul>
               </div>
          </div>

          <div>
              <div class="investment_f">
                <div class="investment_title">
                  <div class="on">商品詳情</div>
                  <div>用戶評論(13)</div> 
                </div>
                <div class="investment_con">
                  <div class="investment_con_list" style="display: block;">
                    {$goods.content}
                  </div>
                  <div class="investment_con_list comment">
                      <div class="xuan font16 color_ro">
                         发表评论
                      </div>
                      <div class="message" style="padding:  20px;">
                          <div class="row" style="">
                              <textarea rows="3" cols="20" style="height:100px;margin: 0 auto;border:  1px solid #eee;padding: 10px;" class="col-md-12">                                在w3school，你可以找到你所需要的所有的网站建设教程。
                            </textarea>
                          </div>
                          <ul id="rating" class="rating">
                              <li class="rating-item" title="很不好"></li>
                              <li class="rating-item" title="不好"></li>
                              <li class="rating-item" title="一般"></li>
                              <li class="rating-item" title="好"></li>
                              <li class="rating-item" title="很好"></li>
                          </ul>
                          <br>
                          <div class="row" style="">
                            <button type="button" class="btn btn-warning btn-warning-edit col-md-1" style="width:120px">发布共享</button>
                          </div>
                      </div>
                        <div class="xuan">
                          <a href="" class="color_ro">全部評價(115)</a>
                          <a href="">滿意 (13）</a>
                          <a href="">一般 (89）</a>
                          <a href="">不滿意 (0）</a>
                        </div>

                        <ul class=" pllist">
                          
                          
                          <li class="row">
                                <div class="col-md-2 col-xs-3 d1">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p>2018-07-10<span>21:00</span></p>
                                </div>
                                <div class="col-md-7 col-xs-6 d2">
                                    鞋墊很好用，合寬扁/普通足弓，有助後足跟減壓﹑避震及防滑
                                </div>
                                <div class="col-md-3 col-xs-3 d3">
                                  <div class="row">
                                      <img src="img/gg1.jpg" class="col-md-4 col-xs-4" />
                                      <p class="col-md-8 col-xs-8" style="padding: 0;">
                                          531989872****<br>
                                          <span>普通會員</span>
                                      </p>
                                  </div>
                                </div>
                          </li> 
                          
                          <li class="row">
                                <div class="col-md-2 col-xs-3 d1">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p>2018-07-10<span>21:00</span></p>
                                </div>
                                <div class="col-md-7 col-xs-6 d2">
                                    鞋墊很好用，合寬扁/普通足弓，有助後足跟減壓﹑避震及防滑
                                </div>
                                <div class="col-md-3 col-xs-3 d3">
                                  <div class="row">
                                      <img src="img/gg1.jpg" class="col-md-4 col-xs-4" />
                                      <p class="col-md-8 col-xs-8" style="padding: 0;">
                                          531989872****<br>
                                          <span>普通會員</span>
                                      </p>
                                  </div>
                                </div>
                          </li> 

                        </ul>


                        <div class="pagination">

                        	<ul> 
                        		<li><a href="#">上一頁</a> </li>
                        		<li class="active current"><span class="current">1</span> </li>
                        		<li><a href="#"> 2</a> </li>
                        		<li><a href="#"> 3</a> </li>
                        		<li><a href="#"> 4</a> </li>
                        		<li><a href="#"> 5</a> </li>
                        		<li><a href="#"> 6</a> </li>
                        		<li><a href="#"> ...</a> </li>
                        		<li><a href="#"> 234</a> </li>
                        		<li><a href="#">下一頁</a> </li>
                        		<li><a href="#">尾页</a> </li> 
                        	</ul>	

                        </div>
                        <div class="clear"></div>

                  </div> 
                </div>
              </div>
          </div>




      </div>
    </div>

<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="__TMPL_PUBLIC__/js/scripts.js"></script>
<script src="__TMPL_PUBLIC__/js/star.js"></script>
{include file="common/script" /}
    <script>
        //调用方法
        //点击后可再选
        $('#rating').star({
            mode:'LightEntire', //整颗星
            num:5,
        });
        $('#rating2').on('chosen',function(){
            $('#rating').star('unbindEvent');
        })
    </script>
   <script>
      $(document).ready(function(){
      //获得文本框对象
      var t = $("#text_box");
      //初始化数量为1,并失效减
      $('#min').attr('disabled',true);
          //数量增加操作
          $("#add").click(function(){    
              // 给获取的val加上绝对值，避免出现负数
              t.val(Math.abs(parseInt(t.val()))+1);
              if (parseInt(t.val())!=1){
              $('#min').attr('disabled',false);
              };
          }) 
          //数量减少操作
          $("#min").click(function(){
          t.val(Math.abs(parseInt(t.val()))-1);
          if (parseInt(t.val())==1){
          $('#min').attr('disabled',true);
          };
          })
       
      });

      $(function() {
          function tabs(tabTit, on, tabCon) {
              $(tabCon).each(function() {
                  $(this).children().eq(0).show();
              });
              $(tabTit).each(function() {
                  $(this).children().eq(0).addClass(on);
              });
              $(tabTit).children().click(function() {
                  $(this).addClass(on).siblings().removeClass(on);
                  var index = $(tabTit).children().index(this);
                  $(tabCon).children().eq(index).show().siblings().hide();
              });
          }
          tabs(".investment_title", "on", ".investment_con");
      });

      function cartform(){
          //console.log($('#cart-form').serializeArray());
          // jquery 表单提交
          $("#cart-form").ajaxSubmit(function(data){
              console.log(data);
              if(data.code == 0){
                  $.message({message:data.msg,type:'warning',time:'3000'});
              }else{
                  //$.message(data.msg);
                  setTimeout(function (){
                      window.location = data.url
                  },1500);
              }
          });
          //  return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
      }

    </script>
    {include file="common/footer"/}


  </body>

</html>