{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
  <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">
    <style>
    .pagination{display: none}
    </style>
    <div class="container bgcolor_white">
      <div class="pr_name">
          {foreach name="getparents" item="vo"}
              {if condition="$vo['id'] neq 14"}
                 {$vo.name}
              {/if}
          {/foreach}
      </div>
      <div class="{$input['style'] == 'list'?'product':'product2'}">
        <div class="row" style="padding: 20px 0;">
            <form method="get" action="{:url('product/index')}" id="search">
                <?php
                    $last = 'javascript:';
                    $next = 'javascript:';
                    $url =  url('product/index',array('categoryid'=>$input['categoryid'],'sort'=>$sort));
                    if($product_list->currentPage() != 1 ){
                     $last =$url.'?page='.($product_list->currentPage()-1);
                    }
                    if($product_list->currentPage() < $product_list->lastPage()){
                        $next =$url.'?page='.($product_list->currentPage()+1);
                    }
                ?>
                <input type="hidden" name="categoryid" value="{$input['categoryid']}">
                <input type="hidden" name="sort" value="{$sort}">
                <input type="hidden" name="search" value="true">
                <div class="product-top-item col-md-6">
                    {foreach name="$sort_array" item="vo"}
                      <a href="javascript:;"  data-sort="{$key}-{if condition="strpos($sort,'desc') !== false"}asc{else/}desc{/if}" class="{if condition="strpos($sort,$key) !== false"}active{/if}">{$vo}</a>
                    {/foreach}
                </div>
                <div class="product-top-right col-md-6">
                    {if condition="$input['style'] eq 'list'"}
                     <a href="{:url('product/index',array('style'=>'grid','categoryid'=>$input['categoryid']))}"><i class="fa fa-list" aria-hidden="true"></i></a>
                    {else/}
                    <a href="{:url('product/index',array('style'=>'list','categoryid'=>$input['categoryid']))}"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                    {/if}
                    共 <span class="color_ro">{$product_list->total()}</span> 件商品
                    <span><i class="color_ro" style="font-style: inherit;">{$product_list->currentPage()}</i>/{$product_list->lastPage()}</span>
                    <a href="{$last}"  id="last"><i class="fa fa-angle-left angle" aria-hidden="true"></i></a>
                    <a href="{$next}" id="next"><i class="fa fa-angle-right angle disabled" aria-hidden="true" ></i></a>
                </div>
            </form>
            {$product_list->render()}
        </div>
          <ul class="row">
              {foreach name="$product_list" item="vo"}

              {if condition="$input['style'] eq 'grid'"}
                  <li class="col-md-6 col-xs-6">
                    <div class="row">
                        <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
                            {if condition="$vo['cover']"}
                                <img src="__PUBLIC__/{$vo.cover}" class="img_left col-md-4 auto_img" id="img_{$vo.product_id}"/>
                            {else/}
                                <img src="__PUBLIC__/img/default.jpg" class="img_left col-md-4 auto_img">
                            {/if}
                        </a>
                      <div class="d1 col-md-8">
                      <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
                        <p>{$vo.product_name}</p>
                          {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                          {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                          {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                      </a>
                        <div style="padding-top: 1.5em;">
                            <span style="font-size: 20px;"><i>$</i>
                                  {:product_price($vo['product_id'])}
                            </span>
                            <a class="adds" data-productid="{$vo.product_id}">+</a>
                        </div>
                      </div>
                    </div>
                  </li>
              {/if}
              {if condition="$input['style'] eq 'list'"}
                  <li class="col-md-3 col-xs-4">
                      <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
                          {if condition="$vo['cover']"}
                          <img src="__PUBLIC__/{$vo.cover}" id="img_{$vo.product_id}" class="img_left2 auto_img"/>
                          {else/}
                          <img src="__TMPL_PUBLIC__/img/default.jpg"  class="img_left2" id="img_{$vo.product_id}"/>
                          {/if}
                      </a>
                      <div class="d2">
                          <a href="{:url('product/detail',array('id'=>$vo['product_id']))}"/>
                              <p>{$vo.product_name}</p>
                          </a>
                          {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                          {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                          {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                          <div>
                              <span style="font-size: 20px;"><i>$</i> {:product_price($vo['product_id'])} </span>
                              <a class="adds" data-productid="{$vo.product_id}" data-flyimg="true">+</a>
                          </div>
                      </div>
                  </li>
              {/if}
              {/foreach}
              {if condition="count($product_list) eq 0"}
              <div style="text-align:  center;padding:  20px;">没有商品信息</div>
              {/if}
          </ul>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
    {include file="common/script" /}
    {include file="common/footer"/}
    <script type="text/javascript">
        $("#search .product-top-item a").click(function(){
            var sort = $(this).data('sort');
            if(sort){
                $('input[name=sort]').val(sort);
                $('#search').submit();
            }
            return false;
        });
    </script>
  </body>
</html>