{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
  <body style="background: url(img/index_bg.jpg) repeat-y;">
 
 
 
 
    <div class="container bgcolor_white">
      <div class="pr_name">內地客戶</div>
      <div class="product">
          


        <div class="row" style="padding: 20px 0;">
            <div class="product-top-item col-md-6">
                  <a href="" class="active">銷量</a>
                  <a href="">價格</a>
                  <a href="">評論</a>
                  <a href="">新品</a>
            </div>
            <div class="product-top-right col-md-6">
                  <a href="{:url('product/index')}"><i class="fa fa-th-large" aria-hidden="true"></i></a>

                  共 <span class="color_ro">68</span> 件商品      
                  <span><i class="color_ro" style="font-style: inherit;">10</i>/68</span>
                  <a href="javascript: void(0);"><i class="fa fa-angle-left angle" aria-hidden="true"></i></a>
                  <a href="javascript: void(0);"><i class="fa fa-angle-right angle" aria-hidden="true"></i></a>
            </div>

        </div>

          <ul class="row">
              {foreach name="product_list" item="vo"}
                  <li class="col-md-3 col-xs-3">
                      {if condition="$vo['cover']"}
                         <img src="__PUBLIC__/{$vo.cover}"/>
                      {else/}
                         <img src="__TMPL_PUBLIC__/img/default.jpg">
                      {/if}
                        <div class="d2">
                            <p>{$vo.product_name}</p>
                          <p class="color_ro">优惠全民享</p>
                          <div>
                              <span style="font-size: 20px;"><i>￥</i>{$vo.price}</span>
                              <a class="adds" data-id="{$vo.product_id}">+</a>
                          </div>
                        </div>
                  </li>
              {/foreach}


          </ul>
        </div>
 
 
    </div>
    {include file="common/footer"/}
  </body>

</html>