{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
  <body style="background: url(img/index_bg.jpg) repeat-y;">
    <div class="container bgcolor_white">
      <div class="pr_name">搜索結果</div>
      <div class="product">
           
          <ul class="row">
              <li class="col-md-3 col-xs-3">
                    <img src="__TMPL_PUBLIC__/img/f2_1.jpg">
                    <div class="d2">
                      <p>GH 人造皮 2 磅運動沙包GH 人造皮 2 磅運動沙包 ...</p>
                      <p class="color_ro">优惠全民享</p>
                      <div>
                          <span style="font-size: 20px;"><i>$</i>1234</span>
                          <a class="adds">+</a>
                      </div>
                    </div>
              </li> 

              <li class="col-md-3 col-xs-3">
                    <img src="__TMPL_PUBLIC__/img/f2_1.jpg">
                    <div class="d2">
                      <p>GH 人造皮 2 磅運動沙包GH 人造皮 2 磅運動沙包 ...</p>
                      <p class="color_ro">优惠全民享</p>
                      <div>
                          <span style="font-size: 20px;"><i>$</i>1234</span>
                          <a class="adds">+</a>
                      </div>
                    </div>
              </li> 
              
              <li class="col-md-3 col-xs-3">
                    <img src="__TMPL_PUBLIC__/img/f2_1.jpg">
                    <div class="d2">
                      <p>GH 人造皮 2 磅運動沙包GH 人造皮 2 磅運動沙包 ...</p>
                      <p class="color_ro">优惠全民享</p>
                      <div>
                          <span style="font-size: 20px;"><i>$</i>1234</span>
                          <a class="adds">+</a>
                      </div>
                    </div>
              </li>



          </ul>	 
        </div>
        <div class="pr_name">相關新聞</div>
        <div class="info_list">
          <div class="right-list">
                <ul>



                {foreach name="new_list" item="vo"}
                   <li class="row">
                        <div class="col-sm-2 col-xs-2 d1">
                            <img src="{:fa_get_image_url($vo['smeta'])}" />
                        </div>
                        <div class="col-sm-8 col-xs-8 d2">
                            <h4 style="margin: 5px 0;"><a href="{:url('news/article',array('id'=>$vo['id']))}">{$vo.post_title}</h4>
                            <p>
                                {$vo.post_excerpt}
                            </p>
                        </div>
                        <div class="col-sm-2 d3">
                            <p>{:date('m-d',strtotime($vo['post_date']))}<br><i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                        </div>
                    </li>
                {/foreach}

                </ul>
          </div>
        </div>
         
            </div>
    {include file="common/footer"/}
  </body>

</html>