{include file="layout/public_head" /}
	<style>
		.mui-card{box-shadow: none;border-radius: 5px;}
	</style>
	<body>
	<form action="{:URL('cart/order_ok')}" method="post" enctype="multipart/form-data" onsubmit="return cartform()" id="cart-form">

	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<h1 class="mui-title">購物車</h1>
		</header>
		{if condition="count($car_list) neq 0"}
		<nav class="mui-bar mui-bar-tab" style="box-shadow: none;padding-top: 5px;padding-right: 5px;">
			<div class="mui-checkbox mui-col-sm-1 mui-col-xs-1" style="line-height: 40px;width: 80px;height:  40px;float: left;">
				<input name="checkbox" value="" type="checkbox" style="left: 8px;top: 5px;" id="checked" checked="checked" data-id="1">
			<label style="line-height: 40px;padding-left: 40px;padding-right: 0;">全选</label></div>
			<button type="type" class="mui-btn mui-btn-success mui-pull-right" style="top: 5px;">結算(<span id="total_sum">0</span>)</button>
			<p class="mui-pull-right" style="margin: 0;line-height: 40px;margin-right: 20px;">合計：<span class="color_ro">$</span><span class="color_ro font18" id="total">0.00</span></p>
		</nav>
		{/if}
		<div class="mui-content">
			<div class="shopping_cart">
				{foreach name="car_list" item="vo"}
				<div class="mui-card" id="list_1">
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-row">
								<li class="mui-checkbox mui-col-sm-1 mui-col-xs-1" style="line-height: 40px;">
									<input name="goods_id[]" value="{$vo.product_id}" type="checkbox" class="js-check" data-key="{$key}" style="right: 8px;top: 35px;" id="goods_{$key}" checked="checked">
									<input type="hidden" value="{$vo['price']*$vo['total']}" id="subtotal_{$key}" data-subtotal="{$vo['price']*$vo['total']}"  class="subtotal">
								</li>
						        <li class="mui-col-sm-4 mui-col-xs-4" style="padding-right: 5px">
						            <img src="__PUBLIC__/{$vo.cover}" class="img_left auto_img" />
						        </li>
						        <li class="mui-col-sm-7 mui-col-xs-7">
						            <p class="title">{$vo.product_name}</p>
									<a href="" class="xuan">{$vo.place_origin}</a>
									<div>
										<p class="mui-pull-left" style="margin:  0;line-height: 40px;"><span class="color_ro">$</span><span class="color_ro font18" data-price='{$vo.price}' id="price_{$key}">{$vo.price}</span></p>
										<div class="col-md-12 mui-pull-right number" style="">
											<input id="min_{$key}" name="" type="button" value="-" class="reduce" {$vo['total']==1?'disabled="disabled"':''} onclick="on_number({$key},'min')">
											<input id="number_{$key}" name="goods_num[]" type="text" value="{$vo.total}" style="width:40px;text-align: center;border: 0;height: 20px;" class="goods_num" data-key="{$key}">
											<input id="add_{$key}" name="" type="button" value="+" class="add" onclick="on_number({$key},'add')">
										  </div>
									</div>
									<div href="javascript:;" data-ajaxurl="{:url('cart/cart_del',array('product_id'=>$vo['product_id']))}" class="js-ajax-delete del" onclick="return false;">×</div>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
				{/foreach}
				{if condition="count($car_list) eq 0"}
					<div style="text-align:  center;padding: 100px; font-size: 16px;color: #666;">
						購物車空空，<br><a href="{:url('index/index')}" class="color_gr">去購物</a>！
					</div>
				{/if}
			</div>
		</div>
	</form>
		{include file="common/script" /}
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script>
			mui('.mui-scroll-wrapper').scroll();

			function on_number(id,type){
				//初始化数量为1,并失效减
				//$('#min' + id).attr('disabled',true);
				//获得文本框对象
				var t = $("#number_" + id);
                var price = $('#price_' + id).data('price');
                var goods = $('#goods_' + id).is(':checked');

				if(type=='add'){
					// 给获取的val加上绝对值，避免出现负数
					t.val(Math.abs(parseInt(t.val()))+1);
					  if (parseInt(t.val())!=1){
					  $('#min_' + id).attr('disabled',false);
					}; 
				}
				if(type=='min'){
					t.val(Math.abs(parseInt(t.val()))-1);
					  if (parseInt(t.val())==1){
					  $('#min_' + id).attr('disabled',true);
					};
				}

				var number = t.val();
				var subtotal_price = Number(price)*Number(number);
                //$('#subtotal_span_' + id).text(subtotal_price.toFixed(2));
                $('#subtotal_' + id).val(subtotal_price.toFixed(2)).data('subtotal',subtotal_price);
				if(goods == true){
					total();
				}
			}

            total();
			//输入
            $("input[name='goods_num[]']").focusout(function() {
                var key = $(this).data('key');
                total_price(key);
                total();
            });

            //单选
            $(".js-check").on('click',function(){
                var key =  $(this).data('key');
                if($(this).is(':checked') == true){
                    $('#subtotal_' + key).addClass('subtotal');
                    $('#number_' + key).attr('name','goods_num[]');
                }else {
                    $('#subtotal_' + key).removeClass('subtotal');
                    $('#number_' + key).attr('name','');
                }
                total();
            });

			//全选或不选
			$("#checked").on('click',function(){
				if($(this).data('id') == 1){
					$("input[name='goods_id[]']").each(function(){
						$(this).prop('checked', false);
                        var key = $(this).data('key');
                        $('#subtotal_' + key).removeClass('subtotal'); //去除单个商品总金额
                        $('#number_' + key).removeClass('goods_num'); //去除单个商品总数量
                        $('#number_' + key).attr('name','');
					});
                    $("input[class^='subtotal']").each(function(){
                        $(this).val('');
                    });
					$(this).data('id',0);
				}else{
					$("input[name='goods_id[]']").each(function(){
						$(this).prop('checked', true);
                        var key = $(this).data('key');
                        $('#subtotal_' + key).addClass('subtotal');
                        $('#number_' + key).addClass('goods_num');
                        $('#number_' + key).attr('name','goods_num[]');
					});
                    $("input[class^='subtotal']").each(function(){
                        $(this).val($(this).data('subtotal'));
                    });
					$(this).data('id',1);
				}
                total();
			});

            //统计总价格
            function total(){
                var goods_price=0;
                var total_sum=0;
                $("input[class^='subtotal']").each(function(){
                    goods_price+= Number($(this).val());
                });
                $("input[class^='goods_num']").each(function(){
                    total_sum+= Number($(this).val());
                });
                $('#total_sum').text(Number(total_sum));
                $('#total').text(goods_price.toFixed(2));
               // $('#total_no_yunxfei').text('$ '+ sum.toFixed(2));
            }

            function cartform(){
                var data = $('#cart-form').serializeArray();
                console.log(data);
                // jquery 表单提交
                $("#cart-form").ajaxSubmit(function(data){

                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                        return false;
                    }else{
                        //$.message(data.msg);
                        setTimeout(function(){
                            window.location = data.url
                        },1500);
                    }
                });
               //return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }
		</script>
	</body>

</html>