{include file="layout/public_head" /}
	<style>
		.mui-card .mui-control-content {padding: 10px;}
		.mui-control-content {height: 600px;}
		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom: 2px solid #FFAA00;color: #FFAA00;}
		.my_order .mui-btn{ position: relative;transform: inherit;right: 0;}
	</style>
	<body>
		{include file="common/header" /}
		<div class="mui-content">                     
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff">
					<a class="mui-control-item mui-active" href="#item1">活動資訊</a>
					<a class="mui-control-item" href="#item2">專訪</a>
				</div>                                  
			</div>
			<div class="Info_list">
				<div id="item1" class="mui-control-content mui-active">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							
							<ul class="mui-table-view" >

								{foreach name="list" item="vo"}
								 <li class="mui-table-view-cell">
									 <a href="{:url('home/news/article',array('id'=>$vo['id']))}">
									<img src="{:fa_get_image_url($vo['smeta'])}" class="img_left">
					                <div class="d1">
					                  <h5>{$vo.post_title}</h5>
										<p class="mui-ellipsis" style="white-space: normal;"> {$vo.post_excerpt|msubstr=0,25}</p>
					                </div>
									 </a>
								 </li>
								{/foreach}
							</ul>

						</div>
					</div>
				</div>
				<div id="item1" class="mui-control-content">
					 
				</div>
				<div id="item1" class="mui-control-content">
					
				</div>
			</div>
			  	
		</div>

		{include file="common/script" /}
		<script>
			mui('.mui-scroll-wrapper').scroll();
		</script>

	</body>

</html>