{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
<!-- 导航 str-->
{include file="common/nav"/}
<!--导航 end-->
	<body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

	 <div class="container shopping_cart">
	
		<div class="row topstate">
			<ul class="row">
				<div class="alzx-crumbs alzx-crumbs-f1"> 
					<div class="alzx-con"> 
						<a class="crumbs-01" href="#">主頁</a> 
					  <em>&gt;</em> 
					  <span class="crumbs-02">購物車</span> 
					</div> 
				
				</div>
				<li class="col-md-3 col-xs-3 on1" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc1_w.png" />購物車</li>
				<li class="col-md-3 col-xs-3" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc2.png" />確認訂單</li>
				<li class="col-md-3 col-xs-3" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc3.png" />支付</li>
				<li class="col-md-3 col-xs-3" style="background-image: url();"><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc4.png" />訂單完成</li>
			</ul>
		</div>
		<div class="row item-single">
			<div class="col-md-1 col-xs-1" style="text-align: center;cursor: default;" id="checked" data-id='0' >全選</div>
			<div class="col-md-4 col-xs-4" style="">商品</div>
			<div class="col-md-1 col-xs-1" style="">單價</div>
			<div class="col-md-3 col-xs-3" style="">購買數量	</div>
			<div class="col-md-2 col-xs-2" style="">小計</div>
			<div class="col-md-1 col-xs-1" style="">操作</div>
		</div>
<form action="{:URL('cart/shopping_cart_post')}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return cartform()" id="cart-form">
		 {foreach name="car_list" item="vo"}
		<!--第{$key}个产品-->
		<div class="row cart-item-list"  id="list_{$key}" >
			<input type="hidden" value="{$vo.price}" id="unit_price_{$key}"/>
			<input type="hidden" value="{$vo.price}" id="subtotal_{$key}"/>
			<!-- <input type="hidden" value="2" id="number_1"/> -->
			<div class="col-md-1 col-xs-1" style="">
				<input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="product_id[]" value="{$vo.product_id}" title="ID:106">
				<label for='checkbox1'></label>
			</div>
			<div class="col-md-4 col-xs-4 t2" style="">
				<div class="row">
					<img src="__TMPL_PUBLIC__/img/f2_1.jpg" class="col-md-5  col-xs-12">
					<p class="col-md-6 col-xs-12">
						<span class="bold">{$vo.product_name} {$vo.model}</span>
						產品型號：{$vo.model}
					</p>
				</div>
			</div>
			<div class="col-md-2 col-xs-2 color_ro font18" id="unit_price_span_{$key}">$ {$vo.price}</div>
			<div class="col-md-2 col-xs-2" style="">
					<div class="row number">
					  <div class="col-md-12" style="">
						<input id="min_{$key}" name="" type="button" value="-" class="reduce" onclick="on_number({$key},'min')">
						<input id="number_{$key}" name="total[]" type="text" value="{$vo.total}" style="width:40px;text-align: center"  class="color_75">
						<input id="add_{$key}" name="" type="button" value="+" class="add" onclick="on_number({$key},'add')">
					  </div>
					</div>
			</div>
			<div class="col-md-2 col-xs-2 color_ro font18" style="">$ <span id="subtotal_span_{$key}">{:number_format($vo['price']*$vo['total'],2)}</span></div>
			<div class="col-md-1 col-xs-1 t6" style=""><a href="{:url('cart/cart_del',array('product_id'=>$vo['product_id']))}" class="js-ajax-delete" onclick="return false;"><i class="fa fa-trash-o" aria-hidden="true" style="color:#666"></i></a></div>
		</div>
        <?php $total_num[] =  $vo['total']; ?>
	 {/foreach}
		 
<!--第2个产品-->
		 <!--
		<div class="row cart-item-list"  id="list_2" >
			<input type="hidden" value="1000.01" id="unit_price_2"/>
			<input type="hidden" name="subtotal" value="1000.01" id="subtotal_2"/>

			<div class="col-md-1 col-xs-1" style="">
				<input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids" value="106" title="ID:106">
			</div>
			<div class="col-md-4 col-xs-4 t2" style="">
				<div class="row">
					<img src="__TMPL_PUBLIC__/img/f2_1.jpg" class="col-md-5  col-xs-12">
					<p class="col-md-6 col-xs-12">
						<span class="bold">強效專業運動鞋墊 41</span>
						產品型號：1234567890
					</p>
				</div>
			</div>
			<div class="col-md-2 col-xs-2 color_ro font18" id="unit_price_span_2">$ 1000.00</div>
			<div class="col-md-2 col-xs-2" style="">
					<div class="row number">
					  <div class="col-md-12" style="">
						<input id="min_2" name="" type="button" value="-" class="reduce" disabled="disabled" onclick="on_number(2,'min')">  
						<input id="number_2" name="" type="text" value="1" style="width:40px;text-align: center" class="color_75">  
						<input id="add_2" name="" type="button" value="+" class="add" onclick="on_number(2,'add')">
					  </div>
					</div>
			</div>
			<div class="col-md-2 col-xs-2 color_ro font18">$ <span id="subtotal_span_2">10000.00</span></div>
			<div class="col-md-1 col-xs-1 t6"><i class="fa fa-trash-o" aria-hidden="true" onclick="del('2')"></i></div>

		</div>-->
		<div class="row" style="padding: 20px;">
			<div class="col-md-8" style="display: none">
				<h4>積分抵扣現金</h4>
				<input type="checkbox" class="checkbox"/>您當前有<span class="color_ro">120</span>積分，可抵扣<span class="color_ro">$12.0</span>
			</div>
			<div class="col-md-4" style="float: right;text-align: right;">
				<span class="color_ro" id="total_sum">{:array_sum($total_num)}</span>件商品, 總計: <span class="color_ro" id="total">$ {:number_format($all_price,2)}</span>
				<br/>運費: $ 0<br/>
				<p style="font-size:22px ">合計 (不含運費)：<span class="color_ro" id="total_no_yunxfei">$ {:number_format($all_price,2)}</span></p>
				<div class="row" style="padding:10px 0 ">
                   <div class="col-md-6" style=""><a href="{:url('index/index')}">
					   <button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em">繼續購物</button></a>
                    </div>
                     <div class="col-md-6" style="">
                        <button type="submit" class="btn btn-warning btn-warning-edit">提交訂單</button>
                    </div> 
                </div>
			</div>
		</div>
</form>
		 {include file="common/footer"/}
		 <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		 <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		 <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
		 {include file="common/script" /}
	<script type="text/javascript">
			function on_number(id,type){
				//初始化数量为1,并失效减
				//$('#min' + id).attr('disabled',true);
				//获得文本框对象
				var t = $("#number_" + id); 
				 
				if(type=='add'){
					// 给获取的val加上绝对值，避免出现负数
					t.val(Math.abs(parseInt(t.val()))+1);
					  if (parseInt(t.val())!=1){
					  $('#min_' + id).attr('disabled',false);
					}; 
				}
				if(type=='min'){
					t.val(Math.abs(parseInt(t.val()))-1);
					  if (parseInt(t.val())==1){
					  $('#min_' + id).attr('disabled',true);
					};
				}

				var unit_price = $('#unit_price_' + id).val();
				var number = t.val();
				var subtotal_price = Number(unit_price)*Number(number);
				$('#subtotal_span_' + id).text(subtotal_price.toFixed(2));
				$('#subtotal_' + id).val(subtotal_price.toFixed(2));

				total();
			}

			//统计总价格	
			function total(){
				var sum=0;
				var total_sum=0;
				$("input[id^='subtotal']").each(function(){
						sum+= Number($(this).val()); 
				});
                $("input[name^='total[]']").each(function(){
                    total_sum+= Number($(this).val());
                });
				$('#total_sum').text(Number(total_sum));
				$('#total').text('$ '+ sum.toFixed(2));
				$('#total_no_yunxfei').text('$ '+ sum.toFixed(2));

			}

			//全选或不选
			$("#checked").on('click',function(){

				if($(this).data('id') == 1){
					$("input[name^='product_id[]']").each(function(){
						$(this).prop('checked', false);
					});
					$(this).data('id',0);
				}else{
					$("input[name^='product_id[]']").each(function(){
						$(this).prop('checked', true);
					});
					$(this).data('id',1);
				}
			});

            function cartform(){
                console.log($('#cart-form').serializeArray());
					alert(1);
                // jquery 表单提交
                $("#cart-form").ajaxSubmit(function(data){
                    console.log(data);
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            //window.location = data.url
                        },2500);
                    }
                });

                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }


	</script> 

	</body>
</html>