{include file="layout/public_head" /}
	<style>
		body{background:#fff;}
		.mui-input-group:after{height: 0}
		.mui-button-row{padding:20px}
		.mui-table-view{margin-top: 10px;}

	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<h1 class="mui-title">管理地址</h1>
		</header>
		<div class="mui-content address_list">



			<ul class="mui-table-view">
				 <li class="mui-table-view-cell">
				 	陳大文<span class="mui-pull-right">13138164022</span>
				 	<br>
				 	九龍油塘高超道38號大本型商場2樓228號舖
				 </li>
		         <li class="mui-table-view-cell">
		         	<div class="mui-checkbox" style="float: left;">
						<input name="checkbox" value="Item 2" type="checkbox" style="left: 8px;top: -5px;" id="checked">
						<label style="padding-left: 40px;padding-right: 0;color: #666666;">默認地址</label>
					</div>
					<span class="mui-pull-right">
						<a href="" class="edit">编辑</a>
						<a href="" class="del">删除</a> 
					</span>
		         </li>
			</ul>


			<ul class="mui-table-view">
				 <li class="mui-table-view-cell">
				 	陳大文<span class="mui-pull-right">13138164022</span>
				 	<br>
				 	九龍油塘高超道38號大本型商場2樓228號舖
				 </li>
		         <li class="mui-table-view-cell">
		         	<div class="mui-checkbox" style="float: left;">
						<input name="checkbox" value="Item 2" type="checkbox" style="left: 8px;top: -5px;" id="checked">
						<label style="padding-left: 40px;padding-right: 0;color: #666666;">默認地址</label>
					</div>
					<span class="mui-pull-right">
						<a href="" class="edit">编辑</a>
						<a href="" class="del">删除</a> 
					</span>
		         </li>
			</ul>
		</div>
		{include file="common/script" /}

	</body>

</html>