{include file="layout/public_head" /}
	<style>
		.mui-card .mui-control-content {
			padding: 10px;
		}
		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom: 2px solid #FFAA00;color: #FFAA00;}
		.my_order .mui-btn{ position: relative;transform: inherit;right: 0;}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="{:url('index/index')}" class="mui-icon mui-icon-home mui-pull-left" style="color: #7ac141;"></a>
			<h1 class="mui-title">{$title}</h1>
			<a href="{:url('cart/shopping_cart')}" class="mui-action-menu mui-pull-right index-hd-right2"></a>
			<a href="{:url('user/logout')}" class="mui-action-menu mui-pull-right index-hd-right"></a>
		</header>

		<div class="mui-content">
			<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary my_order_segmented" style="background:#fff;z-index: 9999;">
				<a class="mui-control-item {$status =='all' ?'mui-active':''}{$status =='' ?'mui-active':''}" href="{:url('user/center')}">全部</a>
				<a class="mui-control-item {$status =='0' ?'mui-active':''}" href="{:url('user/center',array('status'=>0))}">待付款</a>
				<a class="mui-control-item {$status ==2 ?'mui-active':''}" href="{:url('user/center',array('status'=>2))}">待發貨</a>
				<a class="mui-control-item {$status ==6 ?'mui-active':''}" href="{:url('user/center',array('status'=>6))}">已取消</a>
			</div>
			<!--下拉刷新容器-->
			<div id="pullrefresh" class="mui-scroll-wrapper my_order" style="padding-top: 85px;">
				<div class="mui-scroll">
					<!--数据列表-->
					<div class="mui-table-view mui-row" data-page_count="1" data-last_page="0" id="order_list">

					</div>
				</div>
			</div>
		</div>

		{include file="common/script" /}
		<script>
			mui('.mui-scroll-wrapper').scroll();
            mui('body').on('tap','a' ,function(){
                location.href = this.getAttribute('href')
            });
            mui.init({
                pullRefresh: {
                    container: '#pullrefresh',
                    up: {
                        contentrefresh: '正在加载...',
                        callback: pullupRefresh
                    }
                }
            });

            var count =  1;
            /**
             * 上拉加载具体业务实现
             */
            function pullupRefresh(){
                setTimeout(function() {
                    mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > {$lastPage})); //参数为true代表没有更多数据了。
                    var table = document.body.querySelector('.mui-table-view');
                    var cells = document.body.querySelectorAll('.mui-table-view-cell');
                    var page_count = $(".mui-table-view-chevron").data('page_count');
                   	order_list(page_count);
                }, 1500);
            }
            if (mui.os.plus) {
                mui.plusReady(function() {
                    setTimeout(function() {
                        mui('#pullrefresh').pullRefresh().pullupLoading();
                    }, 1000);
                });
            } else {
                mui.ready(function() {
                    mui('#pullrefresh').pullRefresh().pullupLoading();
                });
            }

            function order_list(page) {
				var src = '__PUBLIC__';
                $.ajax({
                    type: "POST",
                    url: "{:url('user/center')}",
                    data: {
                        page: page,
                        status: '{$status}',
                    },
                    success: function(data) {
                        if (data.code == 1) {
                            $.each(data.data,function(index, value) { //遍历json数据列
                                var li ='<ul class="mui-table-view">';
                                li += '<li class="mui-table-view-cell"><i class="left_menu_ico i3"></i>健康及有機產品 <span class="color_ro mui-pull-right">'+ value.statustext+'</span></li>';
                                $.each(value.goods_list,function(index, vv) {
                                    li += '<li class="mui-table-view-cell l2"><img src="'+src+ vv.cover+'" class="mui-pull-left"><p class="p1">'+ vv.product_name+'</p><p>'+ vv.place_origin+'</p><p><span class="color_ro">$</span><span class="color_ro font18">388</span><span class="mui-pull-right">x1</span></p></li>';

                                });

                                li += '<li class="mui-table-view-cell"><span class="mui-navigate-right">支付方式<span class="mui-pull-right" style="margin-right:20px">'+ value.payment+'</span></span></li>';
                                li += '<li class="mui-table-view-cell" style="text-align:right">共1件商品 合計 <span class="color_ro">$</span><span class="color_ro font18">'+ value.price+'</span>(含運費$'+ value.freight+')</li><li class="mui-table-view-cell" style="text-align:right">'+ value.button +'</li>';
                                li += '</ul>';

                                $("#order_list").append(li);
                            });
                            $("#order_list").data('page_count',Number(data.data.current_page)+1);
                            $("#order_list").data('last_page',Number(data.data.last_page));
                        }else{


						}
                    }
                });

            }
		</script>

	</body>

</html>