{include file="layout/public_head" /}
	<style>
		.mui-content{background:#fff;}
		.mui-input-group:before,.mui-input-group .mui-input-row:after,.mui-input-group:after{height: 0}
		.mui-input-row{margin-bottom: 10px;border: 1px solid #eee;border-radius: 5px;}
		.mui-input-group{padding:20px;}
		.mui-input-row input{width: 80% !important;float: inherit !important;font-size: 14px;padding-left: 10px !important;border-left: 1px solid #eee !important;}
		.facebook_img,.weixin_img,.google_img{vertical-align: middle;margin-right: 10px;width: 20px;}
		.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {color: #7ac142;}
	</style>
	<body style="background:#fff">
		 
		<div class="mui-content">
			<form action="{:url('user/login')}" class="mui-input-group" method="post" enctype="multipart/form-data" onsubmit="return loginform()" id="login-form">

				<div class="mui-input-row">
					<label class="login_ico"></label>
					<input type="email" placeholder="請輸入您的電郵地址" id="email" name="email" value="{$sn.email}" required>
				</div>
				<div class="mui-input-row">
					<label class="login_ico" style="background-position-x: -40px;"></label>
					<input type="password" placeholder="請輸入6-12位數字字母組合密碼" name="password" value="{$sn.password}" required id="password" >
				</div>
				<div class="mui-checkbox mui-left" style="line-height: 40px;">
					<div class="mui-pull-left">
						<label style="line-height: 40px;">記住密碼</label>
						<input  name="sn_rmbuser" type="checkbox" id="ck_rmbuser" value="1" {$sn.sn_rmbuser?'checked':''}>
					</div>
					<!--<a class="mui-pull-right color_ro">忘記密碼？</a>-->
				</div>
				<button type="submit" class="mui-btn mui-btn-success btn-success-edit">
					登  錄
				</button>
			</form>
			<img src="__TMPL_PUBLIC__/img/logo_info.jpg" style="width: 100%;margin: 20px 0;" />
			<div style="padding: 0 20px">
				{if condition="empty(sp_ip_ischina())"}
				<button type="button" class="mui-btn mui-btn-outlined btn-outlined-edit"  id="customBtn" >
					<img src="__TMPL_PUBLIC__/img/logo-google.png" class="google_img" />Login with Google
				</button>
				<button type="button" class="mui-btn mui-btn-outlined btn-outlined-edit"  id="facebook">
					<img src="__TMPL_PUBLIC__/img/facebook.png" class="facebook_img" />Login with Facebook
				</button>
				{/if}
				<button type="button" class="mui-btn mui-btn-outlined btn-outlined-edit" id="weixin">
					<img src="__TMPL_PUBLIC__/img/wei_xing.png" class="weixin_img" />Login with Wechat
				</button>
			</div>
		</div>
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		{include file="common/script" /}
		<script type="text/javascript">

            $(document).ready(function () {

            });

            function loginform(){
                var email = $('#email');
                var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/; //定义一个正则表达式
                if(!reg.test(email.val())){
                    $.message({message:'電郵格式不正確！',type:'warning'});
                    email.focus();
                    return false;
                }
                // jquery 表单提交
                $("#login-form").ajaxSubmit(function(data) {

                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location = data.url
                        },500);
                    }
                });
                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }

            $('#weixin').click(function () {
                window.location = '{$weixin_url}';
            });
		</script>

		{if condition="empty(sp_ip_ischina())"}
		<script>
            // facebook登录
            $('#facebook').click(function () {
                FB.login(function(response) {
                    if (response.status === 'connected') {
                        FB.api('/me', function(response) {

                            console.log(response);
                            $.ajax({
                                type: "POST",
                                url: "{:url('api/user/third')}?platform=facebook",
                                dataType: 'json',
                                data: response,
                                success: function(data) {
                                    if(data.code == 0){
                                        $.message({message:data.msg,type:'warning',time:'3000'});
                                    }else{
                                       // $.message(data.msg);

										window.location = "{:url('user/center')}";

                                    }
                                }
                            });
                        });
                    } else {
                        console.log('该用户没有登录');
                    }
                }, {scope: 'public_profile,email'});
            });

            function fbLogoutUser() {
                FB.login(function(response) {
                    if (response && response.status === 'connected') {
                        FB.logout(function(response) {
                            document.location.reload();
                        });
                    }
                });
            }


            window.fbAsyncInit = function(){
                FB.init({
                    appId      : '1026828720830894',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v3.1'
                });

                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

		</script>
		<script src="https://apis.google.com/js/api:client.js"></script>
		<script>
            // 谷歌登录
            var googleUser = {};
            var startApp = function() {
                gapi.load('auth2', function(){
                    // Retrieve the singleton for the GoogleAuth library and set up the client.
                    auth2 = gapi.auth2.init({
                        client_id: '974658843640-ban0u40f04qahk5lkl9kl1sj06cfmvi4.apps.googleusercontent.com', //客户端ID
                        cookiepolicy: 'single_host_origin',
                        scope: 'profile' //可以请求除了默认的'profile' and 'email'之外的数据
                    });
                    attachSignin(document.getElementById('customBtn'));
                });
            };
            function attachSignin(element) {
                auth2.attachClickHandler(element, {},
                    function(googleUser) {
                        // document.getElementById('name').innerText = "Signed in: " + googleUser.getBasicProfile().getName();
                        var profile = auth2.currentUser.get().getBasicProfile();
                        console.log('ID: ' + profile.getId());
                        console.log('Full Name: ' + profile.getName());
                        console.log('Given Name: ' + profile.getGivenName());
                        console.log('Family Name: ' + profile.getFamilyName());
                        console.log('Image URL: ' + profile.getImageUrl());
                        console.log('Email: ' + profile.getEmail());

                        console.log(profile);
                        console.log(gapi.auth.getToken().access_token);
                        $.ajax({
                            type: "POST",
                            url: "{:url('api/user/third')}?platform=google",
                            dataType: 'json',
                            data: profile,
                            success: function(data) {
                                if(data.code == 0){
                                    $.message({message:data.msg,type:'warning',time:'3000'});
                                }else{
                                    //$.message(data.msg);
                                     window.location = "{:url('user/center')}";
                                }
                            }
                        });
                    }, function(error) {
                        console.log(JSON.stringify(error, undefined, 2));
                    });
            }
            startApp();

            // 取消与应用关联的代码
            function disconnectUser(){
                var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + gapi.auth.getToken().access_token;
                $.ajax({
                    type: 'GET',
                    url: revokeUrl,
                    async: false,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(nullResponse) {
                        // 成功以后隱藏登录信息
                        alert("退出成功！");
                    },
                    error: function(e) {
                        alert("取消關聯失敗！請到 https://plus.google.com/apps 手动解除！");
                        window.open("https://plus.google.com/apps");
                    }
                });
            }
		</script>
	{/if}



	</body>

</html>