{include file="layout/public_head" /}
	<style>

	</style>
	<body>
		{include file="common/header" /}
		<div class="mui-content">
			<ul class="mui-table-view my_order" >
				<li class="mui-table-view-cell">
					<div class="mui-row">
						<div class="mui-col-sm-3 mui-col-xs-3">訂單ID：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{$order_info.order_sn}</div>
						<div class="mui-col-sm-3 mui-col-xs-3">訂單日期：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{:date('Y年m月d日 H:i',strtotime($order_info['addtime']))}</div>
						<div class="mui-col-sm-3 mui-col-xs-3">收件人姓名：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{$order_info.address_info.name}</div>
						<div class="mui-col-sm-3 mui-col-xs-3">聯繫電話：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{$order_info.address_info.phone}</div>
						<div class="mui-col-sm-3 mui-col-xs-3">支付方式：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{:sp_payment($order_info['payment'])}</div>
						<div class="mui-col-sm-3 mui-col-xs-3">收貨地址：</div>
						<div class="mui-col-sm-9 mui-col-xs-9">{$order_info.address}</div>
					</div>
				</li>
				{foreach name="goods_list" item="vo"}
				<li class="mui-table-view-cell l2">
					<img src="__PUBLIC__/{$vo.cover}" class=" mui-pull-left" />
					<p class="p1">{$vo.product_name}</p>
					<p>{$vo.freight_num}</p>
					<p><span class="color_ro">$</span><span class="color_ro font18">{:number_format($vo['price'],2)}</span><span class="mui-pull-right">x{$vo['goods_num']}</span></p>
				</li>
				{/foreach}
				<li class="mui-table-view-cell" style="text-align:right">
					<span class="mui-pull-right">
							積分抵扣：$ {$order_info['integral_price']|default='0'}<br>
							捐款：$ {$order_info['contribution_price']|default='0'}<br>
							服務費: $ {$order_info['service_price']}<br/>
							优惠：$ {$order_info['coupon_price']|default='0'}<br/>
					</span>
				</li>
				<li class="mui-table-view-cell" style="text-align:right">
					共{$all_goods_num}件商品    合計 <span class="color_ro">$</span><span class="color_ro font18">{:number_format(sum_order_payableprice($order_info['order_sn']),2)}</span>(含運費${$order_info['freight']})
				</li>

			</ul>
			  	
		</div>
		{include file="common/script" /}
		<script>
			mui('.mui-scroll-wrapper').scroll();
		</script>

	</body>

</html>