{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
<!-- 导航 str-->
{include file="common/nav"/}
<link rel="stylesheet" type="text/css" href="__TMPL_PUBLIC__/css/build.css">
	<body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

	 <div class="container shopping_cart" >
	
		<div class="row topstate" style="padding: 0 30px;border-bottom: 0;margin-bottom: 20px;">
			<div class="alzx-crumbs alzx-crumbs-f1"> 
	  			<div class="alzx-con"> 
					<a class="crumbs-01" href="#">主頁</a> 
		          <em>&gt;</em>
		          <span class="crumbs-02">購物車</span> 
		          <em>&gt;</em> 
		          <span class="crumbs-02">確認訂單</span> 
		          <em>&gt;</em> 
		          <span class="crumbs-02">支付</span> 
		  		</div>
	  		</div>
			<ul class="row">
				<li class="col-md-3 col-sm-3 col-xs-3 on0" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc1_w.png" />購物車</li>
				<li class="col-md-3 col-sm-3 col-xs-3 on0" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc2_w.png" />確認訂單</li>
				<li class="col-md-3 col-sm-3 col-xs-3 on1" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc3_w.png" />支付</li>
				<li class="col-md-3 col-sm-3 col-xs-3 " style="background-image: url();"><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc4.png" />訂單完成</li>
			</ul>
		</div>

		<div class="payment2">
			<h4>支付詳情</h4>
			<div class="row info">
				<div class="col-md-3 col-sm-2 col-xs-2 on0" style="">

				</div>
				<div class="col-md-6 col-sm-8 col-xs-8 on0" style="">
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99"  style="text-align: right;">收貨人:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">{$address_info.name} {$address_info.phone}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">收件地址:</div>
							<div class="col-md-8 col-sm-8 col-xs-8 " style="">{$order_info.address}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">商品合計:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format($all_total,2)}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">運費:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format($order_info['freight'],2)}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">服務費:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format($order_info['service_price'],2)}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">積分抵扣:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format($order_info['integral_price'],2)}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">优惠:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format($order_info['coupon_price'],2)}</div>
					</div>
					<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4 color_99" style="text-align: right;">應付款:</div>
							<div class="col-md-8 col-sm-8 col-xs-8" style="">${:number_format(sum_order_payableprice($order_info['order_sn']),2)}</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-2 on0" style=""></div>
			</div>
	<form action="{:url('payment/go_pay')}" method="post" enctype="multipart/form-data" onsubmit="return payform()" id="pay-form">
			<input type="hidden" name="order_sn" value="{$order_sn}">
			<div class="row type">
				<h4>支付方式</h4>
				<div class="col-md-2 col-sm-2">
					<div class="radio radio-danger">
						<input type="radio" name="payment" id="radio1" value="2" checked="">
						<label for="radio1">
							<img src="__TMPL_PUBLIC__/img/payment2_type_1.jpg" />
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="radio radio-danger">
						<input type="radio" name="payment" id="radio2" value="1">
						<label for="radio2">
							<img src="__TMPL_PUBLIC__/img/payment2_type_2.jpg" />
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="radio radio-danger">
						<input type="radio" name="payment" id="radio3" value="3">
						<label for="radio3">
							<img src="__TMPL_PUBLIC__/img/payment2_type_3.jpg" />
						</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="radio radio-danger">
						<input type="radio" name="payment" id="radio4" value="3">
						<label for="radio4">
							<img src="__TMPL_PUBLIC__/img/payment2_type_4.jpg" />
						</label>
					</div>
				</div>
			</div>

			<div class="row type">
				<h4>我要捐款</h4>
				<div class="col-md-4 col-sm-4">
					<p>感謝您的捐款，您的捐款金額將用於公益事業</p>
					<input type="text" name="contribution_price" class="form-control NumDecText" id="contribution_price" placeholder="請輸入捐款金額" style="width: 40%;float: left;">
					<span style="padding:  20px;line-height: 35px;" class="color_ro bold">HKD</span>
				</div> 
			</div>


			<div class="row" style="padding:10px 0 ">
				<div class="col-md-8" style=""></div>
               	<div class="col-md-4" style="">
               		<div class="row btn-row">
		               	<div class="col-md-6" style="">
		                    <button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em;color: #333;">返回購物車</button>
		                </div>
		                 <div class="col-md-6" style="">
							<button type="submit" class="btn btn-success btn-success-edit">支付訂單</button>
		                </div>
	 				</div>
				</div>
            </div>
	</form>
		</div>
	</div>
	 {include file="common/footer" /}
	 <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
	 <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
	 {include file="common/script" /}
	 <script type="text/javascript">
         function payform(){
             // jquery 表单提交
             $("#pay-form").ajaxSubmit(function(data) {
                 console.log(data);
                 if(data.code == 0){
                     $.message({message:data.msg,type:'warning',time:'3000'});
                 }else{
                     $.message(data.msg);
                     setTimeout(function () {
                         window.location = data.url
                     },1500);
                 }
             });

             return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
         }
	 </script>

	</body>
</html>