{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">
  
   <div class="row top_banner"><img src="__TMPL_PUBLIC__/img/info_top_banner.jpg" class="col-md-12" /></div>
    <div class="container bgcolor_white" style="padding-bottom: 40px;overflow: hidden;">
        <ol class="breadcrumb" style="padding:  20px;background-color: #fff;border-bottom: 1px solid #eee;">
            <li><a href="{:url('index/index')}">主頁</a></li>
            <li><a href="{:url('share/index')}">共享平台</a></li>
            <li class="active">{$res.product_name}</li>
        </ol>
        <div class="pr_name" style="text-align:  center;">{$res.product_name}</div>
        <span style="color: #777;">{:date('Y-m-d',$res['add_date'])}</span>
        <p style="color: #777;">{$res.product_excerpt}</p>
        <div class="shared_platform">
           {$res.product_content}
        </div>
    </div>
   {include file="common/script"/}
   {include file="common/footer"/}
    </body>
</html>