{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
{include file="common/nav"/}
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">
  
   <div class="row top_banner"><img src="__TMPL_PUBLIC__/img/info_top_banner.jpg" class="col-md-12" /></div>
    <div class="container bgcolor_white">
        <div class="pr_name" style="background: url(img/shared_platform.png) no-repeat center;text-align:  center;">共享平台</div>
        <div class="shared_platform">
           <?php


?>
            <ul class="row">
            {foreach name="list" item="vo"}
                <li class="col-md-6">
                  <div class="d1"><img src="{:fa_get_image_url($vo['product_pic'])}" /></div>
                  <h4>{$vo.product_name}</h4>
                  <p class="color_66">{$vo.product_content}</p>
                  <p class="color_66">{:date('Y-m-d',$vo['add_date'])}</p>
                </li>
            {/foreach}
            {if condition="count($list) eq 0"}
             <div style="text-align:  center;padding:  20px;">没有共享信息</div>
            {/if}
                <!---<li class="col-md-6">
                  <div class="d1"><img src="img/shared_platform_img.jpg" /></div>
                  <h4>Bremed Tens電療機 2 Channels</h4>
                  <p class="color_66">新買的產品，由於不適合我自己用，需要的朋友請聯繫我。<br>聯絡人：陳小姐，電話：13800138000</p>
                  <p class="color_66">2018-07-12</p>
                </li>-->
                

            </ul>

            <div class="pagination">
                {$list->render()}
            </div>
        </div>
        
    </div>
   {include file="common/footer"/}
    </body>

</html>