<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="__TMPL_PUBLIC__/css/style.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <title>营康会首頁</title>
	<style>
        *{
            padding:0;
            margin:0;
        }
        .left,.right{
            position:absolute;
            top:80px;
        }
        .left{
            left:0;
        }
        .right{
            right:0;
        }
    </style>
  </head>
  <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">
	<div class="left">
		<img src="./images/1.gif" alt="">
	</div>
	<div class="right">
		<img src="./images/2.gif" alt="">
	</div>
<!--头部 str-->
   {include file="common/header"/}
<!--头部 end-->

	{include file="common/nav"/}

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" media="screen">
	<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
  <div class="swiper-container" style="">
      <div class="swiper-wrapper">

          {foreach name="slide" item="vo"}
              {eq name="vo['slide_type']" value="index_banner"}
                    <div class="swiper-slide">
                      <a href="{$vo.slide_url}"  target="_bank">
                        <img src="{:fa_get_image_url($vo['slide_pic'])}">
                      </a>
                    </div>
              {/eq}
          {/foreach}
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <script language="javascript">
        var mySwiper = new Swiper('.swiper-container',{
        pagination: {
          el: '.swiper-pagination',
        },
		autoplay: {
			delay: 2000,//1秒切换一次
		  },
		effect : 'fade',
        //pagination : '#swiper-pagination1',
        })
      </script>
  </div>


    <div class="position_ads" style="">
      <div class="ads_left" style="width: 12%;z-index: 9999;">
          <a class="close" href="javascript:$('.ads_left').hide()">×</a>
          {foreach name="slide" item="vo"}
            {eq name="vo['slide_type']" value="float_left_banner"}
                <img src="{:fa_get_image_url($vo['slide_pic'])}">
            {/eq}
          {/foreach}
      </div>

      <div class="ads_right" style="width: 16%;z-index: 9999;right: 0;">
    	 	<a class="close" href="javascript:$('.ads_right').hide()">×</a>
      	<div class="index_news" style="">
      			<div class="title" style=""></div>
      			<ul style="">
      				<li>
      					<img src="__TMPL_PUBLIC__/img/index_news_img.png">
      					<p>安神龍眼百合茶唔怕眼光光… </p>
      					<p >材料：龍眼肉10克百合…</p>
      					<p>2018-07-03，週二</p>
      				</li>
      				<li>
      					<img src="__TMPL_PUBLIC__/img/index_news_img.png">
      					<p>安神龍眼百合茶唔怕眼光光… </p>
      					<p >材料：龍眼肉10克百合…</p>
      					<p>2018-07-03，週二</p>
      				</li>
      				<li>
      					<img src="__TMPL_PUBLIC__/img/index_news_img.png">
      					<p>安神龍眼百合茶唔怕眼光光… </p>
      					<p >材料：龍眼肉10克百合…</p>
      					<p>2018-07-03，週二</p>
      				</li>
      			</ul>
          </div>
          <img src="__TMPL_PUBLIC__/img/ads_1.png">
    		</div>
    </div>

    <div class="container">
       <div class="row" style="padding: 20px 0;">
        <div class="col-md-5 col-xs-5" style="padding-left: 0;">
             <p class="index_title">我的記錄</p>
             <div class="row  f1">
              <div class="col-md-5 col-xs-5 list">
					<div style="padding: 1em;"><img src="__TMPL_PUBLIC__/img/f2_1.jpg"></div>
                    <p>安而康成人纸尿片</p>
              </div>
               <div class="col-md-5 col-xs-5 list margin_0">
					<div style="padding: 1em;"><img src="__TMPL_PUBLIC__/img/f2_1.jpg"></div>
                    <p>安而康成人纸尿片</p>
               </div>
            </div>
        </div>
        <div class="col-md-7 f2 col-xs-7" style="padding: 0;">
            <p class="index_title" style="background-position-y: -25px;"> Top Ten</p>
            <div class="swiper-container2" style="overflow: hidden;position: relative;">
              <div class="swiper-wrapper row">
                  {foreach  name="top_ten" item='vo'}
                  <div class="swiper-slide col-md-3 list">
                      <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
                          <p class="nowrap">{$vo.product_name}</p>
                          {if condition="$vo['cover']"}
                            <img src="__PUBLIC__/{$vo.cover}">
                            {else/}
                             <img src="__TMPL_PUBLIC__/img/default.jpg">
                          {/if}
                          <span class="font24"><i class="font12">$</i>
                                {:product_price($vo['product_id'])}
                          </span>
                      </a>
                      <a class="adds" data-productid="{$vo.product_id}" data-name="{$vo.product_name}" >+</a>
                  </div>
                  {/foreach}
                </div>
                <!-- Add Arrows -->
              </div>
               <div class="swiper-button-next"></div>
                <script>
                    var swiper = new Swiper('.swiper-container2', {
                      slidesPerView: 3,
                      spaceBetween: 30,
                      slidesPerGroup: 3,
                      loop: true,
                      loopFillGroupWithBlank: true,
                      navigation: {
                        nextEl: '.swiper-button-next',
                      },
                    });
                  </script>

           </div>
        </div>
        <div class="row advert" style="padding: 20px 0;">
          <div class="col-md-4 col-xs-4" style="padding: 0;">
              {foreach name="slide" item="vo"}
                  {eq name="vo['slide_type']" value="center_lefe_banner"}
                        <a href="{$vo.slide_url}" target="_blank"><img src="{:fa_get_image_url($vo['slide_pic'])}"></a>
                  {/eq}
              {/foreach}
          </div>
          <div class="col-md-8 col-xs-8 p_right_0">
              {foreach name="slide" item="vo"}
                {eq name="vo['slide_type']" value="center_right_banner"}
                     <a href="{$vo.slide_url}" target="_blank"><img src="{:fa_get_image_url($vo['slide_pic'])}" style="margin-bottom: 1.5em;"></a> <br>
                 {/eq}
              {/foreach}
          </div>
        </div>
  <!--- f3 str-->
        <div class="row f3" style="padding: 20px 0;">
          <p class="index_title" style="background-position-y: -50px;"> 復康產品</p>
          <div class="border_top1"></div>
            <div class="col-md-2 col-xs-2 n1">
                <img src="__TMPL_PUBLIC__/data/index_2.png">
                <div class="d1">
                    <p class="font16 bold">Polar 心率錶</p>
                    <p class="font12 miaosu">Polar 心率錶 銀黑色 - FT4-SBLK，針對想透過基於心率的基本功能保持簡單健身訓練的人們</p>
                    <div>
                        <span class="font24"><i class="font12">$</i>1234</span>
                        <a class="adds">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-xs-10 " style="background: #fff;">
              <div class="row">
                <div class="col-md-12">
                        <div class="row">
                            {foreach name="product_list" key="k" item="vo"}
                            {if condition="$k eq  0"}
                                <div class="col-md-6 col-xs-6 n2">
                                    <div style="text-;text-align:  center;"><img src="__PUBLIC__{$vo['cover']}" class="first" style="width:189px;height:189px;"></div>
                                    <div class="d2">
                                        <p class="nowrap">{$vo['product_name']}</p>
                                        {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                        {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                        {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                        <div>
                                            <span class="font24"><i class="font12">$</i>
                                                {:product_price($vo['product_id'])}
                                            </span>
                                            <a class="adds" style="padding: 0.4em 0.8em;" data-id="{$vo['product_id']}">+</a>
                                        </div>
                                    </div>
                                </div>
                            {/if}
                            {if condition="$k egt 1 && $k  elt 2"}
                            <div class="col-md-3 col-xs-3 n2">
                                <img src="__PUBLIC__{$vo['cover']}">
                                <div class="d2">
                                  <p class="nowrap">{$vo['product_name']}</p>
                                    {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                    {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                    {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                  <div>
                                       <span class="font24"><i class="font12">$</i>
                                           {:product_price($vo['product_id'])}
                                       </span>
                                      <a class="adds" data-id="{$vo['product_id']}">+</a>
                                  </div>
                                </div>
                            </div>
                            {/if}
                            {/foreach}
                       </div>
                  </div>

                  <div class="col-md-12">
                      <div class="row">
                      {foreach name="product_list" key="k" item="vo"}
                          {if condition="$k egt 3 && $k elt 7"}
                          <div class="col-md-3 col-xs-3 n2">
                              <img src="__PUBLIC__{$vo['cover']}">
                              <div class="d2">
                                  <p class="nowrap">{$vo['product_name']}</p>
                                 {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                 {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                 {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                  <div>
                                      <span class="font24"><i class="font12">$</i>
                                          {:product_price($vo['product_id'])}
                                    </span>
                                      <a class="adds" data-id="{$vo['product_id']}">+</a>
                                  </div>
                              </div>
                          </div>
                          {/if}
                          {/foreach}

                       </div>
                  </div>
             </div>
          </div>
        </div>
<!--- f3 end-->

<!--- f4 str-->
        <div class="row f3" style="padding: 20px 0;">
          <p class="index_title" style="background-position-y: -75px;"> 健康及有機產品</p>
          <div class="border_top1"></div>
          <div class="col-md-2 col-xs-2 n1">
              <img src="__TMPL_PUBLIC__/data/index_1.png">
              <div class="d1">
				<p class="font16 bold">Polar 心率錶</p>
                <p class="font12 miaosu">Polar 心率錶 銀黑色 - FT4-SBLK，針對想透過基於心率的基本功能保持簡單健身訓練的人們</p>
                <div>
                    <span class="font24"><i class="font12">$</i>1234</span>
                    <a class="adds">+</a>
                </div>
              </div>
          </div>
          <div class="col-md-10 col-xs-10" style="background: #fff;">
              <div class="row">
                 <div class="col-md-12">
                     <div class="row">
                         {foreach name="health_food" key="k" item="vo"}
                         {if condition="$k eq  0"}
                         <div class="col-md-6 col-xs-6 n2">
                             <div style="text-;text-align:  center;"><img src="__PUBLIC__{$vo['cover']}" class="first" style="width:189px;height:189px;"></div>
                             <div class="d2">
                                 <p class="nowrap">{$vo['product_name']}</p>
                                 {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                 {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                 {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                 <div>
                                     <span class="font24"><i class="font12">$</i>
                                          {:product_price($vo['product_id'])}
                                     </span>
                                     <a class="adds" style="padding: 0.4em 0.8em;" data-id="{$vo['product_id']}">+</a>
                                 </div>
                             </div>
                         </div>
                         {/if}
                         {if condition="$k egt 1 && $k  elt 2"}
                         <div class="col-md-3 col-xs-3 n2">
                             <img src="__PUBLIC__{$vo['cover']}">
                             <div class="d2">
                                 <p class="nowrap">{$vo['product_name']}</p>
                                 {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                 {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                 {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                 <div>
                                     <span class="font24"><i class="font12">$</i>
                                          {:product_price($vo['product_id'])}
                                     </span>
                                     <a class="adds" data-id="{$vo['product_id']}">+</a>
                                 </div>
                             </div>
                         </div>
                         {/if}
                         {/foreach}
                     </div>
                  </div>

                  <div class="col-md-12">
                      <div class="row">
                          {foreach name="health_food" key="k" item="vo"}
                          {if condition="$k egt 3 && $k  elt 6"}
                          <div class="col-md-3 col-xs-3 n2">
                              <img src="__PUBLIC__{$vo['cover']}">
                              <div class="d2">
                                  <p class="nowrap">{$vo['product_name']}</p>
                                  {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                  {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                  {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                  <div>
                                      <span class="font24"><i class="font12">$</i>
                                         {:product_price($vo['product_id'])}
                                      </span>
                                      <a class="adds" data-id="{$vo['product_id']}">+</a>
                                  </div>
                              </div>
                          </div>
                          {/if}
                          {/foreach}

                      </div>
                  </div>
             </div>
          </div>
        </div>
<!--- f4 end-->

        <!--- f5 str-->
        <div class="row f3" style="padding: 20px 0;">
            <p class="index_title" style="background-position-y: -75px;">科技產品</p>
            <div class="border_top1"></div>
            <div class="col-md-2 col-xs-2 n1">
                <img src="__TMPL_PUBLIC__/data/index_1.png">
                <div class="d1">
                    <p class="font16 bold">Polar 心率錶</p>
                    <p class="font12 miaosu">Polar 心率錶 銀黑色 - FT4-SBLK，針對想透過基於心率的基本功能保持簡單健身訓練的人們</p>
                    <div>
                        <span class="font24"><i class="font12">$</i>1234</span>
                        <a class="adds">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-xs-10" style="background: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            {foreach name="science_food" key="k" item="vo"}
                            {if condition="$k eq  0"}
                            <div class="col-md-6 col-xs-6 n2">
                                <div style="text-;text-align:  center;"><img src="__PUBLIC__{$vo['cover']}" class="first" style="width:189px;height:189px;"></div>
                                <div class="d2">
                                    <p class="nowrap">{$vo['product_name']}</p>
                                    {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                    {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                    {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                    <div>
                                        <span class="font24"><i class="font12">$</i>
                                          {:product_price($vo['product_id'])}
                                        </span>
                                        <a class="adds" style="padding: 0.4em 0.8em;" data-id="{$vo['product_id']}">+</a>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {if condition="$k egt 1 && $k  elt 2"}
                            <div class="col-md-3 col-xs-3 n2">
                                <img src="__PUBLIC__{$vo['cover']}">
                                <div class="d2">
                                    <p class="nowrap">{$vo['product_name']}</p>
                                    <p class="color_ro">优惠全民享</p>
                                    <div>
                                        <span class="font24"><i class="font12">$</i>{$vo['price']}</span>
                                        <a class="adds" data-id="{$vo['product_id']}">+</a>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {/foreach}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            {foreach name="science_food" key="k" item="vo"}
                            {if condition="$k egt 3 && $k  elt 6"}
                            <div class="col-md-3 col-xs-3 n2">
                                <img src="__PUBLIC__{$vo['cover']}">
                                <div class="d2">
                                    <p class="nowrap">{$vo['product_name']}</p>
                                    {if condition="$vo['discount_type'] eq 1"}<p class="color_ro">新品上架</p>{/if}
                                    {if condition="$vo['discount_type'] eq 2"}<p class="color_ro">特惠全民享</p>{/if}
                                    {if condition="$vo['discount_type'] eq 3"}<p class="color_ro">优惠全民享</p>{/if}
                                    <div>
                                        <span class="font24"><i class="font12">$</i>
                                          {:product_price($vo['product_id'])}
                                        </span>
                                        <a class="adds" data-id="{$vo['product_id']}">+</a>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            {/foreach}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- f5 end-->



<!--- f6 str-->
        <div class="row f6" style="padding: 20px 0;">
          <p class="index_title" style="background-position-y: -100px;"> 共享平台</p>
          <div class="border_top1"></div>

			<div class="row" style="margin: 0;padding: 2em 20px;background:  #fff;border-radius: 0 0 5px 5px;">

                {foreach name="share" item="vo"}
			  <div class="col-md-6 col-xs-6 list">
					<img src="__PUBLIC__/{$vo.product_pic}" class="img_left" />
					<div class="d1">
					  <h3>{$vo.product_name}</h3>
					  <p>{$vo.product_content}</p>
					</div>
			  </div>
                {/foreach}
			</div>
        </div>
  <!--- f6 end-->


    </div>
	{include file="common/footer"/}

    <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
{include file="common/script"/}
<script type="text/javascript">
$(document).ready(function(){

  $(".fixediv a").click(function(){

    $(".fixediv").fadeOut(400);

  });

  $(".ads_left").floatadv();
  $(".ads_right").floatadv();

});

jQuery.fn.floatadv = function(loaded) {
  var obj = this;
  body_height = parseInt($(window).height());
  block_height = parseInt(obj.height());
  container = parseInt($('.f3').height()+200);


  top_position = parseInt((body_height/2) - (block_height/2) + $(window).scrollTop());
  if (body_height<block_height) { top_position = 0 + $(window).scrollTop(); };


  console.log("top_position:" + top_position);
  console.log("container:" + container);



	if(!loaded){
		obj.css({'position': 'absolute'});
		obj.css({ 'top': container });
		$(window).bind('resize', function() {
		  obj.floatadv(!loaded);
		});
		$(window).bind('scroll', function() {
		  obj.floatadv(!loaded);
		});
	}else{
		if(top_position < container){
			obj.stop();
			obj.css({'position': 'absolute'});
			obj.animate({ 'top':container}, 500, 'linear');
			return false;
		}else{
			obj.stop();
			obj.css({'position': 'absolute'});
			obj.animate({ 'top': top_position }, 500, 'linear');
		}
	}


}
</script>

  </body>

</html>