<style>
.plupload {
    background: url(__CDN__/assets/img/upload_img.png) no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
}
.plupload:active,.plupload:hover{
    background: url(__CDN__/assets/img/upload_img.png) no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    border:0;
}
.danxuan .fa-circle{color: #eee;}
.danxuan.on .fa-circle{display: inline-block;color: #18bc9b;}
</style>
        <form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="" style="min-height: 450px;background: #fff;padding: 20px">

                 <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">產品名稱</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="slide_name" name="product_name" value="" data-rule="required;data1" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">类型:</label>
                    <div class="col-xs-12 col-sm-3">
                        <select name="cat_id" id="cat_id"  class="form-control">
                            <option value="0">请选择商品分类</option>
                        </select>
                    </div>
                     <div class="col-xs-12 col-sm-3">
                         <select name="cat_id" id="cat_id_2" class="small form-control">
                             <option value="0">请选择商品分类</option>
                         </select>
                    </div>
                     <div class="col-xs-12 col-sm-3">
                         <select name="cat_id" id="cat_id_3" class="small form-control" >
                             <option value="0">请选择商品分类</option>
                         </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">品牌</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="brand" name="brand" value="" data-rule="required;data2" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">貨品ID</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="freight_num" name="freight_num" value="" data-rule="required;data3" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">郵寄重量</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control"  name="weight_ioc" value="" data-rule="required;data4" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">規格</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="place_origin" name="place_origin" value="" data-rule="required;data4" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">產地</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="data4" name="model" value="" data-rule="required;data4" />
                    </div>
                </div>


                <div class="form-group on danxuan">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-3"><i class="fa fa-circle"></i> 價格</label>
                        <div class="col-xs-12 col-sm-5">
                            <input type="text" class="form-control" id="data5" name="price" value="" data-rule=";data5" />
                        </div>
                    </div>
                </div>
                <div class="form-group danxuan">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-3"><i class="fa fa-circle"></i> 特價</label>
                        <div class="col-xs-12 col-sm-5">
                            <input type="text" class="form-control" id="data6" name="pricevip" value="" data-rule=";data6" />
                        </div>
                    </div>
                </div>
                <div class="form-group danxuan" >
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-3"><i class="fa fa-circle"></i> 優惠</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="data7" name="discount_price" value="" data-rule=";data7" />
                        </div>
                        <div class="col-xs-12 col-sm-1">%</div>
                    </div>
                </div>

                <div class="form-group has-success">
                    <label for="c-logintime" class="control-label col-xs-12 col-sm-3">开始时间:</label>
                    <div class="col-xs-12 col-sm-8" style="position: relative;">
                        <input id="c-logintime" class="form-control datetimepicker " data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="start_time" type="text" value="2018-08-08 16:43:43" style="width: 40%">
                        结束时间：
                        <input id="c-logintime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="end_time" type="text" value="2018-07-31 16:43:44" style="width: 40%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="c-image" class="control-label col-xs-12 col-sm-2">封面</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input id="c-image" class="form-control" size="50" name="cover" type="hidden" value="">
                            <div class="input-group-addon no-border no-padding">
                                <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"></button></span>
                            </div>
                            <span class="msg-box n-right"></span>
                        </div>
                        <ul class="row list-inline plupload-preview" id="p-image"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="c-image1" class="control-label col-xs-12 col-sm-2">图片</label>
                    <div class="col-xs-12 col-sm-1">
                        <div class="input-group">
                            <input id="c-image1" class="form-control" size="50" name="img_url[]" type="hidden" value="">
                            <div class="input-group-addon no-border no-padding">
                                <span><button type="button" id="plupload-image1" class="btn btn-danger plupload" data-input-id="c-image1" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image1"></button></span>
                            </div>
                            <span class="msg-box n-right"></span>
                        </div>
                        <ul class="row list-inline plupload-preview" id="p-image1"  data-template="uploadtpl"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-1">
                        <div class="input-group">
                            <input id="c-image2" class="form-control" size="50" name="img_url[]" type="hidden" value="">
                            <div class="input-group-addon no-border no-padding">
                                <span><button type="button" id="plupload-image2" class="btn btn-danger plupload" data-input-id="c-image2" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image2"></button></span>
                            </div>
                            <span class="msg-box n-right"></span>
                        </div>
                        <ul class="row list-inline plupload-preview" id="p-image2"  data-template="uploadtpl"></ul>
                    </div>

                    <div class="col-xs-12 col-sm-1">
                        <div class="input-group">
                            <input id="c-image3" class="form-control" size="50" name="img_url[]" type="hidden" value="">
                            <div class="input-group-addon no-border no-padding">
                                <span><button type="button" id="plupload-image3" class="btn btn-danger plupload" data-input-id="c-image3" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image3"></button></span>
                            </div>
                            <span class="msg-box n-right"></span>
                        </div>
                        <ul class="row list-inline plupload-preview" id="p-image3"  data-template="uploadtpl"></ul>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-2">SKU</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="data10" name="sku" value="" data-rule="required;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-2">庫存</label>
                        <div class="col-xs-12 col-sm-2">
                            <input type="text" class="form-control" id="data11" name="stock" value="" data-rule="required;data11" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                                <a type="text" class="btn btn-success">獲取庫存</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        {:build_radios('is_best_status', ['0'=>'TOP 10', '1'=>'熱銷', '2'=>'精選'], 0)}
                    </div>
                </div>

                <div class="form-group hidden layer-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                    </div>
                </div>
                <div class="form-group tf tf-channel tf tf-list">
                    <label for="c-description" class="control-label col-xs-12 col-sm-2">簡介</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea id="c-description" data-rule="" class="form-control" name="summary"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="control-label col-xs-12 col-sm-2">詳情</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea id="c-content" data-rule="" class="form-control editor" rows="15" name="content" cols="50"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-2">标题</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="data1" name="seo_title" value="" data-rule="required;data12" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-2">關鍵字</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="data2" name="seo_keywords" value="" data-rule="required;data13" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label col-xs-12 col-sm-2">描述</label>
                        <div class="col-xs-12 col-sm-8">
                            <input type="text" class="form-control" id="slide_url" name="seo_desc" value="" data-rule="required;data14" />
                        </div>
                    </div>
                </div>

                <div class="form-group" style="text-align:  center;">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                      <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                    </div>
                </div>
        </form>
        <input  type="hidden" value="{:url('api/index/get_category')}" id="get_category_url">

        <script type="text/html" id="uploadtpl">
            <li class="col-xs-12">
                 <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail">
                    <img src="<%=fullurl%>" class="img-responsive">
                </a>
                <a href="javascript:;" class="btn btn-danger btn-xs btn-trash"><i class="fa fa-trash"></i></a>
            </li>
        </script>

