<style>
    .plupload{background:url(__CDN__/assets/img/upload_img.png) no-repeat;background-size:100%;width:60px;height:60px}

    .danxuan .fa-circle{color:#eee}
    .danxuan.on .fa-circle{display:inline-block;color:#18bc9b}
    .plupload-edit{background-color:#e74c3c;border-color:#e74c3c;width:100px;height:30px;background-image:none}
</style>
<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="" style="min-height: 450px;background: #fff;padding: 20px">

    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">產品名稱</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="slide_name" name="product_name" value="{$product_list.product_name}" data-rule="required;data1" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">分類:</label>
        <input type="hidden" id="cat_id_01" value="{$product_list['cat_id'][0]}">
        <input type="hidden" id="cat_id_02" value="{$product_list['cat_id'][1]?$product_list['cat_id'][1]:''}">
        <input type="hidden" id="cat_id_03" value="{$product_list['cat_id'][2]?$product_list['cat_id'][2]:''}">
        <div class="col-xs-12 col-sm-3">
            <select name="cat_id[]" id="cat_id"  class="form-control">
                {foreach name="cat_list" item="vo"}
                        <option value="{$vo.id}" {$vo['id'] == $product_list['cat_id'][0]?'selected':''}>{$vo.name}</option>
                 {/foreach}
            </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <select name="cat_id[]" id="cat_id_2" class="small form-control" style="display: none">

            </select>
        </div>

        <div class="col-xs-12 col-sm-3">
            <select name="cat_id[]" id="cat_id_3" class="small form-control" style="display: none">

            </select>
        </div>

    </div>

    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">品牌</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="brand" name="brand" value="{$product_list.brand}" data-rule="required;data2" />
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">貨品ID</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="freight_num" name="freight_num" value="{$product_list.freight_num}" data-rule="required;data3" />
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">郵寄重量</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control NumText"  name="weight_ioc" value="{$product_list.weight_ioc}" />
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">規格</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="place_origin" name="place_origin" value="{$product_list.place_origin}" data-rule="required;data4" />
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">產地</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="data4" name="model" value="{$product_list.model}" data-rule="required;data4" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="is_inland" class="control-label col-xs-12 col-sm-2">內地專區</label>
            <div class="col-xs-12 col-sm-8">
                {:build_radios('is_inland', ['0'=>'否', '1'=>'是'],$product_list.is_inland)}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input id="discount_type-1" type="text" value="1" name="discount_type"{$product_list['discount_type']==1?'checked="checked"':''} style="display: none"/>
            <div for="discount_type-1" class="control-label col-xs-12 col-sm-3 discount">價格</div>
            <div class="col-xs-12 col-sm-5">
                <input type="text" class="form-control NumDecText" id="data5" name="price" value="{$product_list.price}" data-rule=";data5" />
                <a href="javascript:" id="no_checked" style="display: {$product_list['discount_type']==1?'none':'block'}">取消選擇特價/優惠</a>
                <span style="color:red" id="is_inland_tip"></span>
            </div>
        </div>
    </div>  <i class="fa fa-circle" style="display: none"></i>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="discount_type-2" class="control-label col-xs-12 col-sm-3 discount">
                <input id="discount_type-2" type="radio" value="2" name="discount_type" {$product_list['discount_type']==2?'checked="checked"':''}/>
                特價</label>
            <div class="col-xs-12 col-sm-5">
                <input type="text" class="form-control NumDecText" id="data6" name="pricevip" value="{$product_list.pricevip}" data-rule="" />
            </div>
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-12">
            <label for="discount_type-3" class="control-label col-xs-12 col-sm-3 discount">
                <input id="discount_type-3" type="radio" value="3" name="discount_type" {$product_list['discount_type']==3?'checked="checked"':''}/>
                優惠</label>
            <div class="col-xs-12 col-sm-4">
                <input type="text" class="form-control NumDecText" id="data7" name="discount_price" value="{$product_list.discount_price}" data-rule="" />
            </div>
            <div class="col-xs-12 col-sm-1">%</div>
        </div>
    </div>

    <div class="form-group has-success" id="discount_time" style="display: {$product_list['discount_type'] == 3?'':'none'}">
        <label for="c-logintime" class="control-label col-xs-12 col-sm-3">开始时间:</label>
        <div class="col-xs-12 col-sm-8" style="position: relative;">
            <input id="c-starttime" class="form-control datetimepicker " data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="discount_start_time" type="text" value="{$product_list.discount_start_time?'':''}" style="width: 40%">
            结束时间：
            <input id="c-endtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="discount_end_time" type="text" value="{$product_list.discount_end_time?'':''}" style="width: 40%">
        </div>
    </div>

    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">封面</label>
        <div class="col-xs-12 col-sm-10">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="cover" type="hidden" value="{$product_list.cover}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload plupload-edit" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i>重新上傳</button></span>
                    <!--<span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
            <span style="color:red">*建議封面寬度高度相等，使用白底圖片可以統一網站整體美觀。例如：600px*600px</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">图片</label>
        <div id="images">
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-image-multiple" class="form-control" size="50" name="img_url" type="hidden" value="{$product_list.img_url}">
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="plupload-image-multiple" class="btn plupload" data-input-id="c-image-multiple" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-image-multiple" title="点击上傳多图片"></button></span>
                        點擊圖片按鈕上傳多圖片
                    </div>
                    <span class="msg-box n-right"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-image-multiple">

                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="username" class="control-label col-xs-12 col-sm-2">SKU</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="data10" name="sku" value="{$product_list.sku}" data-rule="required;" />
            </div>
        </div>
    </div>
    <div class="form-group" style="display: none">>
        <div class="col-sm-12">
            <label for="username" class="control-label col-xs-12 col-sm-2">庫存</label>
            <div class="col-xs-12 col-sm-2">
                <input type="text" class="form-control NumText" id="data11" name="stock" value="{$product_list.stock}" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <a type="text" class="btn btn-success">獲取庫存</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="pre-order" class="control-label col-xs-12 col-sm-2">pre-order</label>
            <div class="col-xs-12 col-sm-8">
                {:build_radios('pre_order', ['0'=>'否', '1'=>'是'], $product_list.pre_order)}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('is_best_status', ['0'=>'TOP 10', '1'=>'熱銷', '2'=>'精選'], $product_list.is_best_status)}
        </div>
    </div>

    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    <div class="form-group tf tf-channel tf tf-list">
        <label for="c-description" class="control-label col-xs-12 col-sm-2">簡介</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" data-rule="" class="form-control" name="summary">{$product_list.summary}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">詳情</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="" class="form-control editor" rows="15" name="content" cols="50">{$product_list.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="username" class="control-label col-xs-12 col-sm-2">標題</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="data1" name="seo_title" value="{$product_list.seo_title}" data-rule="" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="username" class="control-label col-xs-12 col-sm-2">關鍵字</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="data2" name="seo_keywords" value="{$product_list.seo_keywords}" data-rule="" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="username" class="control-label col-xs-12 col-sm-2">描述</label>
            <div class="col-xs-12 col-sm-8">
                <input type="text" class="form-control" id="slide_url" name="seo_desc" value="{$product_list.seo_desc}" data-rule="" />
            </div>
        </div>
    </div>
    <input type="hidden" name="product_id" value="{$product_list['product_id']}">

    <div class="form-group" style="text-align:  center;">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
        </div>
    </div>

</form>

<input  type="hidden" value="{:url('api/index/get_category')}" id="get_category_url">

<script type="text/html" id="uploadtpl">
    <li class="col-xs-3">
        <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail">
            <img src="<%=fullurl%>" class="img-responsive">
        </a>
        <a href="javascript:;" class="btn btn-danger btn-xs btn-trash"><i class="fa fa-trash"></i></a>
    </li>
</script>

