<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <div class="commonsearch-table ">
                        <form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="post" action="{:url('product/index')}">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="ip" class="control-label col-xs-4">關鍵詞</label>
                                        <div class="col-xs-8">
                                            <input type="hidden" class="form-control operate" name="ip-operate" data-name="ip" value="=" readonly=""><input type="text" class="form-control" name="keyword" value="{$request['keyword']|default=''}" placeholder="输入產品名稱|貨品ID" data-index="6">
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="admin_id" class="control-label col-xs-2">分類</label>
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-inline" data-toggle="cxselect" data-selects="group,admin">
                                                        <select class="group form-control" name="cat_id" style="width: 100%;">
                                                            <option value="">全部</option>
                                                            {foreach name="categorylist" item="vo" }
                                                             <option value="{$vo.id}" {if condition="$vo['id'] eq $request['cat_id']"}selected{/if}>{$vo.name}</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-2">
                                        <label for="admin_id" class="control-label col-xs-4">狀態</label>
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-inline" data-toggle="cxselect" data-selects="group,admin">
                                                        <select class="group form-control" name="is_on_sale" style="width: 100%;">
                                                            <option value="all">全部</option>
                                                             <option value="0" {if condition="$request['is_on_sale'] eq '0'"}selected{/if}>下架</option>
                                                             <option value="1" {if condition="$request['is_on_sale'] eq 1"}selected{/if}>上架</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="col-sm-8 col-xs-offset-4">
                                            <button type="submit" class="btn btn-success" formnovalidate="">搜索</button>
                                            <a href="{:url('product/index')}" type="reset" class="btn btn-default">重置</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="bs-bars pull-left">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add,import')}
                        <a href="javascript:;window.location.reload()" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-danger btn-import {:$auth->check('test/import')?'':'hide'}" title="{:__('Import')}" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="true"><i class="fa fa-upload"></i> {:__('Import')}</a><div class="dropdown btn-group ">
                        <a href="javascript:;" class="btn btn-danger btn-import" title="导入" id="btn-import-file" data-url="ajax/upload" data-mimetype="csv,xls,xlsx" data-multiple="false" initialized="true" style="position: relative; z-index: 1;"><i class="fa fa-upload"></i> 导入</a>
                    </div>
                    </div></div>
                    <table  class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                        <thead>
                        <tr>
                            <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; " data-field="0">
                                <div class="th-inner ">
                                    <input name="btSelectAll" type="checkbox"></div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="product_id">
                                <div class="th-inner ">產品ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="product_name">
                                <div class="th-inner ">產品名稱</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="brand">
                                <div class="th-inner ">品牌</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="place_origin">
                                <div class="th-inner ">產品規格</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="price">
                                <div class="th-inner ">產品價格</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="cover">
                                <div class="th-inner ">產品圖片</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="sku">
                                <div class="th-inner ">SKU</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="stock">
                                <div class="th-inner ">庫存</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="freight_num">
                                <div class="th-inner ">貨品ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="is_on_sale">
                                <div class="th-inner ">狀態</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th style="text-align: center; vertical-align: middle; " data-field="operate">
                                <div class="th-inner ">操作</div>
                                <div class="fht-cell"></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody data-listidx="0">
                        {foreach name="list" item="vo" }
                        <tr data-index="0">
                            <td class="bs-checkbox ">
                                <input data-index="0" name="btSelectItem" type="checkbox"></td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.product_id}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.product_name}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.brand}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.place_origin}</td>
                            <td style="text-align: center; vertical-align: middle; ">{:product_price($vo['product_id'])}</td>
                            <td style="text-align: center; vertical-align: middle; ">
                                <a href="__PUBLIC__/{$vo.cover}" target="_blank">
                                    <img class="img-sm img-center" src="__PUBLIC__/{$vo.cover}"></a>
                            </td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.sku}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.stock}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$vo.freight_num}</td>
                            <td style="text-align: center; vertical-align: middle; ">{$is_on_sale[$vo['is_on_sale']]}</td>
                            <td style="text-align: center; vertical-align: middle; ">
                                <a href="{:url('Product/edit',array('product_id'=>$vo['product_id']))}" class="btn btn-xs btn-detail btn-dialog" title="修改" data-table-id="table" data-field-index="11" data-row-index="0" data-button-index="0">
                                    <i class=""></i>修改</a>
                                <a href="{:url('Product/del',array('product_id'=>$vo['product_id']))}" class="btn btn-xs btn-detail btn-magic btn-ajax-xs" title="点击删除" data-table-id="table" data-field-index="11" data-row-index="0" data-button-index="1">
                                    <i class=""></i>刪除</a>
                                <a href="{:url('Product/is_on_sale',array('product_id'=>$vo['product_id'],'is_on_sale'=>$vo['is_on_sale']))}" class="btn btn-xs btn-detail btn-magic btn-ajax-xs" title="点击{$is_on[$vo['is_on_sale']]}" data-table-id="table" data-field-index="11" data-row-index="0" data-button-index="2">
                                    <i class=""></i>{$is_on[$vo['is_on_sale']]}</a>

                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div class="pull-right pagination">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

