{include file="layout/public_head" /}
	<body style="background: url(__TMPL_PUBLIC__/img/login_bg.jpg) repeat center;background-size: cover !important;">

	 <div class="container">

       <div class="row">

	        <div class="col-md-5 col-xs-11 login" style="">
				<img src="__TMPL_PUBLIC__/img/logo-3.png" class="logo3">
    			<form action="{:url('user/is_forgetpwd_email')}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return is_forgetpwdform()" id="is_forgetpwd-form">
					<input type="hidden" value="{$token}" name="token">
					<p class="font24">填写新密码</p>
					<p>
						用戶名 : {$user.username}<br>
						邮&nbsp;&nbsp;&nbsp;箱 : {$user.email}
					</p>
					<div class="form-group label2">
						<input type="password" class="form-control password" name="password" value="" id="password" placeholder="新密碼*" title="请输入新密碼！" required="">
					</div>
					<div class="form-group label2">
						<input type="password" class="form-control password" name="password2" value="" id="password2" placeholder="確認密碼*" title="请输入確認密碼！" required="">
					</div>
					<div class="form-group" style="border: 0;margin-top: 30px;">
				  		<button type="submit" class="btn btn-success btn-success-edit" style="margin-bottom: 1em"  id="is_forgetpwd">修改密码</button>
					</div>
					<div style="text-align: center;">
						<span class="color_99">還沒有帳號？點擊<span>   <a href="{:url('User/register')}">註冊會員</a>
					</div>
				</form> 
			</div> 
		</div>

		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script src="__TMPL_PUBLIC__/js/scripts.js"></script>
	 	{include file="common/script" /}
		<script type="text/javascript">
			function is_forgetpwdform(){
				// jquery 表单提交
				$("#is_forgetpwd-form").ajaxSubmit(function(data) {
					console.log(data);
					if(data.code == 0){
						$.message({message:data.msg,type:'warning',time:'3000'});
					}else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location = data.url
                        },1500);
					}
				});

				return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
			}
		</script>
	</body>
</html>