{include file="layout/public_head" /}
	<body style="background: url(__TMPL_PUBLIC__/img/login_bg.jpg) repeat center;background-size: cover !important;">
	 <div class="container">
       <div class="row">
	        <div class="col-md-5 col-xs-11 login" style="">
				<a href="{:url('index/index')}"><img src="__TMPL_PUBLIC__/img/logo-3.png" class="logo3"></a>
    			<form action="{:url('user/login')}" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return loginform()" id="login-form">
	        		<div class="form-group label1">
                      <label for="exampleInputEmail1"></label>
                      <input type="email" class="form-control" id="email" placeholder="電郵" data-toggle="tooltip" title="請輸入您的電郵" name="email" required>
                    </div>
                    <div class="form-group label2">
                      <label for="exampleInputEmail1"></label>
                       <input type="password" class="form-control" id="password" placeholder="密碼"  data-toggle="tooltip" name="password" title="請輸入您的密碼" required>
                    </div>
				  <div class="form-group" style="border: 0;">
				     <label style="width: 40%;"><input type="checkbox" style="width: 20%;" id="ck_rmbuser">記住密碼</label>
				     <a href="{:url('user/forgetpwd')}" class="color_ro" style="float: right">忘記密碼 找回？</a>
				  </div>
					<div class="form-group" style="border: 0;">
				  		<button type="submit" class="btn btn-success btn-success-edit" style="margin-bottom: 1em"  id="login">登    錄</button>
						{if condition="empty(sp_ip_ischina())"}
						<button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em" id="facebook"><img src="__TMPL_PUBLIC__/img/logo-facebook.png" style="width:  30px;margin-right:  10px;">Facebook 客戶登錄</button>
						<button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em" id="customBtn" ><img src="__TMPL_PUBLIC__/img/logo-google.png" style="width:  30px;margin-right:  10px;">Google 客戶登錄</button>
						{/if}
					 	<button type="button" class="btn btn-default btn-default-edit"  id="weixin"><img src="__TMPL_PUBLIC__/img/logo-weixin.png" style="width:  30px;margin-right:  10px;">Wechat 登錄</button>
					</div>
					<div style="text-align: center;">
						<a href="{:url('User/register')}">註冊會員</a>
					</div>
				</form> 
			</div> 
		</div>
	 	<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script src="__TMPL_PUBLIC__/js/scripts.js"></script>
		 {include file="common/script" /}
		<script type="text/javascript">

            $(document).ready(function () {
                if ($.cookie("rmbuser") == "true") {
                    $("#ck_rmbuser").attr("checked", true);
                    $("#email").val($.cookie("email"));
                    $("#password").val($.cookie("password"));
                }
            });

			function loginform(){
				var email = $('#email');
				var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/; //定义一个正则表达式
				if(!reg.test(email.val())){
					$.message({message:'電郵格式不正確！',type:'warning'});
					email.focus();
					return false;
				} 
			
				// jquery 表单提交
				$("#login-form").ajaxSubmit(function(data) {
					console.log(data);
					if(data.code == 0){
						$.message({message:data.msg,type:'warning',time:'3000'});
					}else{
                        save();
						$.message(data.msg);
						setTimeout(function () {
						  	window.location = data.url
					  	},1500);
					}
				});

				return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
			}

            //记住用戶名密码
            function save() {
                if ($("#ck_rmbuser").is(':checked')) {
                    var email = $("#email").val();
                    var password = $("#password").val();
                    $.cookie("rmbuser", "true", { expires: 7 }); //存储一个带7天期限的cookie
                    $.cookie("email", email, { expires: 7 });
                    $.cookie("password", password, { expires: 7 });
                }
                else {
                    $.cookie("rmbuser", "false", { expire: -1 });
                    $.cookie("email", "", { expires: -1 });
                    $.cookie("password", "", { expires: -1 });
                }
            };
            $('#weixin').click(function () {
                window.location = '{$weixin_url}';
            });
		</script>
		 {if condition="empty(sp_ip_ischina())"}
		 <script>
             // facebook登录
             $('#facebook').click(function () {
                 FB.login(function(response) {
                     if (response.status === 'connected') {
                         FB.api('/me', function(response) {

                             console.log(response);
                             $.ajax({
                                 type: "POST",
                                 url: "{:url('api/user/third')}?platform=facebook",
                                 dataType: 'json',
                                 data: response,
                                 success: function(data) {
                                     if(data.code == 0){
                                         $.message({message:data.msg,type:'warning',time:'3000'});
                                     }else{
                                        // $.message(data.msg);
										 window.location = data.data;

                                     }
                                 }
                             });
                         });
                     } else {
                         console.log('该用户没有登录');
                     }
                 }, {scope: 'public_profile,email'});
             });

             function fbLogoutUser() {
                 FB.login(function(response) {
                     if (response && response.status === 'connected') {
                         FB.logout(function(response) {
                             document.location.reload();
                         });
                     }
                 });
             }


             window.fbAsyncInit = function(){
                 FB.init({
                     appId      : '2189717721299310',
                     cookie     : true,
                     xfbml      : true,
                     version    : 'v3.1'
                 });

                 FB.AppEvents.logPageView();
             };

             (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "https://connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));

		 </script>


		 <script src="https://apis.google.com/js/api:client.js"></script>
		 <script>
             // 谷歌登录
             var googleUser = {};
             var startApp = function() {
                 gapi.load('auth2', function(){
                     // Retrieve the singleton for the GoogleAuth library and set up the client.
                     auth2 = gapi.auth2.init({
                         client_id: '984354453837-fqkrscs30go99qabpps4mhi8bur8fd6p.apps.googleusercontent.com', //客户端ID
                         cookiepolicy: 'single_host_origin',
                         scope: 'profile' //可以请求除了默认的'profile' and 'email'之外的数据
                     });
                     attachSignin(document.getElementById('customBtn'));
                 });
             };
             function attachSignin(element) {
                 auth2.attachClickHandler(element, {},
                     function(googleUser) {
                         // document.getElementById('name').innerText = "Signed in: " + googleUser.getBasicProfile().getName();
                         var profile = auth2.currentUser.get().getBasicProfile();
                         console.log('ID: ' + profile.getId());
                         console.log('Full Name: ' + profile.getName());
                         console.log('Given Name: ' + profile.getGivenName());
                         console.log('Family Name: ' + profile.getFamilyName());
                         console.log('Image URL: ' + profile.getImageUrl());
                         console.log('Email: ' + profile.getEmail());

                         console.log(profile);
                         console.log(gapi.auth.getToken().access_token);
                         $.ajax({
                             type: "POST",
                             url: "{:url('api/user/third')}?platform=google",
                             dataType: 'json',
                             data: profile,
                             success: function(data) {
                                 if(data.code == 0){
                                     $.message({message:data.msg,type:'warning',time:'3000'});
                                 }else{
                                     // $.message(data.msg);
                                     window.location = data.data;
                                 }
                             }
                         });

                     }, function(error) {
                         console.log(JSON.stringify(error, undefined, 2));
                     });
             }
             startApp();
             // 取消与应用关联的代码
             function disconnectUser(){
                 var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + gapi.auth.getToken().access_token;
                 $.ajax({
                     type: 'GET',
                     url: revokeUrl,
                     async: false,
                     contentType: "application/json",
                     dataType: 'json',
                     success: function(nullResponse) {
                         // 成功以后隱藏登录信息
                         alert("退出成功！");
                     },
                     error: function(e) {
                         alert("取消關聯失敗！請到 https://plus.google.com/apps 手动解除！");
                         window.open("https://plus.google.com/apps");
                     }
                 });
             }
		 </script>
		 {/if}
	</body>
</html>