<!DOCTYPE html>
<html lang="en">

<head>

	{include file="layout/public_head" /}
</head>

	<body style="background: url(__TMPL_PUBLIC__/img/login_bg.jpg) repeat center;background-size: cover;">

	 <div class="container">

       <div class="row">
	        <div class="col-md-5 col-xs-11 login" style="">
				<img src="__TMPL_PUBLIC__/img/logo-3.png" class="logo3">
	        	<form class="form-horizontal">

	        		<div class="form-group label1">
                      <label for="exampleInputEmail1"></label>
                      <input type="email" class="form-control" id="email" placeholder="電郵" data-toggle="tooltip" title="請輸入您的電郵">
                    </div>
                    <div class="form-group label2">
                      <label for="exampleInputEmail1"></label>
                       <input type="password" class="form-control" id="password" placeholder="密碼"  data-toggle="tooltip" title="請輸入您的密碼">
                    </div>
				  <div class="form-group" style="border: 0;">
				     <label style="width: 40%;"><input type="checkbox" style="width: 20%;">記住密碼</label>
				     <a href="#" class="color_ro" style="float: right">忘記密碼 找回？</a>
				  </div>
					<div class="form-group" style="border: 0;">

				  		<button type="button" class="btn btn-success btn-success-edit" style="margin-bottom: 1em"  id="login">登    錄</button>

						<button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em">Facebook 客戶登錄</button>
					 	<button type="button" class="btn btn-default btn-default-edit"><img src="__TMPL_PUBLIC__/img/logo-weixin.png" style="width:  30px;margin-right:  10px;">Wechat 登錄</button>

					</div>
					<div style="text-align: center;">
						<a href="{:url('User/register')}">註冊會員</a>
					</div>

				</form>

		</div>


	</div>

	<script type="text/javascript">

		$("#login").click(function(){
		  	var email = $('#email').val();
		  	var password = $('#password').val();
		  	if(email == ''){
		  		$('#email').tooltip('show').focus();
		  		return false
		  	}
		  	if(password == ''){
		  		$('#password').tooltip('show').focus();
		  		return false
		  	}






		});
	</script>




	</body>
</html>