<!DOCTYPE html>
<html lang="en">

<head>

	{include file="layout/public_head" /}

    <style type="text/css">


	.cart-item-list{border: 1px solid #e5e5e5;border-top: 0;}
	.pr_name{padding-left: 0;}
	.order_address .row{}
	</style>


  </head>
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

    <div class="container bgcolor_white">
      <div class="alzx-crumbs alzx-crumbs-f1">
          <div class="alzx-con">
          <a class="crumbs-01" href="#">主頁</a>
              <em>&gt;</em>
              <span class="crumbs-02">用戶中心</span>
          </div>

        </div>
        <div class="shopping_cart">

            <div class="row">
                <div class="col-md-2 left-list">
                    <div class="user_data">
                        <h4><img src="__TMPL_PUBLIC__/img/left_menu_hd.png" />會員信息</h4>
                        <p>
                            賬號:  yaca78<br>
                            手機:  未綁定<br>
                            郵箱:  y****8@163.com
                        </p>

                        <a href="" class="edit">修改信息</a>
                    </div>
                    <div class="left_menu">
                      <a href=""><img src="__TMPL_PUBLIC__/img/left_menu_ico1.png" />我的訂單</a>
                      <a href=""><img src="__TMPL_PUBLIC__/img/left_menu_ico2.png" />我的共享</a>
                      <a href=""><img src="__TMPL_PUBLIC__/img/left_menu_ico3.png" />地址管理</a>
                    </div>
                </div>
                <div class="col-md-10 right-list" style="padding-right: 30px;">

	          		<div class="pr_name">訂單詳情</div>
    				<div class="order_address">

    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">訂單ID：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">2018071100001</div>
               			</div>
    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">訂單日期：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">2018年7月11日 20:23</div>
               			</div>
    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">收件人姓名：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">騰沐科技</div>
               			</div>
    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">聯繫電話：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">13138164021</div>
               			</div>
    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">支付方式：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">信用卡</div>
               			</div>
    					<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-4 bold" style="">收貨地址：</div>
							<div class="col-md-10 col-sm-8 col-xs-8" style="">九龍油塘高超道38號大本型商場2樓228號鋪</div>
               			</div>

           			</div>

                    <div class="pr_name">訂單信息</div>
					<div class="row item-single">

							<div class="col-md-6 col-sm-6 col-xs-6" style="">商品</div>
							<div class="col-md-2 col-sm-2 col-xs-2" style="">單價</div>
							<div class="col-md-2 col-sm-2 col-xs-2" style="">購買數量	</div>
							<div class="col-md-2 col-sm-2 col-xs-2" style="">小計</div>
					</div>

					<div class="row cart-item-list">
						<div class="col-md-6 col-sm-6 col-xs-6 t2" style="">
							<div class="row">
								<img src="__TMPL_PUBLIC__/img/f2_1.jpg" class="col-md-4 col-sm-4 col-xs-4">
								<p class="col-md-6 col-sm-6 col-xs-6 ">
									<span class="bold">強效專業運動鞋墊 41</span>
									產品型號：1234567890
								</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 1000.00</div>
						<div class="col-md-2 col-sm-2 col-xs-2" style="">
								10
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 10000.00</div>
					</div>

					<div class="row cart-item-list">
						<div class="col-md-6 col-sm-6 col-xs-6 t2" style="">
							<div class="row">
								<img src="__TMPL_PUBLIC__/img/f2_1.jpg" class="col-md-4 col-sm-4 col-xs-4">
								<p class="col-md-6 col-sm-6 col-xs-6 ">
									<span class="bold">強效專業運動鞋墊 41</span>
									產品型號：1234567890
								</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 1000.00</div>
						<div class="col-md-2 col-sm-2 col-xs-2" style="">
								10
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 10000.00</div>
					</div>

					<div class="row cart-item-list">
						<div class="col-md-6 col-sm-6 col-xs-6 t2" style="">
							<div class="row">
								<img src="__TMPL_PUBLIC__/img/f2_1.jpg" class="col-md-4 col-sm-4 col-xs-4">
								<p class="col-md-6 col-sm-6 col-xs-6 ">
									<span class="bold">強效專業運動鞋墊 41</span>
									產品型號：1234567890
								</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 1000.00</div>
						<div class="col-md-2 col-sm-2 col-xs-2" style="">
								10
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 color_ro" style="">$ 10000.00</div>
					</div>






					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-12 border_1" style="text-align: right;padding:20px">
							<span class="color_ro">2</span>件商品, 總計: <span class="color_ro">$ 20000.00</span><br/>運費: $ 0<br/>
						</div>
						<div class="col-md-12 border_1" style="padding:20px">
							<p style="display: inline-block;">
								<span class="color_ro">120</span>積分可抵扣<span class="color_ro">$12.0</span>&nbsp;&nbsp;&nbsp;&nbsp;捐款<span class="color_ro">$12.0</span>
							</p>
							<p style="font-size:22px;text-align: right;display: inline-block;float:right;">合計 (不含運費)：<span class="color_ro">$ 20000.00</span></p>
						</div>
					</div>
					<div class="row">
                        <div class="col-sm-8 col-xs-4"></div>
                        <div class="col-md-2 col-xs-4" style="">
                          <button type="button" class="btn btn-default btn-default-edit" style="margin-bottom: 1em">再次下單</button>
                        </div>
                        <div class="col-md-2 col-xs-4" style="">
                          <button type="button" class="btn btn-success btn-success-edit" style="border-radius:  0;">評價</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>



	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


  </body>

</html>