{include file="layout/public_head" /}


<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->

{include file="common/nav"/}
<body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;background-size: cover !important;">
    <style>
        .user_publish_share .cart-item-list{ line-height: 30px;}
        .user_publish_share .item-single{padding: 10px 0;}
        </style>
    <div class="container bgcolor_white">
      <div class="alzx-crumbs alzx-crumbs-f1">
          <div class="alzx-con">
          <a class="crumbs-01" href="#">主頁</a>
              <em>&gt;</em>
              <span class="crumbs-02">用戶中心</span>
          </div>
        </div>
        <div class="user_publish_share">
            <div class="row">
                <div class="col-md-2 left-list">
                    {include file="common/user_left" /}
                </div>
                <div class="col-md-10 right-list">
                    <div class="row item-single">
                        <div class="col-md-3" style="">訂單號</div>
                        <div class="col-md-3" style="">捐款日期</div>
                        <div class="col-md-2" style="">捐款金額</div>
                    </div>
                    {foreach name="contribution_list" item="vo"}
                      <div class="row cart-item-list">
                          <div class="col-md-3" style="">
                              <a href="{:url('user/order_detail',array('order_sn'=>base64_encode($vo['order_sn'])))}">{$vo.order_sn}</a>
                          </div>
                          <div class="col-md-3 t2" style="">
                                {$vo['pay_time']}
                          </div>
                          <div class="col-md-2" style="">$ {$vo.contribution_price}</div>
                      </div>
                    {/foreach}
                </div>
            </div>
              {$contribution_list->render()}
        </div>

    </div>
    {include file="common/footer"/}
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="__TMPL_PUBLIC__/js/scripts.js"></script>
    {include file="common/script" /}
  </body>
</html>