<script src="../../../public/assets/js/backend/product.js"></script>{include file="layout/public_head" /}


<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->

{include file="common/nav"/}
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

    <div class="container bgcolor_white">
      <div class="alzx-crumbs alzx-crumbs-f1">
          <div class="alzx-con">
          <a class="crumbs-01" href="#">主頁</a>
              <em>&gt;</em>
              <span class="crumbs-02">用戶中心</span>
          </div>

        </div>
        <div class="user_edit">
            <div class="row">
                <div class="col-md-2 left-list">
                  {include file="common/user_left" /}
                </div>
                <div class="col-md-10 right-list">
                  <form action="{:url('user/user_edit')}"  method="post" enctype="multipart/form-data" onsubmit="return editform()" id="edit-form">
                    <div class="pr_name">基本資料</div>
                    <div class="row" style="margin-right: 20px;padding: 20px;border: 1px solid #eee;">
                      <div class="col-md-2"></div>

                        <div class="col-md-9 form-horizontal">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>電郵：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="email" placeholder="" value="{$info.email}">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>手機號：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="mobile" placeholder="" name="mobile" value="{$info.mobile}">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>原密碼：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="inputEmail3" placeholder="" >
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>新密碼：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="inputEmail3" placeholder="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>確認新密碼：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="inputEmail3" placeholder="">
                            </div>
                          </div>
                        </div>
                      <div class="col-md-2"></div>
                    </div>
                   <div class="pr_name">個人信息</div>
                    <div class="row" style="margin-right: 20px;padding: 20px;border: 1px solid #eee;margin-bottom: 10px;">
                      <div class="col-md-2"></div>
                      <div class="form-horizontal col-md-9">

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">＊</span>姓名：</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control input_e" id="nickname" placeholder="" name="nickname"  value="{$info.nickname}">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>性別：</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control input_e" id="gender" placeholder="" name="gender" value="{$info.gender}">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>出生日期：</label>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday['year']">
                              <option value="1989">1989</option>
                              <option value="">1990</option>
                              <option value="">1991</option>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday['month']">
                              <option value="10">10</option>
                              <option value="">11</option>
                              <option value="">12</option>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday['day']">
                              <option value="23">23</option>
                              <option value="">24</option>
                              <option value="">25</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>地址：</label>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="country">
                              <option value="香港">香港</option>
                              <option value="">香港</option>
                              <option value="">香港</option>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="province">
                              <option value="九龍">九龍</option>
                              <option value="">九龍</option>
                              <option value="">九龍</option>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="city">
                              <option value="藍田">藍田</option>
                              <option value="">藍田</option>
                              <option value="">藍田</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>詳細地址：</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control input_e" id="address_details" placeholder="" name="address_detail">
                          </div>
                        </div>

                      </div>
                      <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"></div>
                        <div class="col-md-2" style="">
                          <button type="submit" class="btn btn-success btn-success-edit">保存</button>
                        </div>
                    </div>
                  </form>

                </div>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
        <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
        <script type="text/javascript">

            function editform(){

                var email = $('#email');
                var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/; //定义一个正则表达式
                if(!reg.test(email.val())){
                    $.message({message:'電郵格式不正确！',type:'warning'});
                    email.focus();
                    return false;
                }

                // jquery 表单提交
                $("#edit-form").ajaxSubmit(function(data) {
                    console.log(data);
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location = data.url
                        },2500);
                    }
                });

                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }
        </script>
    </div>
    {include file="common/footer"/}
  </body>

</html>