<script src="../../../public/assets/js/backend/product.js"></script>{include file="layout/public_head" /}


<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->

{include file="common/nav"/}
    <body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

    <div class="container bgcolor_white">
      <div class="alzx-crumbs alzx-crumbs-f1">
          <div class="alzx-con">
          <a class="crumbs-01" href="#">主頁</a>
              <em>&gt;</em>
              <span class="crumbs-02">用戶中心</span>
          </div>

        </div>
        <div class="user_edit">
            <div class="row">
                <div class="col-md-2 left-list">
                  {include file="common/user_left" /}
                </div>
                <div class="col-md-10 right-list">
                  <form action="{:url('user/user_edit')}"  method="post" enctype="multipart/form-data" onsubmit="return editform()" id="edit-form">
                    <div class="pr_name">基本資料</div>
                    <div class="row" style="margin-right: 20px;padding: 20px;border: 1px solid #eee;">
                      <div class="col-md-2"></div>

                        <div class="col-md-9 form-horizontal">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>電郵：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="email" placeholder="" value="{$info.email}">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>手機號：</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control input_e" id="mobile" placeholder="" name="mobile" value="{$info.mobile}" oninvalid="setCustomValidity('请输入手機號碼！')" oninput="setCustomValidity('') "onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/" maxlength="11">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>原密碼：</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control input_e" id="password" name="password" placeholder="" >
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>新密碼：</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control input_e" id="newpassword" name="newpassword" placeholder="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>確認新密碼：</label>
                            <div class="col-sm-6">
                              <input type="password" class="form-control input_e" id="confirm" name="confirmpassword" placeholder="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>是否接收推廣電郵：</label>
                            <div class="col-sm-6">
                              <label class="radio-inline">
                                <i class="input_style radio_bg radio_bg_check"><input type="radio" {$info['reception_romotion_email']==0?'checked':''} name="reception_romotion_email" value="0"></i>否
                              </label>
                              <label class="radio-inline">
                                <i class="input_style radio_bg radio_bg_check"><input type="radio" {$info['reception_romotion_email']==1?'checked':''} name="reception_romotion_email" value="1"></i>是
                              </label>
                            </div>
                          </div>
                        </div>
                      <div class="col-md-2"></div>
                    </div>
                   <div class="pr_name">個人信息</div>
                    <div class="row" style="margin-right: 20px;padding: 20px;border: 1px solid #eee;margin-bottom: 10px;">
                      <div class="col-md-2"></div>
                      <div class="form-horizontal col-md-9">

                        <div class="form-group">
                          {include file="common/avatar_edit"/}
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">＊</span>姓名：</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control input_e" id="nickname" placeholder="" name="nickname"  value="{$info.nickname}">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>性別：</label>
                          <div class="col-sm-6">
                            <label class="radio-inline">
                              <i class="input_style radio_bg radio_bg_check"><input type="radio" {$info['gender']==1?'checked':''} name="gender" value="1"></i>男
                            </label>
                            <label class="radio-inline">
                              <i class="input_style radio_bg radio_bg_check"><input type="radio" {$info['gender']==2?'checked':''} name="gender" value="2"></i>女
                            </label>
                            <label class="radio-inline">
                              <i class="input_style radio_bg radio_bg_check"><input type="radio" {$info['gender']==0?'checked':''} name="gender" value="0"></i>保密
                            </label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>出生日期：</label>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday_year">

                              {volist name="y" id="vo"}
                                <option value="{$vo}" {if condition="$vo eq $info['birthday'][0]"} selected="selected"{/if}>{$vo}</option>
                              {/volist}
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday_month">
                              {volist name="m" id="vo"}
                              <option value="{$vo}" {if condition="$vo eq $info['birthday'][1]"} selected="selected"{/if}>{$vo}</option>
                              {/volist}
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control select_e" name="birthday_day">
                              {volist name="d" id="vo"}
                              <option value="{$vo}" {if condition="$vo eq $info['birthday'][2]"} selected="selected"{/if}>{$vo}</option>
                              {/volist}
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>地址：</label>
                          <div class="col-sm-3">
                            <select onchange="get_city(this)" class="form-control select_e" id="province" name="province"  title="请選擇所在省份">
                              <option value="">選擇省份</option>
                              {volist name="province" id="vo"}
                                <option value="{$vo.id}" {if condition="$vo['id'] eq $info['province']"} selected="selected"{/if} >{$vo.name}</option>
                              {/volist}
                            </select>
                          </div>
                          <div class="col-sm-3">
                            <select onchange="get_area(this)" id="city" class="form-control select_e" name="city" title="请選擇所在城市" style="{$city?'':'display: none'}">
                              <option value="">選擇城市</option>

                              {volist name="city" id="vo"}
                                <option value="{$vo['id']}" {if condition="$vo['id'] eq $info['city']"} selected="selected"{/if}  >{$vo['name']}</option>
                              {/volist}
                            </select>
                          </div>
                          <div class="col-sm-3" >
                            <select id="district" class="form-control select_e" name="district" style="{$district?'':'display: none'}">
                              <option value="0">選擇區域</option>

                              {volist name="district" id="vo"}
                              <option value="{$vo['id']}" {if condition="$vo['id'] eq $info['district']"} selected="selected"{/if}  >{$vo['name']}</option>
                              {/volist}
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label"><span class="color_ro">*</span>詳細地址：</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control input_e" value="{$info.address_detail}" id="address_details" placeholder="" name="address_detail">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"></div>
                        <div class="col-md-2" style="">
                          <button type="submit" class="btn btn-success btn-success-edit">保存</button>
                        </div>
                    </div>
                  </form>
                  <form action="{:url('api/user/upload_avatar')}" class="form-horizontal col-sm-9" method="post" enctype="multipart/form-data" onsubmit="return upload()" id="upload" style="display: none">
                    <input type="text" id="imagetype" value=""/>
                    <input type="file" name="image" id="image" onchange="$('#upload').submit();" accept=".gif,.jpg,.jpeg,.png"/>
                  </form>

                </div>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
        <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
        <script type="text/javascript">

            function upload(){
                var url = '__PUBLIC__';
                // jquery 表单提交
                $("#upload").ajaxSubmit(function(data) {
                if(data.code == 0){
                    $.message({message:data.msg,type:'warning',time:'3000'});
                }else{
                    $.message(data.msg);
                    $('#preview_f').css('background','url('+ url + data.data+')').css('background-size','cover');
                    // $('#' + imagetype).attr('src',url + data.data);
                    // $('#' + imagetype).attr('background-image',url + data.data);
                    // $('#' + imagetype + '_input').val(data.data);
                }
                });
                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }

            function editform(){
                var email = $('#email');
                var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/; //定义一个正则表达式
                if(!reg.test(email.val())){
                    $.message({message:'電郵格式不正確！',type:'warning'});
                    email.focus();
                    return false;
                }

                // jquery 表单提交
                $("#edit-form").ajaxSubmit(function(data) {
                    console.log(data);
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location = data.url
                        },2500);
                    }
                });

                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }


            /**
             * 获取省份
             */
            function get_province(){
              //  var url = '/index.php?m=Admin&c=Api&a=getRegion&level=1&parent_id=0';
                var url ="{:url('api/index/getRegion')}";
                $.ajax({
                    type : "GET",
                    url  : url,
                    data :{level:1,parent_id:0},
                    error: function(request) {
                        alert("服务器繁忙, 请联系管理员!");
                        return;
                    },
                    success: function(v) {
                        v = '<option value="0">選擇省份</option>'+ v;
                        $('#province').empty().html(v);
                    }
                });
            }


            /**
             * 获取城市
             * @param t  省份select对象
             */
            function get_city(t){
                var parent_id = $(t).val();
                if(!parent_id > 0){
                    return;
                }

               // var url = '/index.php?m=Admin&c=Api&a=getRegion&level=2&parent_id='+ parent_id;
                 var url ="{:url('api/index/getRegion')}";
                $.ajax({
                    type : "GET",
                    url  : url,
                    data :{level:2,parent_id:parent_id},
                    error: function(request) {
                        alert("服务器繁忙, 请联系管理员!");
                        return;
                    },
                    success: function(v) {
                        v = '<option value="0">選擇城市</option>'+ v;
                        $('#city').empty().html(v).show();
                    }
                });
            }

            /**
             * 获取地区
             * @param t  城市select对象
             */
            function get_area(t){
                var parent_id = $(t).val();
                if(!parent_id > 0){
                    return;
                }
                //var url = '/index.php?m=Admin&c=Api&a=getRegion&level=3&parent_id='+ parent_id;
                var url ="{:url('api/index/getRegion')}";
                $.ajax({
                    type : "GET",
                    url  : url,
                    data :{level:3,parent_id:parent_id},
                    error: function(request) {
                        alert("服务器繁忙, 请联系管理员!");
                        return;
                    },
                    success: function(v) {
                        v = '<option>選擇區域</option>'+ v;
                        $('#district').empty().html(v).show();
                    }
                });
            }

            // 获取最后一级乡镇
            function get_twon(obj){
                var parent_id = $(obj).val();
               // var url = '/index.php?m=Admin&c=Api&a=getTwon&parent_id='+ parent_id;
                var url ="{:url('api/getTwon')}";
                $.ajax({
                    type : "GET",
                    url  : url,
                    data :{parent_id:parent_id},
                    success: function(res) {
                        if(parseInt(res) == 0){
                            $('#twon').empty().css('display','none');
                        }else{
                            $('#twon').css('display','inline');
                            $('#twon').empty().html(res);
                        }
                    }
                });
            }

        </script>
    </div>
    {include file="common/footer"/}
    {include file="common/script" /}
  </body>

</html>