{include file="layout/public_head" /}
	<style>
		#topPopover {position:fixed;top:90px;right:6px;height: 270px}
		#topPopover .mui-popover-arrow {left:auto;right:6px;}
		.mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right:after {content: '\e442';font-size: 28px;color: #79c143;    font-weight: 500;}
		.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {content: '\e411';color: #aaa;line-height: 1;    font-weight: 500;}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<h1 class="mui-title">支付</h1>
		</header>
		<div class="mui-content">
			<form action="{:url('payment/go_pay')}" method="post" enctype="multipart/form-data" onsubmit="return payform()" id="pay-form">
			<input type="hidden" name="payment" id="payment" value="4">
			<input type="hidden" name="order_sn" value="{$order_sn}">
			<ul class="mui-table-view mui-table-view-radio">
				<li class="mui-table-view-cell" style="text-align: center;padding-left: 70px;">
					確認付款<span class="color_777777  mui-pull-right" style="position:absolute;right: 10px;" id="Popover">規則</span>
				</li>
				<li class="mui-table-view-cell" style="text-align: center;padding: 30px;">
					<span class="font16">${:number_format(sum_order_payableprice($order_info['order_sn']),2)}</span>
				</li>
			</ul>
			<ul class="mui-table-view mui-table-view-radio">
				<li class="mui-table-view-cell mui-selected">
					<a class="mui-navigate-right" data-value="4">
						<img src="__TMPL_PUBLIC__/img/pay_1.png" class="left_ico"> Visa
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right"  data-value="3">
						<img src="__TMPL_PUBLIC__/img/pay_2.png" class="left_ico"> Matercard
					</a>
				</li>
				<li style="padding:10px 0 ;">
					<div class="mui-input-row mui-checkbox mui-left  contribution">
						<label>捐款支持香港復康會</label>
						<input  value="contribution" type="checkbox" class="NumDecText" id="contribution">
						<span class="mui-pull-right s_right">HKD$ <input name="contribution_price" value="0.00" type="text" class="NumDecText" id="contribution_price" readonly style="color: #eee;"></span>
					</div>

				</li>
			</ul>
			<div class="mui-button-row" style="padding:  20px;">
				<button class="mui-btn mui-btn-success btn-success-edit" type="submit">
					立即支付
				</button>
			</div>
			</form>
		</div>

		<!--右上角弹出菜单-->
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view" style="text-align:  right;">
						<li class="mui-table-view-cell"><a href="#">商品合計:${:number_format($all_total,2)}</a> </li>
						<li class="mui-table-view-cell"><a href="#">運費:${:number_format($order_info['freight'],2)}</a> </li>
						<li class="mui-table-view-cell"><a href="#">服務費:${:number_format($order_info['service_price'],2)}</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">積分抵扣:${:number_format($order_info['integral_price'],2)}</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">优惠:${:number_format($order_info['coupon_price'],2)}</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">應付款:${:number_format(sum_order_payableprice($order_info['order_sn']),2)}</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div id="loading"><img src="__TMPL_PUBLIC__/img/loading.gif" alt=""></div>
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<!--<script src="https://ap-gateway.mastercard.com/checkout/version/48/checkout.js"-->
				<!--data-cancel="cancelCallback"  data-error="errorCallback" data-complete="completeCallback" > // data-complete="completeCallback"-->
		<!--</script>-->
		{include file="common/script" /}
		<script>
            //loading加载中
            //监听加载状态改变
            document.onreadystatechange = completeLoading;
            //加载状态为complete时移除loading效果
            function completeLoading() {
                if (document.readyState == "complete") {
                    $("#loading").animate({
                        "opacity":"0"
                    },500).hide(1000);
                }
            }
            $("#Popover").click(function(){
                mui('#topPopover').popover('toggle');
            });

            $("#contribution").click(function(){
				if($(this).is(":checked")){
                    $('#contribution_price').css('color','#ffa800');
                    $('#contribution_price').removeAttr('readonly');
				}else{
                    $('#contribution_price').css('color','#eee');
                    $('#contribution_price').attr('readonly','readonly');
                    $('#contribution_price').val('0.00');
				}
            });

            var info = document.getElementById("info");
            function payform(){
                $("#loading").animate({"opacity":"1"},0).show();
                // jquery 表单提交
                // $.message({message:'正在支付 <img src="__TMPL_PUBLIC__/img/loading.gif" style="width: 10px;margin-left: 10px;" />',type:'success',time:'5000'});
                // var payment = $(".mui-selected a").data('value');
                // $('#payment').val(payment);
                // if(payment == 3 ||payment == 4){
                //     Checkout.showLightbox();
                //     return false;
                // }
                $("#pay-form").ajaxSubmit(function(data) {
                    if(data.code == 0){
                        $("#loading").animate({"opacity":"0"},0).hide();
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        window.location = data.url
                    }
                });
                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }
		</script>
	</body>

</html>