{include file="layout/public_head" /}

	<style>

		.mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right:after {content: '\e442';font-size: 28px;color: #79c143;    font-weight: 500;}
		.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {content: '\e411';color: #aaa;line-height: 1;    font-weight: 500;}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
			<h1 class="mui-title">支付</h1>
		</header>
		<div class="mui-content">
			<form action="{:url('payment/go_pay')}" method="post" enctype="multipart/form-data" onsubmit="return payform()" id="pay-form">
			<input type="hidden" name="payment" id="payment" value="1">
			<input type="hidden" name="order_sn" value="{$order_sn}">
			<ul class="mui-table-view mui-table-view-radio">
				<li class="mui-table-view-cell" style="text-align: center;padding-left: 70px;">
					確認付款<span class="color_777777  mui-pull-right" style="position:  absolute;right: 10px;">規則</span>
				</li>
				<li class="mui-table-view-cell" style="text-align: center;padding: 30px;">
					HKD <span class="font16">${:number_format($all_total-$order_info['integral_price'] - $order_info['coupon_price'] + $order_info['freight'],2)}</span>

				</li>

				<li class="mui-table-view-cell mui-selected">
					<a class="mui-navigate-right" data-value="1">
						<img src="__TMPL_PUBLIC__/img/pay_1.png" class="left_ico"> Visa
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right"  data-value="2">
						<img src="__TMPL_PUBLIC__/img/pay_2.png" class="left_ico"> Matercard
					</a>
				</li>
				<li style="padding:10px 0 ;">
					<div class="mui-input-row mui-checkbox mui-left  contribution">
						<label>捐款支持香港復康會</label>
						<input name="checkbox" value="Item 1" type="checkbox" class="NumDecText">
						<span class="mui-pull-right s_right">HKD$ <input name="contribution_price" value="0.00" type="text" class="NumDecText"></span>
					</div>

				</li>
			</ul>
			<div class="mui-button-row" style="padding:  20px;">
				<button class="mui-btn mui-btn-success btn-success-edit" type="submit">
					立即支付
				</button>
			</div>
			</form>
		</div>
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		{include file="common/script" /}
		<script>
			mui('.mui-scroll-wrapper').scroll();
            var info = document.getElementById("info");

            $(".mui-navigate-right").click(function(){
                $('#payment').val($(this).data('value'));
            });

            function payform(){
                // jquery 表单提交
                $("#pay-form").ajaxSubmit(function(data) {
                    console.log(data);
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location = data.url
                        },1500);
                    }
                });

                return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            }
		</script>
	</body>

</html>