{include file="layout/public_head" /}
  <style>
	  .mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable ,.mui-table-view-inverted,.mui-scroll-wrapper{background:#fff}
	  .mui-table-view-cell.mui-active{background:#fff;}
	  .mui-content{background:#eee;}
  </style>
	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable">
			<!--侧滑菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-left">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">

					<div class="mui-scroll">
						<div class="index-left-logo">

							{if condition="is_login()"}
								<a href="{:url('user/center')}">
									<img src="__TMPL_PUBLIC__/img/logo1.png"/>{$user['username']}
								</a>
							{else/}
								<a href="{:url('user/login')}">
									<img src="__TMPL_PUBLIC__/img/logo1.png"/>登入營康薈
								</a>
							{/if}
						</div>
						<ul class="mui-table-view">
						    <li class="mui-table-view-cell">
						    	<a class="" href="{:url('cart/shopping_cart')}">
					    			<i class="left_menu_ico i1"></i>我的購物車
					        		<span class="mui-badge mui-badge-success">{:count_cart_num($user['id'])}</span>
					        	</a>
						    </li>
						    <li class="mui-table-view-cell"><a class="" href="{:url('product/index')}"><i class="left_menu_ico i2"></i>康復產品</a></li>
						    <li class="mui-table-view-cell"><a class="" href="{:url('product/index')}"><i class="left_menu_ico i3"></i>健康及有機產品</a></li>
						    <li class="mui-table-view-cell"><a class="" href="{:url('product/index')}"><i class="left_menu_ico i4"></i>科技復康產品</a></li>
						    <li class="mui-table-view-cell"><a class="" href="{:url('product/index')}"><i class="left_menu_ico i5"></i>節日促銷</a></li>
						    <li class="mui-table-view-cell">
						    	<a class="" href="{:url('share/index')}">
							    	<i class="left_menu_ico i6"></i>共享平台
						        </a>
						    </li>
						    </li>
						    <li class="mui-table-view-cell">
						    	<a class="" href="{:url('news/index')}">
						    		<i class="left_menu_ico i8"></i>最新消息
						        </a>
						    </li>
						    <li class="mui-table-view-cell">
						    	<a class="" href="{:url('index/page',array('id'=>'108'))}">
						    		<i class="left_menu_ico i9"></i>關於我們
						  	  	</a>
						    </li>
						    <li class="mui-table-view-cell">
								<a class="" href="{:url('index/page',array('id'=>'110'))}">
									<i class="left_menu_ico i10"></i>會員優惠
								</a>
						    </li>
						    <li class="mui-table-view-cell"><i class="left_menu_ico i11"></i>退出</li>
						</ul>
					</div>
				</div>
			</aside>
			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a href="#offCanvasSide" class="mui-action-menu mui-pull-left index-hd-left"></a>
					<h1 class="mui-title" style="width: 110px;margin:   0 auto;"><img src="__TMPL_PUBLIC__/img/logo.png"  style="width: 100px;margin-top:  5px;"></h1>
					<a href="{:url('cart/shopping_cart')}" class="mui-action-menu mui-pull-right index-hd-right2"></a>

					{if condition="is_login()"}
						<a href="{:url('user/logout')}" class="mui-action-menu mui-pull-right index-hd-right"></a>
					{else/}
						<a href="{:url('user/login')}" class="mui-action-menu mui-pull-right index-hd-right" style="background-image:url('__TMPL_PUBLIC__/img/login-in.png')"></a>
					{/if}
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
				    <div class="mui-scroll">

			      		<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" media="screen">
						<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
				      	<div class="swiper-container index_banner" style="">
						      <div class="swiper-wrapper ">
						      	 {foreach name="slide" item="vo"}
          							{eq name="vo['slide_type']" value="index_banner"}
						            <div class="swiper-slide"> 
						              <a href="{$vo.slide_url}"  target="_bank">
						                <img src="{:fa_get_image_url($vo['slide_pic'])}">
						              </a>
						            </div>

					            	{/eq}
      							{/foreach}
						      </div>
						      <!-- 如果需要分页器 -->
						      <div class="swiper-pagination"></div>
						      <script language="javascript"> 
							        var mySwiper = new Swiper('.swiper-container',{
							        pagination: {
							          el: '.swiper-pagination',
							        },
									autoplay: {
										delay: 2000,//1秒切换一次
									  },
									effect : 'slide',
							        //pagination : '#swiper-pagination1',
							        })
						      </script>
						</div> 


						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" href="product_list.html">
									我的記錄
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container2" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper my_lj">
								      <div class="swiper-slide col-md-3 list">
								          <img src="img/f2_1.jpg" />
								          <p>ATex sports 肌肉運動貼</p>
								      </div>
								      <div class="swiper-slide col-md-3 list">
								          <img src="img/f2_1.jpg" />
								          <p>ATex sports 肌肉運動貼</p>
								      </div>

								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.swiper-container2', {
							          slidesPerView: 3,
							          spaceBetween: 30,
							          slidesPerGroup: 3,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul>
<!--  Top Ten -->
						<ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell" >
								<a class="mui-navigate-right"  href="{:url('product/index',array('categoryid'=>14))}">
									Top Ten
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container2" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper my_lj">

									{foreach  name="top_ten" item='vo'}
								      <div class="swiper-slide col-md-3 list">
										  <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
								      	  <i class="news"></i>
								          <img src="__PUBLIC__/{$vo.cover}" />
								          <p class="p2">{$vo.product_name}</p>
								          <p><span class="color_ro">$</span><span class="color_ro font18">{:product_price($vo['product_id'])}</span>  <span class="price">${$vo.price}</span></p>
								     	</a>
								      </div>
							      	{/foreach}
								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.swiper-container2', {
							          slidesPerView: 3,
							          spaceBetween: 30,
							          slidesPerGroup: 3,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul>
<!--  復康產品 -->
						<ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" href="{:url('product/index',array('categoryid'=>15))}">
									復康產品
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container2" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper my_lj">

									  {foreach  name="product_list" item='vo'}
									  <div class="swiper-slide col-md-3 list">
										  <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
											  <i class="news"></i>
											  <img src="__PUBLIC__/{$vo.cover}" />
											  <p class="p2">{$vo.product_name}</p>
											  <p><span class="color_ro">$</span><span class="color_ro font18">{:product_price($vo['product_id'])}</span>  <span class="price">${$vo.price}</span></p>
										  </a>
									  </div>
									  {/foreach}

								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.swiper-container2', {
							          slidesPerView: 3,
							          spaceBetween: 30,
							          slidesPerGroup: 3,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul>
 
<!--    健康及有機產品 -->
						<ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" href="{:url('product/index',array('categoryid'=>16))}">
									健康及有機產品
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container2" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper my_lj">
									  {foreach  name="health_food" item='vo'}
									  <div class="swiper-slide col-md-3 list">
										  <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
											  <i class="news"></i>
											  <img src="__PUBLIC__/{$vo.cover}" />
											  <p class="p2">{$vo.product_name}</p>
											  <p><span class="color_ro">$</span><span class="color_ro font18">{:product_price($vo['product_id'])}</span>  <span class="price">${$vo.price}</span></p>
										  </a>
									  </div>
									  {/foreach}
								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.swiper-container2', {
							          slidesPerView: 3,
							          spaceBetween: 30,
							          slidesPerGroup: 3,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul> 
<!--   節日促銷 -->
						<ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" href="{:url('product/index',array('categoryid'=>17))}">
									科技產品
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container2" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper my_lj">
									  {foreach  name="science_food" item='vo'}
									  <div class="swiper-slide col-md-3 list">
										  <a href="{:url('product/detail',array('id'=>$vo['product_id']))}">
											  <i class="news"></i>
											  <img src="__PUBLIC__/{$vo.cover}" />
											  <p class="p2">{$vo.product_name}</p>
											  <p><span class="color_ro">$</span><span class="color_ro font18">{:product_price($vo['product_id'])}</span>  <span class="price">${$vo.price}</span></p>
										  </a>
									  </div>
									  {/foreach}
								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.swiper-container2', {
							          slidesPerView: 3,
							          spaceBetween: 30,
							          slidesPerGroup: 3,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul>
<!-- 共享平台 --> 
						<ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right"  href="{:url('share/index')}">
									共享平台
								</a>
							</li>
							<li class="mui-table-view-cell">
								<div class="swiper-container6 f6swiper" style="overflow: hidden;position: relative;">
								  <div class="swiper-wrapper f6">
								       

								        {foreach name="share" item="vo"}
										    <div class="swiper-slide list"> 
								                <img src="__PUBLIC__/{$vo.product_pic}" class="img_left" />
								                <div class="d1">
								                  <h4>{$vo.product_name}</h4>
								                  <p>{$vo.product_content}</p>
								                </div>
							       		   	</div>
							       		{/foreach}
								    </div>
							 	</div>
							    <script>
							        var swiper = new Swiper('.f6swiper', {
							          slidesPerView: 1,
							          spaceBetween: 30,
							          slidesPerGroup: 1,
							          loop: true,
							          loopFillGroupWithBlank: true,
							        });
						      	</script>
							</li>
						</ul>
<!-- 其他信息 --> 
						 <ul class="mui-table-view" style="margin-top: 15px;">
							<li class="mui-table-view-cell">
									其他信息
								
							</li>
							<li class="mui-table-view-cell index-other">
								<div class="mui-row">
									<a class="mui-col-sm-4 mui-col-xs-4">
										 關於營康薈
									</a>
									<a class="mui-col-sm-4 mui-col-xs-4">
										營康薈門市
									</a>
									<a class="mui-col-sm-4 mui-col-xs-4">
										職位空缺
									</a>
									<a class="mui-col-sm-4 mui-col-xs-4">
										會員優惠
									</a>
									<a class="mui-col-sm-4 mui-col-xs-4">
										聯絡我們
									</a>
									<a class="mui-col-sm-4 mui-col-xs-4">
										商務合作
									</a>
								</div>
							</li>
						</ul>
			      </div>
					<!-- off-canvas backdrop -->
					<div class="mui-off-canvas-backdrop"></div>
			    </div>
 
			</div>
		</div>

		{include file="common/script" /}
		<script>
			mui.init({
				swipeBack: false,
			});
			 //侧滑容器父节点
			var offCanvasWrapper = mui('#offCanvasWrapper');
			 //主界面容器
			var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
			 //菜单容器
			var offCanvasSide = document.getElementById("offCanvasSide");
		
			 //移动效果是否为整体移动
			var moveTogether = false;
			 //侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
			var classList = offCanvasWrapper[0].classList;
		
			mui('.mui-scroll-wrapper, .mui-bar-tab').on('tap','a' ,function(){location.href = this.getAttribute('href')});
			 //主界面和侧滑菜单界面均支持区域滚动；
			mui('#offCanvasSideScroll').scroll();
			mui('#offCanvasContentScroll').scroll();
			mui('#popover').scroll();
			 //实现ios平台的侧滑关闭页面；
			if (mui.os.plus && mui.os.ios) {
				offCanvasWrapper[0].addEventListener('shown', function(e) { //菜单显示完成事件
					plus.webview.currentWebview().setStyle({
						'popGesture': 'none'
					});
				});
				offCanvasWrapper[0].addEventListener('hidden', function(e) { //菜单关闭完成事件
					plus.webview.currentWebview().setStyle({
						'popGesture': 'close'
					});
				});
			}

		</script>
	</body>
</html>