<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #7ac141;"></a>
    <h1 class="mui-title">{$title}</h1>
    <a href="{:url('cart/shopping_cart')}" class="mui-action-menu mui-pull-right index-hd-right2 shopping">
        <span class="mui-badge mui-badge-success mui-pull-right" id="shopping_total" >{:count_cart_num($user_id)}</span>
    </a>
    {if condition="is_login()"}
     <a href="{:url('user/logout')}" class="mui-action-menu mui-pull-right index-hd-right"></a>
    {else/}
     <a href="{:url('user/login')}" class="mui-action-menu mui-pull-right index-hd-right" style="background-image:url('__TMPL_PUBLIC__/img/login-in.png')"></a>
    {/if}
</header>
{include file="common/btn" /}