@import "message.css";
a {color:#000000;}
a:hover {text-decoration:none}
ul {margin:0;list-style:none;}
i{ font-style:normal}
body{background: url(../img/index_bg.jpg) repeat-y;background-size: contain !important;overflow:-Scroll;overflow-x:hidden}

/**************** commons ***************/

.h_left {float:left;}
.h_right {float:right;}
.h_right a {margin-right:10px;}
.clear {clear:both;}
.margin_0{margin:0 !important;}
.p_right_0{padding-right:0 !important}
.p_all_0{padding:0 !important}

.border_top1{border-top: 1px solid #00896f}
/*font*/

.font24{font-size: 24px;}
.font18{font-size: 18px;}
.font16{font-size: 16px;}
.font14{font-size: 14px;}
.font12{font-size: 12px;}
.bold{font-weight:bold;}

/** color */
.color_777777 {color:#777777;}
.color_66 {color:#666666;}
.color_33 {color:#333333;}
.color_75 {color:#757575;}
.color_e5 {color:#e5e5e5;}
.color_99 {color:#999999;}
.color_gr {color:#7ac141;}
.color_ro {color:#ffa800;}
/*bg*/
.bgcolor_gr {background:#7ac141;}
.bgcolor_ro {background:#ffa800;}
.bgcolor_white {background:#fff;}
.bgcolor_e5 {background:#e5e5e5;}
/* botton*/
.btn-success-edit{width: 100%;margin-bottom: 1em;background-color: #7dbe43;border:  0;border-radius: 0;padding: 10px 20px;font-size: 15px;}
.btn-default-edit{width: 100%;margin-bottom: 1em;border-radius: 0;padding: 10px 20px;font-size: 15px;color:#a5a5a5;border-color:  #e5e5e5;}
.btn-warning-edit{width: 100%;margin-bottom: 1em;border-radius: 0;padding: 10px 20px;font-size: 15px;color:#fff;border-color: #ffa800;}

/*border*/
.border_1{border: 1px solid #e5e5e5;border-top: 0;}
/**************** commons ***************/
.nowrap{overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}
.no_after:after{height:0;}
.no_border{border:0 !important}
.btn-warning {color: #fff;background-color: #ffa800;border-color: #ffa800;}


.header {background:#f7f7f7;/* padding:10px;*/}
.header .phone {padding: 15px 30px;color:#fff;font-size: 21px;padding-left: 60px;background:#7ac141 url(../img/hd_phone.png) no-repeat left;background-position: 30px;float:left;border-radius: 10px;text-align:  center;font-weight:  bold;}
.header-d{padding-left: 25%;background: #fff url(../img/logo.png) no-repeat left top;background-size: 90%;margin-bottom: 20px;}

.header-search {width: 32%;text-align:center;margin:0em 1em;display:inline-block;/* margin-top:20px;*/position: relative;z-index: 99999;}
.header-search form {position:relative}
.header-search input[type=search] {width:100%;padding:0.2em 5em 0.2em 1em;font-size:1em;color:#999;outline:0;border:2px solid #7ac141;background:0 0;-webkit-appearance:none;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;margin-bottom:5px;border-radius: 10px;}
.header-search input[type=search]:focus {border-color:#ffa800;}
.header-search .btn-default {border:0;position:absolute;top:0;right:0;width: 80px;height:30px;outline:0;box-shadow:none;background:#7ac141;padding:0;color:#fff;border-radius:inherit;-webkit-appearance:none;-webkit-transition:.5s all;-moz-transition:.5s all;transition:.5s all;border-radius: 00px 10px 10px 0px;}
.header-search i.fa {font-size:1em;color:#fff;padding:3px}
.header-search a {margin:2px;}
.header .shopping {background:url(../img/hd_in_ico2.png) no-repeat left;padding-left:30px;display:inline-block;float:right;}
.logo-2{text-align:right;position:  relative;top: -23px;}
.position_ads{}
.index_news{/* position: absolute; *//* right: 0; */z-index: 9999;background:  #fff;}
.index_news .title{background: url(../img/index_news.png) no-repeat;width:  100%;height:  40px;background-size: contain;}
.index_news ul{margin:  0;padding:  0;}
.index_news ul img{ float:  left;width: 60px;height: 50px;margin-right:  5px;margin-top:  5px;}
.index_news ul p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin: 0;}


/* nav_menu */.nav_menu {background-color:#7ac141;}
.nav {width:1170px;position:relative;margin:0 auto;}
.nav .list li {float:left;width:11%;list-style-type:none;text-align:center;}
.nav .list ul {list-style-type:none;}
.nav .list a {display:block;text-align:center;font:bold 14px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background: url(../img/nav-right.png) no-repeat right;}
.nav .list a:hover {color:#FFA304;}
.nav .list a:hover,.nav .list .now , .nav .list .active{color:#fff;background:#ffa800;}
.nav .box {position:absolute;left:-5px;top: 35px;width:1170px;background:#FFF;overflow:hidden;height:0;filter:alpha(opacity=0);opacity:0;z-index: 9999;}
.nav .cont {position:relative;padding:0px 0 0px 24px;}
/* sublist */.sublist li {float:left;width:168px;padding-right:24px;padding-bottom:24px;}
.sublist li h3.mcate-item-hd {padding-left:2px;font-size:18px;height:26px;line-height:26px;font-weight:bold;}
.sublist li p.mcate-item-bd {padding-left:2px;}
.sublist li p.mcate-item-bd a {height:26px;line-height:26px;margin-right:5px;font-size: 14px;color:#666666;text-decoration:none;display:block;}
.sublist li p.mcate-item-bd a:hover {color:#6c5143;text-decoration:underline;}
.swiper-slide img {width:100%;}
.f1 img {width:100%;margin: 1em auto;}
.swiper-pagination-bullet-active{background:#7ac141 !important;}
.swiper-container2{}
.f2 .list {text-align:center;background:#fff;border-radius: 10px;padding: 1em;}
.f2 .list .adds{padding: 0.2em 0.6em;background: #7ac142;color:  #fff;border-radius: 2em;font-size: 1.5em;float: right;line-height: 0.8em;}
.f2 .swiper-wrapper {margin: 0;}
.f2 .swiper-button-next {margin: 0;right: -3em;background: #ffffff85 url(../img/swiper-button-next.png) no-repeat center;background-size: 20px;opacity: 0.8;padding:  20px;}
.adds:hover{background: #6ea742 !important;cursor:default}
.f2 .list img {width:100%;margin: 1em auto;}
.f1 .list {background:#fff;border-radius: 10px;padding:0;text-align:center;margin: 0 25px;margin-left: 15px;margin-right: 30px}
.f1 .list img {width:100%;margin: 3em 0 0em 0;}
.f1 .list p {background:#7ac142;color:#fff;border-radius: 0 0 10px 10px;margin:0;padding: 1em;}
.index_title {background: url(../img/title_ico.png) no-repeat;padding-left:30px;background-size: 25px;height:  25px;line-height: 25px;font-weight:  bold;font-size:  16px;}

.advert{text-align: center;}
.advert img{width: 98%;border-radius: 10px;}

.f3 .n1{background: #fff;padding: 0;border-radius: 0 0 10px 10px;border-right: 1px solid #eee;}
.f3 .n1 .adds{padding: 0.2em 0.6em;background: #fff;color: #00896f;border-radius: 2em;font-size: 1.9em;float: right;line-height: 0.8em;}
.f3 .n1 img{width: 100%;padding: 0;}
.f3 .n1 .miaosu{height: 158px;}

.f3 .n1 .d1{background: #7ac142;color:  #fff;padding: 0.8em;border-radius: 0 0 0 10px;}
.f3 .n2{border-right:1px solid #eee;border-bottom: 1px solid #eee;}
.f3 .n2 img{width:189px;height:189px;}
.f3 .n2 .d2{padding-bottom: 10px;}
.f3 .n2 .d2 p{margin: 0;}
.f3 .n2 .d2 .adds{padding: 0.2em 0.6em;background: #7ac142;color:  #fff;border-radius: 2em;font-size: 1.5em;float: right;line-height: 0.8em;}



.f6 .img_left{float: left;margin-right: 10px;border: 1px solid #eee;border-radius: 5px;}
.f6 .d1{font-size: 1.2em;line-height: 2em;}
.f6 .list{padding: 1em;}
.f6 .d1 p{color: #888;}
.f6 .d1 h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


.cooperation{background:#f7f7f7;padding: 1em 0;margin-top:50px;}
.cooperation a{border-right: 1px dashed #ccc;text-align: center;margin-right: 1em;padding: 0;padding-right: 1em;}
.cooperation a img{width: 100%;}

.footer {background: #fff;}

.footer .footer-top li{color: #999999;font-size: 13px;line-height: 25px;}
.footer .footer-top li a{color: #999999;font-size: 13px;}
.footer .footer-top h4{font-size: 17px;margin: 1em 0;}
.footer .footer-top .form-group{border: 1px solid #eee;padding: 0.4em;margin-bottom: 5px;}
.footer .footer-top .form-group label{width: 29%;float: left;margin-top: 0.5em;}
.footer .footer-top .form-group input,.footer .footer-top .form-group textarea{width: 65%;border:  0;box-shadow: none;}


.pagination {margin:20px 0;float: right;}
.pagination ul {display:inline-block;*display:inline;margin-bottom:0;margin-left:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;*zoom:1;/* -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05); */-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);/* box-shadow:0 1px 2px rgba(0,0,0,0.05); */padding: 0;}
.pagination ul>li {display:inline}
.pagination ul>li>a,.pagination ul>li>span {float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color: #fff;border: 1px solid #eee;/* border-left-width:0; */margin: 0 5px;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {background-color: #fff;color: #ffa800;/* border: 1px solid #eee0; */}
.pagination ul>.active>a,.pagination ul>.active>span {color: #ffa800;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {color:#dfdfdf;cursor:default;background-color:transparent}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {border-left-width:1px;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0}
.pagination-centered {text-align:center}
.pagination-right {text-align:right}
.pagination-large ul>li>a,.pagination-large ul>li>span {padding:22px 30px;font-size:17.5px}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span {-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span {-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span {-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-topleft:0}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span {-webkit-border-top-right-radius:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0}
.pagination-small ul>li>a,.pagination-small ul>li>span {padding:2px 10px;font-size:11.9px}
.pagination-mini ul>li>a,.pagination-mini ul>li>span {padding:2px 6px;font-size:10.5px}

.pagination.ya2 ul>li>a, .pagination ul>li>span{background: #ebebeb;}
.pagination.ya2 ul>.active>a, .pagination.ya2 ul>.active>span {background:#ffa800;color: #fff;cursor: default;}

/*login*/
.login{float:right;background: #fff;padding: 4em;margin:10% 5% 0 5%;}
.login .form-group{border: 1px solid #eee;padding: 0.4em;margin-bottom: 5px;}
.login .form-group label{width: 10%;float: left;margin-top: 0.5em;}
.login .form-group input,.footer .footer-top .form-group textarea{width: 75%;border:  0;box-shadow: none;}
.login .logo3{width: 80%;margin: auto 10%;padding: 0% 10% 10% 10%;}
.login .label1{background: url(../img/login_el.jpg) no-repeat left;background-position-x: 5%;}
.login .label2{background: url(../img/login_ps.jpg) no-repeat left;background-position-x: 5%;}


/*product list*/
.pr_name{padding: 20px 0;font-weight: bold;font-size: 24px;}

.product ul{padding: 0;}
.product li{padding: 20px;border-top: 1px solid #eee;}
.product li.col-md-2{margin: 0 15px;}
.product li img{width:190px;height:190px;}
.product li .n2{border-right:1px solid #eee;border-bottom: 1px solid #eee;}
.product li i{font-style: inherit;font-size: 14px;}
.product li p{margin: 0;}
.product li .adds{padding: 0.2em 0.6em;background: #7ac142;color:  #fff;border-radius: 2em;font-size: 1.5em;float: right;line-height: 0.8em;}
.product li .adds:hover{background: #6da93e;}

.product-top-item{/* border: 1px solid #efefef; */display: inline-block;padding: 5px 0;}
.product-top-item a{border: 1px solid #efefef;padding: 7px 20px; */margin:;margin-right: -5px;}
.product-top-item a.active{background:#7ac141;color: #fff;}
.product-top-right{text-align: right;}
.product-top-right span{margin:0 10px;}
.product-top-right .angle{font-size: 25px;border: 1px solid #ddd;width:45px;height: 40px;text-align:  center;display:  inline-block;line-height: 40px;color: #9d9d9d;}


.product2 ul{padding: 0;padding-bottom: 40px;}
.product2 li{padding: 20px 30px;border-top: 1px solid #eee;}
.product2 li .adds{padding: 0.2em 0.6em;background: #7ac142;color:  #fff;border-radius: 2em;font-size: 1.5em;float: right;line-height: 0.8em;}
.product2 li .adds:hover{background: #6da93e;}
.product2 li i{font-style: inherit;font-size: 14px;}
.product2 li p{margin: 0;}
.product2 .img_left{float: left;border: 1px solid #eee;border-radius: 5px;}
.product2 .d1{font-size: 1.2em;line-height: 2em;}
.product2 .list{padding: 1em;background: #fff;}



/*product detail*/

.crumbs-01,.crumbs-02{color: #000;}
.crumbs-01{background: url(../img/alzx-hone-bg.png) no-repeat 0 3px; padding-left: 20px;}
.alzx-con{padding: 20px 0;border-bottom: 1px solid #eee;margin-bottom: 20px;}
.product_detail .hd{padding:30px;}
.product_detail .hd .title_detail h4{margin: 20px 0;}
.product_detail .hd .title_detail p{color:#666;}
.product_detail .hd .price{border: 1px dashed #e5e5e5;border-left: 0;border-right: 0;line-height: 60px;}
.product_detail .hd .price span{font-size: 16px;color: #ffa800;}
.product_detail .hd .price i{font-size: 24px;font-style: inherit;}
.product_detail .hd .spec{line-height: 30px;padding: 20px;}
.product_detail .hd .number{padding:10px 0 ;}
.product_detail .hd .number input{background: 0;border: 1px solid #e5e5e5;margin-left: -4px;padding: 5px 10px;}
.product_detail .xg-title{background:url(../img/pt_detail_bg1.png) no-repeat;background-size: 100%;width: 130px;height: 40px;line-height: 40px;padding: 0 30px;color:  #fff;position:  relative;left: -5px;}


.investment_f {margin:20px auto;border-top: 15px solid #efefef;}
.investment_f .investment_title {height:44px;width:960px;overflow:hidden}
.investment_title div {width:131px;height:44px;background:url(../img/invest_detail_22.png);float:left;margin-left: 0;display:inline;font-size:14px;font-weight:700;text-align:center;line-height:46px;color:#555;cursor:pointer;border-right: 1px solid #eee;border-top: 1px solid #eee;}
.investment_title a,.investment_title a:link,.investment_title a:visited,.investment_title a:hover {color:#555;width:131px;height:44px;display:inline-block}
.investment_title div.on a,.investment_title div.on a:link,.investment_title div.on a:visited,.investment_title div.on a:hover {color:#f70}
.investment_title div.on {background: url(../img/invest_detail_18.png) no-repeat;color: #ffa800;}
.investment_con {clear:both;background:#fff;border:1px solid #ededed;/* padding:20px */}
.investment_con_list {display:none;padding: 20px;}

.product_detail .comment .xuan {background: #efefef;padding: 10px 20px;}
.product_detail .comment .xuan a{padding: 0 20px;}
.product_detail .comment .pllist{padding:0;}
.product_detail .comment .pllist li{padding: 10px 20px;border-top: 1px solid #eee;line-height: 20px;}
.product_detail .comment .pllist li .d1{text-align:center;}
.product_detail .comment .pllist li .d1 i{font-size: 20px;color: #ffa800;}
.product_detail .comment .pllist li .d1 span{margin-left: 10px;}
.product_detail .comment .pllist li .d2{font-size: 14px;}
.product_detail .comment .pllist li .d3 img{width: 30%;}
.product_detail .comment .pllist li .d3 span{color:#666;}

.imgdet {position:relative;height: 100%;width: 500px;background:#fff;}
.imgdet .imglist {position:relative;display:inline-block;*display:inline;*zoom:1;width:84px;height:100%;overflow:hidden;min-height:  400px;}
.imgdet .imglist ul {position:absolute;top:0;left:0;width:100%;font-size:0;padding: 0;}
.imgdet .imglist ul li {display:inline-block;*display:inline;*zoom:1;width:80px;height:80px;border:2px solid #fff;margin-bottom:10px}
.imgdet .imglist ul li:last-of-type {margin-bottom:0}
.imgdet .imglist ul .active {border: 2px solid #ffa800;}
.imgdet .imglist ul li img {width:100%;height:100%}
.imgdet .imgpart {vertical-align:top;position:relative;display:inline-block;*display:inline;*zoom:1;width: 400px;height: 400px;border: 1px solid #e5e5e5;}
.imgdet .imgpart .pic {position:relative;width:100%;height:100%}
.imgdet .imgpart .pic .magnify {display:none;position:absolute;top:0;left:0;width:200px;height:200px;cursor:move;background-color:#fff;opacity:.3;filter:alpha(opacity=30)}
.imgdet .imgpart .pic img {width:100%;height:100%}
.imgdet .imgpart .bigpic {display:none;position:absolute;top:0;right:-470px;width:460px;height:460px;z-index:333;border:1px solid #fff;overflow:hidden}
.imgdet .imgpart .bigpic>img {position:absolute;top:0;left:0;width:920px;height:920px}


/*shopping_cart*/
.shopping_cart{background:#fff;min-height: 950px;}
.shopping_cart .topstate {padding: 20px 0;border-bottom: 1px solid #ccc;margin-bottom:  10px;}
.shopping_cart .topstate ul{padding: 0 30px;}
.shopping_cart .topstate li{background: #e5e5e5 url(../img/shopping_cart_top.png) no-repeat right;height:  50px;line-height:  50px;text-align:  center;font-size: 14px;}
.shopping_cart .topstate li img{margin-right:  5px;width: 20px;margin-left: -40px;}
.shopping_cart .topstate li.on1{background: #7ac141 url(../img/shopping_cart_top.png) no-repeat right;color: #fff;}
.shopping_cart .topstate li.on0{background: #7ac141 url(../img/shopping_cart_top2.png) no-repeat right;color: #fff;}
.shopping_cart .cart-thead{}
.shopping_cart .item-single{background: #eee;padding: 20px 0;}
.shopping_cart .cart-item-list .t2 img{
	border: 1px solid #e5e5e5;
	margin-right: 5px;
	/* border-radius:  5px; */
}

.shopping_cart .cart-item-list input[type='checkbox'],.checkbox{width: 20px;height: 20px;background-color: #fff;-webkit-appearance:none;border: 1px solid #c9c9c9;border-radius: 2px;outline: none;vertical-align: middle;display: inline-block;margin: 0 5px 0 0 !important;}
.shopping_cart .cart-item-list input[type=checkbox]:checked ,.checkbox:checked{background: url(../img/checkbox_icon.png)no-repeat center;}
.shopping_cart .cart-item-list .t2 p{padding: 35px 0;color: #757575;line-height:25px}
.shopping_cart .cart-item-list .t2 p span{display:block;color: #757575;font-size: 16px;    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;}
.shopping_cart .cart-item-list .t6{color: #d3d3d3;}
.shopping_cart .cart-item-list {vertical-align: middle;line-height: 110px;border-bottom: 1px solid #e5e5e5;padding: 10px 0;padding-left:20px;}
.shopping_cart .cart-item-list .number{vertical-align: middle;line-height: 110px;}
.shopping_cart .cart-item-list .number{padding:10px 0 ;}
.shopping_cart .cart-item-list .number input{background: 0;border: 1px solid #e5e5e5;margin-left: -4px;padding: 5px 10px;position:  relative;line-height: 20px;top: -10px;}

.shopping_cart .item-address{padding:20px  0 }
.shopping_cart .item-address ul{padding: 0}
.shopping_cart .item-address li{padding: 15px 10px;border: 1px solid #e5e5e5;margin: 10px 0;}
.shopping_cart .item-address li.on{border: 2px solid #fba829;}
.shopping_cart .item-address li p{color: #757575;margin: 0;}
.shopping_cart .item-address li a{padding: 0 10px;color: #757575;}
.shopping_cart .item-address .asright{line-height: 40px;}
.shopping_cart .cart-item-footer{background:#7dbe43;color:#fff;}

.payment2 .info {background:#eee;padding:20px;font-size:16px;line-height:25px}
.payment2 .type{padding:20px;border-bottom: 1px solid #eeeeee;}
.payment2 .type img{width: 100%}
.payment2 .type label::before{top:20px}
.payment2 .type label:after{top:23px}

.payment2 .radio-danger input[type=radio]:checked+label::after{background-color: #eb0411;}
.payment2 .radio-danger input[type=radio]:checked+label::before {border-color: #eaeaea;}
.payment2 .btn-default-edit,.payment2 .btn-success-edit{border-radius: 5px;line-height: 30px;}
.payment2 .btn-row div{padding: 0 5px;}


.order_ok{padding: 10% 0;}
.order_ok a{margin:0 10px;}
.order_ok img{width: 100%}

.top_banner img{width: 100%}
.info_list .left-list{border-right: 1px solid #eee;min-height: 500px;}
.info_list .left-title{text-align: center;}
.info_list .left-ist a{display:  block;text-align: center;padding:  20px;background:#f2f2f2;}
.info_list .left-ist a.on{background:#7dbe43;color:#fff;}

.info_list .right-list ul{padding: 0 20px;}
.info_list .right-list ul li{padding: 20px 0;border-bottom: 1px solid #eee;}
.info_list .right-list ul li .d1 img{width: 100%}
.info_list .right-list ul li .d2 p{color:#999;line-height:25px}
.info_list .right-list ul li .d2 h4{margin-bottom:20px}
.info_list .right-list .d3 p{font-size:20px;text-align: right;}
.info_list .right-list .d3 i{color: #999;}

.search_page_empty{min-height: 500px;background: url(../img/search_page_empty.jpg) no-repeat;background-position: center;background-size: 300px;}

.info_detail{padding:0 5%}
.info_detail .content img{max-width: 100%}
.info_detail .nextfa a{display:  block;margin: 10px 0;}

.shared_platform .d1{text-align: center;border: 1px solid #eee;margin: 20px 0;}

.shared_platform .d1 img{width: 50%;}
.shared_platform ul li h4{font-weight: bold;font-size: 16px;}
.share_product_add .form-horizontal .control-label{color:#666666}



.user_publish_share{padding: 20px;padding-top: 0;}
.user_publish_share .left-list{padding: 0;}
.user_publish_share .left-list p{line-height:25px;color: #666666;}
.user_publish_share .item-single{background: #e5e5e5;padding: 20px 0;}
.user_publish_share .cart-item-list{line-height: 50px;border: 1px solid #e5e5e5;border-top: 0;}
.user_data h4{font-weight: bold;}

.input_e,.select_e,.textarea_e{border-radius: 0;box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);border-color: #ddd;}
.form-group-e{border-bottom: 1px solid #ddd;padding: 10px 0;margin: 0;}

.left_menu a{display:block;padding: 5px;font-weight: bold;}
.left_menu a img , .user_publish_share h4 img{margin-right:5px;}
.user_data .edit{margin: 10px;padding: 10px;text-align: center;display: block;background: #eee;width: 70%;}
.user_center .top_connt h5{color:#999999;}
.user_center .top_connt{border: 1px solid #eee;padding: 20px;}
.user_center .top_connt .title{border-bottom: 1px solid #eee;padding-bottom: 10px;}
.user_center .top_connt .col-md-4{text-align:center;border-right: 1px solid #eee;line-height: 25px;}
.user_center .item-single{padding: 10px;background: #f1f1f1;margin-bottom: 20px;margin-right: 0;}
.user_center .cart-item-list{margin-bottom: 30px;border-bottom: 1px solid #e5e5e5;}
.user_center .cart-item-list .row1{margin: 10px 0;}
.user_center .cart-item-list .row2{padding:0;}
.user_center .cart-item-list .row2 .left_img{width: 70px;float: left;border: 1px solid #e5e5e5;}
.user_center .cart-item-list .row2>tbody>tr>td{vertical-align: middle;text-align: center;}
.user_center .cart-item-list .row3{vertical-align: middle;line-height: 40px;margin: 10px 0;text-align: right;}
.user_center .cart-item-list tbody>tr>td:first-child{border-left:0}
.user_center .cart-item-list tbody>tr>td:last-child{border-right: 0;}
.user_center .cart-item-list table{border-left:0;border-right:0;}
.user_center .btn{border-radius:0}
.user_center .btn.btn-warning {background-color: #ffa800;border-color: #ffa800;}
.user_center .btn.btn-success {background-color: #7dbe43;border-color: #7dbe43;}

.user_edit .row label{color:#333333}


.address_list{padding: 20px;padding-top: 0;}
.address_list .left-list{padding: 0;}
.address_list .left-list p{line-height:25px;color: #666666;}

.address_list .item-single{background: #e5e5e5;padding: 15px 0;}
.address_list .cart-item-list{line-height: 50px;border: 1px solid #e5e5e5;border-top: 0;}
.address_list .cart-item-list .btn.btn-warning{background:#ffa800;border-radius:0}



.user_data p{line-height:25px;color:#666666;}
.user_data h4{font-weight: bold;}

@media (max-width: 1200px){
	.f1 .list img {margin: 3.8em 0 0em 0;}
	.header-d{padding-left: 22%;background-size: 90%;margin-bottom: 20px;}
	.header-search {width: 29%;}
	.header .phone {padding: 10px 15px;font-size: 18px;padding-left: 60px;}
	.logo-2 img{width: 60px;}
	.nav {width:100%}
	.f3 .n2 img {width: 100%;}
	.f3 .n2 img.first{width:46%}
	.product li img{width:100%}
	.imgdet .imgpart{width:300px;height:300px;}
	.imgdet .imglist ul li {width: 60px;height: 60px;}
	.imgdet .imgpart .bigpic{width: 350px;height: 350px;right: -350px;}
	.imgdet .imgpart .bigpic>img{width: 600px;height: 600px;}
	.shopping_cart .cart-item-list .t2 p {padding:30px 0;}
	.shopping_cart .cart-item-list .number input{padding: 5px 5px;}
	/*.shopping_cart .cart-item-list .t2 img {width: 50%;}*/
	.f3 .n1 .miaosu{height: 172px;}
	.info_list .right-list ul li .d2 h4 {margin:5px 0;}
}
@media (max-width: 992px){
	.header-d{height: 105px;}
	.header .phone {padding: 5px 10px;font-size: 12px;padding-left: 30px; background-position: 10px;background-size: 15px;}
	.logo-2 img{text-align: right;position: relative;top: -23px;}
	.nav {width:100%}
	.f1 .list img {margin: 2.5em 0 0em 0;}
	.f1 .list {margin-right: 20px;}
	.f6 .img_left {width:30%}
	.f6 .d1 {font-size: 1.2em;line-height: 1em;}
	.f6 .d1 h3{font-size:18px;margin: 5px 0;}
	.f6 .d1 p{font-size:12px;}
	.f3 .n2 img{width:100%}
	.f3 .n2 img.first{width:52%}
	.f2 .swiper-button-next{top: -15px;right:0}
	.product2 .img_left {width: 45%;margin-right: 10px;}
	.product2 .d1{line-height:1.2em;}
	.f3 .n1 .miaosu{height: 176px;}
	.position_ads{display:none}
	.footer label{font-size: 12px;width: 40% !important;}
	.footer input{font-size: 12px;width: 55% !important;}
	.shopping_cart .cart-item-list .t2 img{width: 100px;}
	.shopping_cart .cart-item-list .t2 p {padding: 5px 0}
	.shopping_cart .cart-item-list{line-height: 60px;}
	.font18{font-size:16px;}
}