{include file="layout/public_head" /}
<link rel="stylesheet" type="text/css" href="__TMPL_PUBLIC__/css/build.css">
<body>

<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="__TMPL_PUBLIC__/js/scripts.js"></script>
{include file="common/script" /}


<script src="https://ap-gateway.mastercard.com/checkout/version/48/checkout.js"
		data-cancel="cancelCallback"  data-error="errorCallback" data-complete="completeCallback" > // data-complete="completeCallback"
</script>

<script type="text/javascript">
    function errorCallback(error) {
        console.log(JSON.stringify(error));
        $.message({message:'支付失敗，請選擇其它支付方式',type:'error',time:'3000'});
        $.ajax({
            type : "GET",
            url  : '{:url("payment/mastercard_session")}',
            success: function(v) {
                window.location.reload();
            }
        });
    }

    function cancelCallback() {
        console.log('Payment cancelled');
        confirm('Are you sure you want to cancel?');
    }

    function completeCallback(resultIndicator, sessionVersion) {
        $.message({message:'支付成功，正在査詢 <img src="__TMPL_PUBLIC__/img/loading.gif" style="width: 20px;margin-left: 10px;" />',type:'success',time:'70000'});
        var payment = $("input[name=payment]:checked").val();
        var contribution_price = $("input[name=contribution_price]").val();
        window.location.href = "{:url('payment/go_pay')}?order_sn={$order_sn}&session={$mastercard_session}&sessionVersion="+sessionVersion+"&payment=" + payment + "/contribution_price/" + contribution_price;
    }

    Checkout.configure({
        merchant: 'TEST936666007',
        order: {
            amount: function() {
                //Dynamic calculation of amount
                return {$order_payableprice};
                //return 0.01;
            },
            currency: 'HKD',
            description: 'Ordered goods',
            id: "{$order_info['order_sn']}"
        },
        session:{
            id:'{$mastercard_session}',
            //version: '7c08beb008'
        },
        interaction: {
            merchant: {
                name: 'Your merchant name',
                address: {
                    line1: '200 Sample St',
                    line2: '1234 Example Town'
                }
            }
        }
    });
</script>


<script type="text/javascript">
    payform();
    function payform(){
        // jquery 表单提交
        $.message({message:'正在支付 <img src="__TMPL_PUBLIC__/img/loading.gif" style="width: 20px;margin-left: 10px;" />',type:'success',time:'5000'});
        var payment = {$payment};
        if(payment == 3 ||payment == 4){
            Checkout.showLightbox();
            return false;
        }
        $("#pay-form").ajaxSubmit(function(data) {
            console.log(data);
            if(data.code == 0){
                $.message({message:data.msg,type:'warning',time:'3000'});
            }else{
                window.location = data.url
                // $.message(data.msg);
                // setTimeout(function () {
                //     window.location = data.url
                // },1500);
            }
        });
        return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
    }
</script>
</body>
</html>