<a href="javascript:history.back(-1);" class="btn btn-primary" style="margin-bottom: 10px;"><i class="fa fa-mail-reply"></i> 返回上一页</a><br>
<h3>訂單信息</h3>
<table class="table table-striped">
    <thead>
        
    </thead>
    <tbody  class="col-xs-6 col-sm-6">
        <tr class="col-xs-6 col-sm-6">
            <th>訂單ID：</th>
            <td>{$order.order_sn}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>下單日期：</th>
            <td>{$order.addtime}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>用戶ID：</th>
            <td>{$order.user_id}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>用戶名：</th>
            <td>{$order.username}</td>
        </tr> 
        <tr class="col-xs-6 col-sm-6">
            <th>支付方式：</th>
            <td>{$payment[$order['payment']]}</td>
        </tr> 
        <tr class="col-xs-6 col-sm-6">
            <th>應付金額：</th>
            <td>{$order['all_total'] + $order['freight'] - $order['integral_price'] - $order['coupon_price']}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>服務費：</th>
            <td>0</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>捐款金額：</th>
            <td>{$order.contribution_price}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>運費：</th>
            <td>{$order.freight}</td>
        </tr>

        <tr class="col-xs-6 col-sm-6">
            <th>积分抵扣金額：</th>
            <td>{$order.integral_price}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>訂單總金額：</th>
            <td>{$order.all_total}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>商品數量：</th>
            <td>{$order.all_goods_num}</td>
        </tr>

        <tr class="col-xs-6 col-sm-6">
            <th>優惠券：</th>
            <td>{$order.coupon_name}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>優惠金額：</th>
            <td>{$order.coupon_price}</td>
        </tr>
    </tbody>
</table>
<h3>配送信息</h3>
<table class="table table-striped col-sm-4">
    <thead>
        
    </thead>
    <tbody class="col-xs-6 col-sm-6">
        <tr class="col-xs-6 col-sm-6">
            <th>收貨人：</th>
            <td>{$order.address_username}</td>
        </tr>
        <tr class="col-xs-6 col-sm-6">
            <th>聯繫電話：</th>
            <td>{$order.address_phone}</td>
        </tr>
        <tr class="col-xs-12 col-sm-12">
            <th>收貨地址：</th>
            <td>{$order.address}</td>
        </tr>
        <tr class="col-xs-12 col-sm-12">
            <th>訂單狀態：</th>
            <td>{$pay_status[$order['pay_status']]}</td>
        </tr> 
    </tbody>
</table>

<h3>配送信息</h3>
<table class="table table-striped">
    <thead>
      
    </thead>
    <tbody>
    {foreach name="$goods_list" item="vo"}
        <tr>
            <td>{$key+1}</td>
            <td>{$vo.product_name}</td>
            <td>貨品ID:{$vo.goods_sn}</td>
            <td>產品型號：{$vo.place_origin}</td>
            <td>×{$vo.goods_num}</td>
        </tr>
    {/foreach}
    </tbody>
</table>

<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-6 col-sm-2">
        <button type="reset" class="btn btn-success btn-callback">审核通过</button>
    </div>
    <div class="col-xs-6 col-sm-2">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>