{include file="layout/public_head" /}
<!--头部 str-->
{include file="common/header"/}
<!--头部 end-->
<!-- 导航 str-->
{include file="common/nav"/}
<!--导航 end-->
  <style type="text/css">
	  .shopping_cart .cart-item-list {vertical-align: middle;line-height: 110px;border: 1px solid #e5e5e5;border-top:0;}
	  .btn-default-edit{margin-bottom: 1em;background-color: #7dbe43;color: #fff;border-color: #f5f5f5;border-radius: 5px;border:1px solid #fff;}
	  .btn-warning-edit{border-color: #fff;background-color: #fff;color: #f0ad4e;border-radius: 5px;border: 0;}
  </style>
	<body style="background: url(__TMPL_PUBLIC__/img/index_bg.jpg) repeat-y;">

	 <div class="container shopping_cart" style="padding: 0 30px;">
	
		<div class="row topstate">
			<div class="alzx-crumbs alzx-crumbs-f1"> 
	  			<div class="alzx-con"> 
					<a class="crumbs-01" href="#">主頁</a> 
		          <em>&gt;</em> 
		          <span class="crumbs-02">購物車</span> 
		  		</div> 
	  		
	  		</div>
			<ul class="row">
				<li class="col-md-3 col-sm-3 on0" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc1_w.png" />購物車</li>
				<li class="col-md-3 col-sm-3 on1" style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc2_w.png" />確認訂單</li>
				<li class="col-md-3 col-sm-3 " style=""><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc3.png" />支付</li>
				<li class="col-md-3 col-sm-3 " style="background-image: url();"><img src="__TMPL_PUBLIC__/img/shopping_cart_top_lc4.png" />訂單完成</li>
			</ul>
		</div>

<form action="{:url('cart/action_cart')}"  method="post" enctype="multipart/form-data" onsubmit="return orderform()" id="order-form">
		<div class="item-address">
			<h4>確認收貨地址</h4>
			<ul class="row">
				{foreach name="address_list" item="vo"}
				<li class="row li {$vo['default']==1?'on':'1'}" style="" data-id="{$vo.id}">
					<div class="col-md-10 col-sm-9" style="">
						<span class="bold" id="name">{$vo.name}	{:format_phone($vo['phone'])}</span>
						<p id="address">{:sp_region_value($vo['province'],'name')}{:sp_region_value($vo['city'],'name')}{:sp_region_value($vo['district'],'name')}{$vo.address}</p>
					</div>
					<div class="col-md-2 col-sm-3 asright" style="">
						<a href="{:url('user/address_list',array('id'=>$vo['id']))}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>修改</a>
						<a href="{:url('user/address_delete',array('id'=>$vo['id']))}" class="js-ajax-delete" onclick="return false;">删除</a>
					</div>
				</li>
					<?php
						if($vo['default']==1){
							$address_default_id=$vo['id'];
						}
					?>
				{/foreach}
				<li class="row" style="text-align: center;padding:20px;">
					<a href="{:url('user/address_list',array('close'=>1,'code'=>base64_encode(json_encode($order_list,true))))}" target="_self">
						<i class="fa fa-plus" aria-hidden="true"></i>
						添加新的收貨地址
					</a>
				</li>
				<input type="hidden" name="address_id" id="address_id" value="{$address_default_id|default='0'}">
			</ul>
		</div>
		<h4>訂單詳情</h4>
		<div class="row item-single color_75 bgcolor_e5" style="border-top: 2px solid #666666;"> 
				<div class="col-md-4 col-sm-4" style="">商品</div>
				<div class="col-md-2 col-sm-2" style=""></div>
				<div class="col-md-2 col-sm-2" style="">價格</div>
				<div class="col-md-2 col-sm-2" style="">購買數量	</div>
				<div class="col-md-2 col-sm-2 " style="">小計</div>
		</div>
		{foreach name="order_list" item="vo"}
		<input type="hidden"  name="goods_id[]" value="{$vo.goods_id}" />
		<input type="hidden"  name="goods_num[]" value="{$vo.goods_num}" />
		<div class="row cart-item-list">
				<div class="col-md-4 col-sm-6 t2" style=""> 
					<div class="row">
						<img src="__PUBLIC__/{$vo.cover}" class="col-md-5 col-xs-5 auto_img">
						<p class="col-md-6 col-xs-6">
							<span class="color_75 bold">{$vo.product_name}&nbsp;&nbsp;&nbsp;&nbsp;{$vo.place_origin}</span>
							產品型號：{$vo.freight_num}
						</p>
					</div> 
				</div>
				<div class="col-md-2 col-sm-0" style=""></div>
				<div class="col-md-2 col-sm-2 color_ro bold" style="">$ {:number_format($vo['price'],2)}</div>
				<div class="col-md-2 col-sm-2" style="">
					{$vo.goods_num}
				</div>
				<div class="col-md-2 col-sm-2 color_ro bold" style="">$ {:number_format($vo['money_total'],2)}</div>
		</div>
		 {/foreach}

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12 border_1" style="text-align: right;padding:20px">
				<span class="color_ro">{$num}</span>件商品, 總計: <span class="color_ro">$ {:number_format($all_total,2)}</span>
			</div>
			<?php
				$config_score = config('site')['integral']['use'];
				$score_price =$user['score']/$config_score;
			?>
			<div class="col-md-12 border_1" style="padding:20px">
				<p style="display: inline-block;">
					<input type="checkbox" class="checkbox" name="integral" data-scoreprice="{$score_price}" id="score_price"/>您當前有<span class="color_ro bold">{$user.score}</span>積分，可抵扣<span class="color_ro bold">${:number_format($score_price,2)}</span>
				</p>
				<p style="font-size:22px;text-align: right;display: inline-block;float:right;">合計 (不含運費)：<span class="color_ro">$ {:number_format($all_total,2)}</span></p>
				<p style="">
					<input type="text" class="checkbox" name="coupon" placeholder="請輸入優惠碼" style="width: 200px;padding: 5px;height: 30px;" value="HKSR-EC-102108" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9/\-\/]/g,'')"/>
					<a href="javascript:;" class="btn-warning-edit cx_coupon" style="background: #eee;color: #666666;padding: 5px 15px;" id="cx_coupon">确定</a><br>
					<span class="color_ro bold" id="coupon_tip"></span>
				</p>
			</div>
		</div>
		<div class="row cart-item-footer" style="padding: 20px;">
			<div class="col-md-8" style="" id="on_address">
				{foreach name="address_list" item="vo"}
				{if condition="$vo['default']"}
					收件人：{$vo.name} {$vo.phone}<br>
					收件地址：{:sp_region_value($vo['province'],'name')}{:sp_region_value($vo['city'],'name')}{:sp_region_value($vo['district'],'name')}{$vo.address}
				{/if}
				{/foreach}
			</div>
			<div class="col-md-4" style="float: right;text-align: right;">
				商品總計: <span>$ {:number_format($all_total,2)}</span><br/>
				運費: <span id="freight" data-price="{$freight}" >$ {:number_format($freight,2)}</span><br/>
				偏遠地區服務費: <span id="serviceprice" data-price="0">$ 0</span><br/>
				積分抵扣: <span id="score_price_text" data-price="0">$ 0</span><br/>
				优惠: <span id="coupon_price" data-price="0" >$ 0</span><br/>
				<p>應付款：<span  style="font-size:22px " id="all_total" data-alltotal="{$all_total}">$ {:number_format($all_total+$freight,2)}</span></p>
				<div class="row" style="padding:10px 0 ">
                   <div class="col-md-6" style="">
					   <a href="{:url('index/index')}">
                        <button type="button" class="btn-default-edit" style="">繼續購物</button>
					   </a>
                    </div>
                     <div class="col-md-6" style="">
                        <button type="submit" class="btn-warning-edit">提交訂單</button>
                    </div>
                </div>
			</div>
		</div>
</form>
</div>
 {include file="common/footer" /}
 <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
 <script src="__TMPL_PUBLIC__/js/scripts.js"></script>
 {include file="common/script" /}
<script type="text/javascript">
	$(function(){

		var address_id = $('#address_id').val();
		if(address_id){
            service_price(address_id);
		}
		 $('.item-address .li').each(function(){
		  $(this).click(function(){
			$(this).addClass("on").siblings().removeClass("on");
              $('#on_address').html('收件人：' + $(this).find('#name').text() + '<br>收件地址：' +$(this).find('#address').text())
              $('#address_id').val($(this).data('id'));
              service_price($(this).data('id'));
		   });
		 });

        $("input[type=checkbox]").click(function(){
            var scoreprice = $(this).data("scoreprice").toFixed(2);
            var freight = $('#freight').data("price").toFixed(2);
            var scoreprice = $(this).data("scoreprice").toFixed(2);
            var serviceprice = $('#serviceprice').data("price").toFixed(2);
            var coupon_price = Number($('#coupon_price').data("price")).toFixed(2);
            var all_total = $('#all_total').data("alltotal").toFixed(2);

            if($(this).attr("checked")){
                $(this).removeAttr("checked");
                $('#score_price_text').text('$ 0') ;
                $('#all_total').text('$ ' + (Number(all_total)+Number(freight)+Number(serviceprice)-Number(coupon_price))) ;
            }else {
                //應付款金额
                var  payable = (Number(all_total)-Number(scoreprice)+Number(freight));
                if (Number(scoreprice) > (Number(all_total))){
                    payable = 0;
                }
				$(this).attr("checked","true");
               $('#score_price_text').text('$ ' + scoreprice) ;
               $('#all_total').text('$ ' + payable) ;
            }
        });

        $("#cx_coupon").click(function(){
				var coupon = $('input[name=coupon]').val();
				var all_total = '{$all_total}';
				var goods_json = '{$goods_json}';
				$.ajax({
					type: "POST",
					url:"{:url('api/user/cx_coupon')}",
					data:{'coupon':coupon,'all_total':all_total,'goods_json':goods_json},
					dataType:"json",
					success: function(data){
                        if(data.code == 0){
                            $.message({message:data.msg,type:'warning',time:'3000'});
                            $('#coupon_tip').text(data.msg).show().delay(2000).hide(0);
                        }else{
                            $.message(data.msg);
                            $('#coupon_tip').text(data.data.coupon_name);
                            if(data.data.coupon_price){
                                $('#coupon_price').data("price",data.data.coupon_price).text('$ ' + data.data.coupon_price);
							}
                            sum_price();
                        }
					},
        		});
		});
    });

    function service_price(address_id){
        $.ajax({
            type: "POST",
            url:"{:url('api/user/api_cx_service_price')}",
            data:{'address_id':address_id},
            dataType:"json",
            success: function(data){
                if(data.code == 1){
                    var service_price = data.data.service_price;
                    $('#serviceprice').data("price",service_price).text('$ ' + Number(service_price).toFixed(2));
                    sum_price();
                }
            },
        });
    }

    function sum_price(){
        var freight = Number($('#freight').data("price")).toFixed(2);
        var serviceprice = Number($('#serviceprice').data("price")).toFixed(2);
        var coupon_price = Number($('#coupon_price').data("price")).toFixed(2);
        var all_total = $('#all_total').data("alltotal").toFixed(2);

        $('#all_total').text('$ ' + (Number(all_total)+Number(freight)+Number(serviceprice)-Number(coupon_price)).toFixed(2)) ;
    }


    function orderform(){
        //console.log($('#cart-form').serializeArray());
        var address_id = $('#address_id').val();
        if(address_id == ''){
            $.message({message:'請選擇收貨地址！',type:'warning',time:'3000'});
            return false;
        }
        if(address_id == 0){
            $.message({message:'你還沒有添加收貨地址！',type:'warning',time:'3000'});
            return false;
        }

        // jquery 表单提交
        $("#order-form").ajaxSubmit(function(data){
            console.log(data);
           // var data = $.parseJSON(data);
            if(data.code == 0){
                $.message({message:data.msg,type:'warning',time:'3000'});
            }else{
                $.message(data.msg);
                setTimeout(function (){
                     window.location = data.url;
                },1000);
            }
        });
        return false; //必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
    }

    function refersh_window() {
        var pageFresh  = $.cookie("orderok-refresh");
        if (pageFresh) {
            $.cookie('orderok-refresh', '');
            window.location.reload();
        }
        console.log(pageFresh);
    }

    setInterval(function() {
        refersh_window();
    }, 2000);
</script>
</body>
</html>