
	<div class="cooperation row">

	  <div class="container">
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags1.jpg" /></a>            
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags2.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags3.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags4.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags5.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags6.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags7.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"><img src="__TMPL_PUBLIC__/img/footer_tags8.jpg" /></a>
		<a href="" target="_blank" class="col-md-1 col-xs-1"  style="border: 0"><img src="__TMPL_PUBLIC__/img/footer_tags9.jpg" /></a>

	  </div>     
	</div>
	<div class="footer"> 
 
       <div class="container" style="padding:2em  0 ">
          <div class="row footer-top"> 
                <div class="col-md-2  col-xs-5">
                  <h4>關於營康薈</h4>
                  <ul class="list-unstyled">
                    <li>「營康薈」是「香港復康會」屬下的社會企業，於2013年9月正式成立，現於油塘大本型商場設立第一家。除了基本的有機食品及健康產品外，我們更有提供不同的獨特食療組合及專業儀器發售，讓大眾有更多選擇。</li> 
                  </ul>
                </div>
                <div class="col-md-2  col-xs-5">
                  <h4>營康薈門市</h4>
                   <a href="{:url('index/page',array('id'=>113))}" target="_blank">
                      <ul class="list-unstyled">
                        <li>油塘大本型商場分店<br><br></li>
                        <li>地址: 九龍油塘高超道38號大本型商場2樓228號舖 (小型零售地帶)<br><br></li>
                        <li>營業時間: 逢星期一至日 早上11時正 至 晚上 9時30分</li>
                      </ul>
                   </a>
                </div>
                <div class="col-md-1  col-xs-5">
                  <h4>職位空缺</h4>
                  <a href="{:url('index/page',array('id'=>109))}" target="_blank">
                      <ul class="list-unstyled">
                        <li>店務助理</li>
                        <li>Shop Assistant <br>(全職/兼職)</li>
                      </ul>
                  </a>
                </div>
                <div class="col-md-2 col-xs-5">
                  <h4>會員優惠</h4>
                    <a href="{:url('index/page',array('id'=>110))}" target="_blank">
                      <ul class="list-unstyled">
                        <li>顧客可親臨本店登記成為會員，費用全免，購物即享優惠！</li>
                        <li>– 獲取購物積分<br>– 其他會員限定獎賞網上會員登記服務即將開放</li>
                      </ul>
                  </a>
                </div>
                <div class="col-md-2 col-xs-5">
                  <h4>聯絡我們</h4>
                  <ul class="list-unstyled">
                    <li><a href="{:url('index/page',array('id'=>108))}" target="_blank"><img src="__TMPL_PUBLIC__/img/footer_lx1.jpg" /> 九龍油塘高超道38號大<br>本型商場2樓228號鋪</a></li>
                    <li><a href="{:url('index/page',array('id'=>108))}" target="_blank"><img src="__TMPL_PUBLIC__/img/footer_lx2.jpg" /> (852) 2717  2727</a></li>
                    <li><a href="{:url('index/page',array('id'=>108))}" target="_blank"><img src="__TMPL_PUBLIC__/img/footer_lx3.jpg" /> (852) 2717  2727</a></li>
                    <li><a href="https://www.livesmart.com.hk" target="_blank" style="font-size:12px;"><img src="__TMPL_PUBLIC__/img/footer_lx4.jpg" /> http://www.livesmart.com.hk</a></li>
                    <li><a href="mailto:livesmart_enquiry@wahhong.hk" target="_blank"><img src="__TMPL_PUBLIC__/img/footer_lx5.jpg" /> livesmart_enquiry@wa<br>hhong.hk</a></li>
                    <li><a href="https://www.facebook.com/livesmart.hksr" target="_blank"><img src="__TMPL_PUBLIC__/img/footer_lx6.jpg" /> http://www.facebook.<br>com/livesmart.hksr</a></li>
                  </ul>
                </div>
                <div class="col-md-3 messagecss  col-xs-5">
                  <h4>商務合作</h4>
                  <ul class="list-unstyled">
                    <li>
                        <form action="{:url('index/message')}" method="post" enctype="multipart/form-data" onsubmit="return messageform()" id="message-form">
                        <div class="form-group">
                          <label>聯絡電話：</label>
                          <input type="text" class="form-control"  placeholder="" name="phone" required oninvalid="setCustomValidity('請輸入聯絡電話！')" oninput="setCustomValidity('')">
                        </div>
                        <div class="form-group">
                          <label>聯絡人：</label>
                          <input type="text" class="form-control"placeholder="" name="name" required oninvalid="setCustomValidity('請輸入聯絡人！')" oninput="setCustomValidity('')">
                        </div>
                        <div class="form-group">
                          <label>諮詢內容：</label>
                          <textarea class="form-control" rows="3" cols="30" placeholder="" name="content" required oninvalid="setCustomValidity('請輸入咨詢內容！')" oninput="setCustomValidity('')"></textarea>
                            <button class="btn btn-default">
                                發  送
                            </button>
                        </div>
                        </form>
                      </li>
                  </ul>
                </div>
          </div> 
        </div>
	</div>
    <!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->

    <div id="ciKiNo" style="z-index:100;position:fixed"></div>
    <div id="scKiNo" style="display:inline;position:  fixed;right: 0;bottom: 0;"></div>
    <div id="sdKiNo" style="display:none"></div>
    <script type="text/javascript">var seKiNo=document.createElement("script");seKiNo.type="text/javascript";var seKiNos=(location.protocol.indexOf("https")==0?"https":"http")+"://image.providesupport.com/js/11ix1prv4xw9a0jlyk9gu7m2o6/safe-standard.js?ps_h=KiNo&ps_t="+new Date().getTime();setTimeout("seKiNo.src=seKiNos;document.getElementById('sdKiNo').appendChild(seKiNo)",1)</script><noscript><div style="display:inline"><a href="http://www.providesupport.com?messenger=11ix1prv4xw9a0jlyk9gu7m2o6">Chat Support</a></div></noscript>

    <!-- END ProvideSupport.com Graphics Chat Button Code -->

    {if condition="empty(sp_ip_ischina())"}

    <!--<script src="https://apis.google.com/js/api:client.js"></script>-->
    <script src="__TMPL_PUBLIC__/js/api_client.js"></script>
    <script>
        $('#logout').click(function(){
            // {if condition="$user['platform'] eq 'google'"}
            //     disconnectUser();
            // {/if}
            // {if condition="$user['platform'] eq 'facebook'"}
            //     fbLogoutUser();
            // {/if}
        });
        // 谷歌登录
        var googleUser = {};
        var startApp = function() {
            gapi.load('auth2', function(){
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '984354453837-fqkrscs30go99qabpps4mhi8bur8fd6p.apps.googleusercontent.com', //客户端ID
                    cookiepolicy: 'single_host_origin',
                    scope: 'profile' //可以请求除了默认的'profile' and 'email'之外的数据
                });
               // attachSignin(document.getElementById('customBtn'));
            });
        };

        startApp();
        // // 取消与应用关联的代码
        // function disconnectUser(){
        //     var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + gapi.auth.getToken().access_token;
        //     $.ajax({
        //         type: 'GET',
        //         url: revokeUrl,
        //         async: false,
        //         contentType: "application/json",
        //         dataType: 'json',
        //         success: function(nullResponse) {
        //             // 成功以后隐藏登录信息
        //             //alert("退出成功！");
        //         },
        //         error: function(e) {
        //             //alert("取消關聯失敗！請到 https://plus.google.com/apps 手动解除！");
        //             //window.open("https://plus.google.com/apps");
        //         }
        //     });
        // }

        // function fbLogoutUser() {
        //     FB.login(function(response){
        //         if (response && response.status === 'connected') {
        //             FB.logout(function(response) {
        //                 document.location.reload();
        //             });
        //         }
        //     });
        // }

        window.fbAsyncInit = function(){
            FB.init({
                appId      : '1026828720830894',
                cookie     : true,
                xfbml      : true,
                version    : 'v3.1'
            });

            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
{/if}