<script src='__PUBLIC__/assets/js/message/messageIE.js'></script>
<script src='__PUBLIC__/assets/js/message/message.js'></script>
<script src='__PUBLIC__/assets/js/message/messageIE.js'></script>
<script>
/* 加入购物车 */
$(".adds,#adds").click(function(){
        var product_id = $(this).data('productid');
        var name = $(this).data('name');
        $.ajax({
                type: "POST",
                url: "{:url('cart/checkin_cart')}",
                 dataType: 'json',
                data:{product_id:product_id},
              success: function(data) {
                if (data.code) {
                    $.message(data.msg);
                    $('.shopping span').text(Number(data.total));
                }else{
                    $.message({message:data.msg,type:'warning',time:'3000'});
                }
            }
        });
});




    function getBasePath(){
        var obj=window.location;
        var contextPath=obj.pathname.split("/")[1];
        var basePath="/"+contextPath;
        return basePath;
    }

    /* 公共get */
    $(".js-ajax-operation").click(function(){
        var url = $(this).attr('href');
        $.ajax({
            type: "GET",
            url: url,
            dataType:"json",
            success: function(data) {
                if(data.code == 0){
                    $.message({message:data.msg,type:'warning',time:'3000'});
                }else{
                    $.message(data.msg);
                    setTimeout(function () {
                        window.location.reload()
                    },500);
                }
            }
        });
    });

    /*删除*/
    $(".js-ajax-delete").click(function(){
        var url = $(this).attr('href');
        if(confirm("确定要刪除吗？")){
            $.ajax({
                type: "GET",
                url: url,
                dataType:"json",
                success: function(data) {
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location.reload()
                        },500);
                    }
                }
            });
        }

    });


</script>
