<script src='__PUBLIC__/assets/js/message/messageIE.js'></script>
<script src='__PUBLIC__/assets/js/message/message.js'></script>
<script src='__PUBLIC__/assets/js/message/messageIE.js'></script>
<script src="__TMPL_PUBLIC__/js/jquery.cookie.min.js"></script>
<script src="__CDN__/assets/js/languagev2.js"></script>
<script>


    zh_tran('{$language|default="t"}');
    /* 第一次加载 */
    $(document).ready(function() {
        auto_img();
        if($('#language_plus').data('language') == 's'){
            setTimeout(function () {
                $('#language_plus').text('繁體中文');
            },1000);
        }else{
            setTimeout(function () {
                $('#language_plus').text('简体中文');
            },1000);
        }

    });

    /* 窗口移动 */
    $(window).resize(function (){
        auto_img();
    });

    $("#language_plus").click(function(){
            if($(this).data('language') == 't'){
                zh_tran('s');
                $(this).data('language','s');
                $(this).text('繁體中文');
            }else{
                zh_tran('t');
                $(this).data('language','t');
                $(this).text('简体中文');
            }
            $.ajax({
                type: "get",
                url: "{:url('index/language')}",
                dataType: 'json',
                success: function(data) {

                }
            });
    });

    function auto_img(){
        $('.auto_img').each(function() {
           //
           //  var width = $(this).width();
           //  var height = $(this).height();
           //
           //  //  $(this).hide();
           //
           // // $(this).prepend("<b>Prepended text</b>. ");
           //
           //
           //
            var width = $(this).width();    // 图片实际宽度
            $(this).css('height',parseInt(width));    // 图片实际宽度
        });
 
    }
    /* 加入购物车 */
    $(".adds,#adds").click(function(){
            var product_id = $(this).data('productid');
            var number = $(this).data('number');
            var name = $(this).data('name');
            var flyimg = $(this).data('flyimg');
            var img = $('#img_' + product_id);
            if(number == '' ){var number = 1;}else{ var number = $("#text_box").val();}
            $.ajax({
                type: "POST",
                url: "{:url('cart/checkin_cart')}",
                dataType: 'json',
                data:{product_id:product_id,number:number},
                success: function(data) {
                    if (data.code) {
                        $.message(data.msg);
                        $('.shopping span').text(Number(data.total));

                        // 飞入效果
                        if(flyimg){
                            var flyElm = img.clone().css('opacity','0.7');
                            flyElm.css({
                                'z-index': 9000,
                                'display': 'block',
                                'position': 'absolute',
                                'b': 'absolute',
                                'top': img.offset().top +'px',
                                'left': img.offset().left +'px',
                                'width':img.width() +'px',
                                'height':img.height() +'px'
                            });
                            $('body').append(flyElm);
                            flyElm.animate({
                                top:$('.shopping').offset().top,
                                left:$('.shopping').offset().left,
                                width:0,
                                height:0,
                                opacity:0,
                            },'slow');
                        }

                    }else{
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }
                }
            });
    });
    function getBasePath(){
        var obj=window.location;
        var contextPath=obj.pathname.split("/")[1];
        var basePath="/"+contextPath;
        return basePath;
    }

    /* 公共get */
    $(".js-ajax-operation").click(function(){
        var url = $(this).attr('href');
        var location = $(this).data('location');
        $.ajax({
            type: "GET",
            url: url,
            dataType:"json",
            success: function(data) {
                if(data.code == 0){
                    $.message({message:data.msg,type:'warning',time:'3000'});
                }else{
                    $.message(data.msg);
                    setTimeout(function () {
                        if(location == false){
                            return false;
                        }
                        if(data.url){
                            window.location = data.url;
                        }else {
                            window.location.reload()
                        }
                    },500);
                }
            }
        });
    });

    /*删除*/
    $(".js-ajax-delete").click(function(){
        var url = $(this).attr('href');
        if(confirm("確定要删除嗎？")){
            $.ajax({
                type: "GET",
                url: url,
                dataType:"json",
                success: function(data) {
                    if(data.code == 0){
                        $.message({message:data.msg,type:'warning',time:'3000'});
                    }else{
                        $.message(data.msg);
                        setTimeout(function () {
                            window.location.reload()
                        },500);
                    }
                }
            });
        }
    });
</script>
