<style type="text/css">
   
    .bg_fff{background:#fff;padding: 20px;padding-top: 5px;}
    .notable tr{background-color:#fff !important;}
    .notable td{border-top:0 !important;}
    .notable th{border-top:0 !important;}
    h4{font-weight: bold;}

</style>
<div class="bg_fff">
    <h4>用戶信息</h4>
    <table class="table table-striped col-sm-4 notable">
        <thead>

        </thead>
        <tbody class="col-xs-12 col-sm-12">
            <tr class="col-xs-4 col-sm-4">
                <th>用戶名：</th>
                <td>{$row.username}</td>
            </tr>
            <tr class="col-xs-4 col-sm-4">
                <th>用戶ID：</th>
                <td>{$row.id}</td>
            </tr>
            <tr class="col-xs-4 col-sm-4">
                <th>出生日期：</th>
                <td>{$row.birthday}</td>
            </tr>
            <tr class="col-xs-4 col-sm-4">
                <th>注册類型：</th>
                <td>普通</td>
            </tr> 
            <tr class="col-xs-4 col-sm-4">
                <th>電郵：</th>
                <td>{$row.email}</td>
            </tr> 
            <tr class="col-xs-4 col-sm-4">
                <th>手機號碼：</th>
                <td>{$row.mobile|default='未填写'}</td>
            </tr> 
            <tr class="col-xs-4 col-sm-4">
                <th>用戶類型：</th>
                <?php
                    $level = array('0'=>'普通会员','1'=>'白金会员','2'=>'金牌会员','3'=>'商业会员');
                ?>
                <td>{$level[$row['level']]}</td>
            </tr> 
            <tr class="col-xs-4 col-sm-4">
                <th>積分：</th>
                <td>{$row.score}</td>
            </tr> 
            <tr class="col-xs-4 col-sm-4">
                <th>本月失效積分：</th>
                <td>666</td>
            </tr> 
        </tbody>
    </table>
    <div style="clear:both"></div>
    <h4 >收货地址</h4>
    <table class="table table-striped notable">
        <thead>
           
        </thead>
        <tbody>
            {foreach name="address_list" item="vo"}
                <tr>
                    <td>{$key+1}</td>
                    <td>收貨人姓名：{$vo.name}</td>
                    <td>聯繫電話：{$vo.phone}</td>
                    <td>收貨地址：{$vo.country}{$vo.province}{$vo.city}{$vo.address}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>

<div class="bg_fff" style="margin-top: 20px;">
    <h4>訂單信息</h4>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>訂單ID</th>
              <th>日期</th>
              <th>收货地址</th>
              <th>訂單金額</th>
              <th>訂單狀態</th>
              <th>實付金額</th>
              <th>支付狀態</th>
              <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {foreach name="order_list" item="vo"}
            <tr>
                <td>{$vo.order_sn}</td>
                <td>{$vo.addtime}</td>
                <td>收貨人姓名：{$vo.address_info.name}</td>
                <td>聯繫電話：{$vo.address_info.phone}</td>
                <td>收貨地址：{$vo.address}</td>
                 <td>$ {:number_format($vo.all_money_total,2)}</td>
                 <td>已付款</td>
                 <td><a>查看详情</a></td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>



